force-app/main/default/flows/Approximate_DOB_Monthly_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert</name>
        <label>Alert</label>
        <locationX>50</locationX>
        <locationY>1884</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Approximate_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>DOB is approximate and should be updated, please update and uncheck the Approximate DOB checkbox</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Person_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_service_case_IDs</name>
        <label>Assign service case IDs</label>
        <locationX>270</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>serviceCaseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_jn_persons.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_jn_persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_worker_IDs</name>
        <label>Assign worker IDs</label>
        <locationX>138</locationX>
        <locationY>1572</locationY>
        <assignmentItems>
            <assignToReference>recipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_assignment_records.Select_a_Social_Worker__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_assignment_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_day_difference</name>
        <label>Check day difference</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_difference_equals_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Days_Difference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Jn_Persons</targetReference>
            </connector>
            <label>If difference equals 30</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Case_Status</name>
        <label>Check Service Case Status</label>
        <locationX>182</locationX>
        <locationY>972</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_open_service_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_notification</targetReference>
            </connector>
            <label>If open service case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_workers</name>
        <label>Check workers</label>
        <locationX>270</locationX>
        <locationY>1452</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_assignment_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_assignment_records.Select_a_Social_Worker__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_worker_IDs</targetReference>
            </connector>
            <label>If active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Days_Difference</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATEVALUE({!$Record.Approximate_DOB_Changed_time__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Person_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} &amp; &apos; &apos; &amp;{!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Approximate DOB - Monthly notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approximate DOB - Monthly notification</label>
    <loops>
        <name>Iterate_through_assignment_records</name>
        <label>Iterate through assignment records</label>
        <locationX>50</locationX>
        <locationY>1332</locationY>
        <collectionReference>Get_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_workers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_jn_persons</name>
        <label>Iterate through jn persons</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Jn_Persons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_service_case_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignment</name>
        <label>Get Assignment</label>
        <locationX>50</locationX>
        <locationY>1212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_assignment_records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_cases.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Responsibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative</stringValue>
            </value>
        </filters>
        <filters>
            <field>Responsibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Family</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assignment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Jn_Persons</name>
        <label>Get Jn Persons</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_jn_persons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notification</name>
        <label>Get notification</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Need to change this as bulk</description>
        <name>Get_Service_cases</name>
        <label>Get Service cases</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>serviceCaseIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Case__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approximate_Date</name>
        <label>Update Approximate Date</label>
        <locationX>50</locationX>
        <locationY>2004</locationY>
        <inputAssignments>
            <field>Approximate_DOB_Changed_time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_day_difference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approximate_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-24</startDate>
            <startTime>06:05:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceCaseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
