force-app/main/default/flows/Assessment_Count_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Open_and_Closed_Task_Count</name>
        <label>Assign Open and Closed Task Count</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>OpenTaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Open_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClosedTaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Closed_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Assessment_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TASK</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Closed_Task</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Closed Task</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Closed_Task</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Assessment_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Closed_Task.Approval_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Open_Task</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Open_Task</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Open Task</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>currentItem_Open_Task_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Assessment_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Open_Task_0.Approval_Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Open_and_Closed_Task_Count</targetReference>
        </connector>
    </collectionProcessors>
    <interviewLabel>Assessment Count Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment Count Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assessment_Records</name>
        <label>Get Assessment Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Task</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assessment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>In_home_completed_Date__c</queriedFields>
        <queriedFields>Approval_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>TASK</name>
        <label>TASK</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TASK_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TASK_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totaltask</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 16px;&quot;&gt;TOTAL TASK :  &lt;/span&gt;&lt;b style=&quot;font-family: serif; color: rgb(240, 16, 16); font-size: 16px;&quot;&gt;{!TotalTaskCount}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TASK_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OPENTASK</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;OPEN TASK : &lt;/span&gt;&lt;b style=&quot;font-size: 16px; font-family: serif; color: rgb(26, 38, 205);&quot;&gt;{!OpenTaskCount}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TASK_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>closedtask</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;CLOSED TASK : &lt;/span&gt;&lt;b style=&quot;font-size: 16px; font-family: serif; color: rgb(14, 221, 76);&quot;&gt;{!ClosedTaskCount}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assessment_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssessmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment__c</objectType>
    </variables>
    <variables>
        <name>ClosedTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Closed_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Open_Task_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment__c</objectType>
    </variables>
    <variables>
        <name>OpenTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
