force-app/main/default/flows/Change_Head_of_household.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_HOH_to_true</name>
        <label>Assign HOH to true</label>
        <locationX>446</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Person_Jn_Record.Head_of_House_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Person</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_object</name>
        <label>Check object</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intake_HOH_Screen</targetReference>
            </connector>
            <label>Intake</label>
        </rules>
        <rules>
            <name>Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Investigation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigation_HOH_Screen</targetReference>
            </connector>
            <label>Investigation</label>
        </rules>
        <rules>
            <name>Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Case_HOH_Screen</targetReference>
            </connector>
            <label>Service Case</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Intake_HOH_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Intake_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Intake_Record.contact__c</elementReference>
            </value>
        </filters>
        <object>Person__c</object>
        <outputAssignments>
            <assignToReference>Person_Jn_Record.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Person__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Investigation_HOH_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Investigation_Record.Head_of_Household__c</elementReference>
            </value>
        </filters>
        <object>Person__c</object>
        <outputAssignments>
            <assignToReference>Person_Jn_Record.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Person__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Service_Case_HOH_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Case_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Service_Case_Record.Head_of_Household__c</elementReference>
            </value>
        </filters>
        <object>Person__c</object>
        <outputAssignments>
            <assignToReference>Person_Jn_Record.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Person__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Change Head of household {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Head of household</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Person</name>
        <label>Update Person</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <inputReference>Person_Jn_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Intake_HOH_Screen</name>
        <label>Intake HOH Screen</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_HOH_to_true</targetReference>
        </connector>
        <fields>
            <name>Head_of_household</name>
            <choiceReferences>Intake_HOH_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Head of household</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Investigation_HOH_Screen</name>
        <label>Investigation HOH Screen</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_HOH_to_true</targetReference>
        </connector>
        <fields>
            <name>Head_of_household_INV</name>
            <choiceReferences>Investigation_HOH_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Head of household</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Case_HOH_Screen</name>
        <label>Service Case HOH Screen</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_HOH_to_true</targetReference>
        </connector>
        <fields>
            <name>Head_of_household_SC</name>
            <choiceReferences>Service_Case_HOH_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Head of household</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Intake_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Investigation_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>Person_Jn_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Service_Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
</Flow>
