force-app/main/default/flows/Child_Removal_End_Date_Flow_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_size_of_collection_filter</name>
        <label>Assign size of collection filter</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Count_Other_Childs_OOH</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Other_Childs_with_OOH_Child</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_records_for_other_Child_with_OOH</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Other_Childs_with_OOH_Child</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Other Childs with OOH - Child</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>currentItem_Other_Childs_with_OOH_Child_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Program_Assignment_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Other_Childs_with_OOH_Child_0.Contact__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>placementRec.Child__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Other_Childs_with_OOH_Child_0.Program_Sub_Area__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Out of Home - Child</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_size_of_collection_filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Permanently_Leaving_Custody</name>
        <label>Check for Permanently Leaving Custody</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Leaving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>placementRec.Exit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanently Leaving Custody and Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Removal_Records</targetReference>
            </connector>
            <label>Is Leaving</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_records_for_other_Child_with_OOH</name>
        <label>Check records for other Child with OOH</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Update_Program_Assignment_End_Date_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Other_Childs_OOH</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Program_Assignment_End_Date</targetReference>
            </connector>
            <label>If exists</label>
        </rules>
    </decisions>
    <description>This flow invoked from Process builder</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Child Removal End Date Flow Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Child Removal End Date Flow Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Removal_Records</name>
        <label>Get Child Removal Records</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Permanently_Leaving_Custody</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementRec.Child_Removal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Child_Removal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Assignment_Records</name>
        <label>Get Program Assignment Records</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Childs_with_OOH_Child</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementRec.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out of Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Removal_Records</name>
        <label>Update Child Removal Records</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Program_Assignment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementRec.Child_Removal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Removal_End_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Child_Removal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Assignment_End_Date</name>
        <label>Update Program Assignment End Date</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementRec.Child__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementRec.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out of Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program_Sub_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out of Home - Child</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Assignment_End_Date_0</name>
        <label>Update Program Assignment End Date</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementRec.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out of Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Assignment__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Removal_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Count_Other_Childs_OOH</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Other_Childs_with_OOH_Child_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>placementRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>UpdatingChildRemovalList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
    <variables>
        <name>UpdatingChildRemovalRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
</Flow>
