force-app/main/default/flows/Child_Removal_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Child_Removal_Approval</name>
        <label>Child Removal Approval</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Supervisor_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Approval</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_All_Checklist_Marked_As_True</name>
        <label>Check All Checklist Marked As True</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Decision_All_Checklist_Marked_As_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckAgeFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckDateFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LegalCustodyFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCitizenFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Object_namespace_Flow</targetReference>
            </connector>
            <label>Decision All Checklist Marked As True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_All_details_for_Approval</name>
        <label>Check All details for Approval</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Legal_Custody_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_Disability_value_and_shelter_autorization_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Shelter_Authorization_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Shelter_Authorization_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Required_Fields_for_Approval_Screen</targetReference>
            </connector>
            <label>Check Disability value and shelter autorization null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Removal_Status_Check</name>
        <label>Child Removal Status Check</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_All_details_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_Child_Removal_already_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Child_Removal_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Submitted_Screen</targetReference>
            </connector>
            <label>Check Child Removal already Submitted</label>
        </rules>
        <rules>
            <name>Check_Child_Removal_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Child_Removal_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Screen</targetReference>
            </connector>
            <label>Check Child Removal is Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckAgeFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!recordId.Child__r.Age__c}), False, IF( {!recordId.Child__r.Age__c}&gt;18, False, True))</expression>
    </formulas>
    <formulas>
        <name>CheckDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!recordId.Child__r.Date_of_Birth__c} &lt;= DATEVALUE({!recordId.Removal_Date_Time__c}), True, False)</expression>
    </formulas>
    <formulas>
        <name>LegalCustodyFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!LegalCustodyRecordId}), False, True)</expression>
    </formulas>
    <formulas>
        <name>PrimaryCitizenFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!recordId.Child__r.Is_a_US_citizen__c}, &apos;Yes&apos;)</expression>
    </formulas>
    <interviewLabel>Child Removal Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Child Removal Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Legal_Custody_Record</name>
        <label>Get Legal Custody Record</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Removal_Checklist_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Child__c</elementReference>
            </value>
        </filters>
        <object>Legal_Custody__c</object>
        <outputAssignments>
            <assignToReference>LegalCustodyRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Removal</name>
        <label>Update Child Removal</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Child_Removal_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supervisor_Approval__c</field>
            <value>
                <elementReference>SupervisorId</elementReference>
            </value>
        </inputAssignments>
        <object>Child_Removal__c</object>
    </recordUpdates>
    <screens>
        <name>Already_Submitted_Screen</name>
        <label>Already Submitted Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadySubmittedMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;This Child Removal Record is already submitted for approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approved_Screen</name>
        <label>Approved Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovedMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;This Child Removal record is already approved.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approver_Screen</name>
        <label>Approver Screen</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Child_Removal</targetReference>
        </connector>
        <fields>
            <name>ApproverLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose the Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>SupervisorApproverField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>ChildRemovalObjectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.ManagerId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SupervisorId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Approval</name>
        <label>Error Approval</label>
        <locationX>1106</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Something went wrong : {!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Removal_Checklist_Screen</name>
        <label>Removal Checklist Screen</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_All_Checklist_Marked_As_True</targetReference>
        </connector>
        <fields>
            <name>ChecklistTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;A Check mark indicates that the activity has been completed. All unchecked items must be completed for removal start date to be saved.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckListCmp</name>
            <extensionName>c:ChildRemovalChecklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>primaryCitizenCheck</name>
                <value>
                    <elementReference>PrimaryCitizenFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childAgeCheck</name>
                <value>
                    <elementReference>CheckAgeFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childDateCheck</name>
                <value>
                    <elementReference>CheckDateFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>legalCustodyCheck</name>
                <value>
                    <elementReference>LegalCustodyFormula</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Required_Fields_for_Approval_Screen</name>
        <label>Required Fields for Approval Screen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlertMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(147, 54, 33);&quot;&gt;Alert!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shelterAuthorizeMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(228, 52, 22);&quot;&gt;Please complete the Shelter Authorization!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Shelter_Authorization_Completed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Shelter_Authorization_Completed__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supervisor_Success_Screen</name>
        <label>Supervisor Success Screen</label>
        <locationX>842</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SupervisorSuccessMsg</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Child Removal information sent to supervisor for approval.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkNamespaceforRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_field_Namespace</name>
        <label>Check field Namespace</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approver_Screen</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Supervisor_Approval__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SupervisorApproverField</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Object_namespace_Flow</name>
        <label>Check Object namespace Flow</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Check_field_Namespace</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Child_Removal__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ChildRemovalObjectName</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>checkNamespaceforRecordId</name>
        <label>checkNamespaceforRecordId</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Child_Removal_Status_Check</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <elementReference>recordId.Child_Removal_Approval_Status__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ChildRemovalObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalCustodyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
    <variables>
        <name>SupervisorApproverField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
