force-app/main/default/flows/Child_Removal_Removal_Metrostops.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh_Standard_Components</name>
        <label>Refresh Standard Components</label>
        <locationX>710</locationX>
        <locationY>5306</locationY>
        <actionName>c:RefreshCmp</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Child_Removal</name>
        <label>Assign Child Removal</label>
        <locationX>710</locationX>
        <locationY>4730</locationY>
        <assignmentItems>
            <assignToReference>Child_Removal.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Child_Rec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Removal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Removal_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Family_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Family_Structure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Where_is_the_child_going_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_is_the_child_going_to_placed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Primary_Caregiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Caregiver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Child_Home_Address_Same_as_Primary_Addre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Home_Address_Same_as_Primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Secondary_Caregiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Caregiver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Factor_At_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Factors_At_Removal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Reasonable_efforts_made_to_prevent_child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reasonable_efforts_made_to_prevent_child</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Narrative_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Narrative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Removal_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Removal_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Child_Removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Caregiver_Address</name>
        <label>Assign Primary Caregiver Address</label>
        <locationX>666</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>Child_Removal.PC_Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Caregiver_Address_Line1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.PC_Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Caregiver_Address_Line_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.PC_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Caregiver_Address_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.PC_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Caregiver_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.PC_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Caregiver_County</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Caregiver_Zipcode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Secondary_Caregiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Caregiver_details</name>
        <label>Assign Primary Caregiver details</label>
        <locationX>446</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Primary_Caregiver_Address_Line1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_primary_caregiver.Person__r.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Caregiver_Address_Line_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_primary_caregiver.Person__r.Address_Line_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Caregiver_Address_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_primary_caregiver.Person__r.Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Caregiver_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_primary_caregiver.Person__r.Address_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Caregiver_County</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_primary_caregiver.Person__r.County_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Caregiver_Zipcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_primary_caregiver.Person__r.Address_ZipCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_primary_caregiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_Caregiver_Address</name>
        <label>Assign Secondary Caregiver Address</label>
        <locationX>600</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>Child_Removal.SC_Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_Address_Line1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.SC_Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_Address_Line2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.SC_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.SC_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.SC_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_County</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Removal.SC_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_Zipcode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Efforts_and_Factors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_Caregiver_details</name>
        <label>Assign Secondary Caregiver details</label>
        <locationX>556</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>SC_Address_Line1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_secondary_caregiver.Person__r.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SC_Address_Line2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_secondary_caregiver.Person__r.Address_Line_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SC_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_secondary_caregiver.Person__r.Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SC_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_secondary_caregiver.Person__r.Address_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SC_County</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_secondary_caregiver.Person__r.County_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SC_Zipcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_secondary_caregiver.Person__r.Address_ZipCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_secondary_caregiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_start_date</name>
        <label>Update start date</label>
        <locationX>94</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Get_Legal_custody.Begin_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Removal_Date_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_legal_custody</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Caregiver_CF</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Caregiver CF</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Caregiver_CF_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Person_Records</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Child_Removal_Screen</targetReference>
        </connector>
        <formula>{!currentItem_Caregiver_CF_0.Person__r.RecordType.DeveloperName} = &apos;Persons_Involved&apos;</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Secondary_Caregivers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Secondary Caregivers</label>
        <locationX>358</locationX>
        <locationY>2342</locationY>
        <assignNextValueToReference>currentItem_Get_Secondary_Caregivers_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Person_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Secondary_Caregivers_0.Person__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>Primary_Caregiver</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>PC_Address</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Selected_Primary_Caregiver</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Selected Primary Caregiver</label>
        <locationX>358</locationX>
        <locationY>1886</locationY>
        <assignNextValueToReference>currentItem_Get_Selected_Primary_Caregiver_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Person_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Selected_Primary_Caregiver_0.Person__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Primary_Caregiver</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_primary_caregiver</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Selected_Secondary_Caregiver</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Selected Secondary Caregiver</label>
        <locationX>468</locationX>
        <locationY>2942</locationY>
        <assignNextValueToReference>currentItem_Get_Selected_Secondary_Caregiver</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Person_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Selected_Secondary_Caregiver.Person__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Secondary_Caregiver</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_secondary_caregiver</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_address_change</name>
        <label>Check address change</label>
        <locationX>358</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Assign_Primary_Caregiver_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_update_Primary_Caregiver_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>View_Updated_Address</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Disability_Record</name>
        <label>Check Disability Record</label>
        <locationX>666</locationX>
        <locationY>4610</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_disability_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Disability_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_Person_s_Disability</targetReference>
            </connector>
            <label>No disability record exists</label>
        </rules>
        <rules>
            <name>If_disability_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Disability_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Child_Removal</targetReference>
            </connector>
            <label>If disability exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_file_upload</name>
        <label>Check file upload</label>
        <locationX>358</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Legal_custody</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_file_uploaded</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Child_Removal.Shelter_Authorization_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Removal.Shelter_Authorization_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_custody</targetReference>
            </connector>
            <label>If file uploaded</label>
        </rules>
        <rules>
            <name>If_file_not_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Removal.Shelter_Authorization_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_upload_required_screen</targetReference>
            </connector>
            <label>If file not uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_legal_custody_updation</name>
        <label>Check legal custody updation</label>
        <locationX>358</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Primary_Caregiver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes_LC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_update_the_Legal_Custody_date_to_the_Removal_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_start_date</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
        <rules>
            <name>If_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_update_the_Legal_Custody_date_to_the_Removal_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Legal_custody</targetReference>
            </connector>
            <label>If no</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Removal_Date</name>
        <label>Check Removal Date</label>
        <locationX>358</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_removal_date_equals_with_legal_custody</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Removal_Date_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Legal_custody.Begin_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Primary_Caregiver</targetReference>
            </connector>
            <label>If removal date equals with legal custody</label>
        </rules>
        <rules>
            <name>If_removal_date_not_equals_with_legal_custody</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Removal_Date_Formula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Legal_custody.Begin_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Custody_Warning_Screen</targetReference>
            </connector>
            <label>If removal date not equals with legal custody</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SC_address_change</name>
        <label>Check SC address change</label>
        <locationX>468</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Assign_Secondary_Caregiver_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes_SC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_update_Secondary_Caregiver_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>View_Updated_SC_Address</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Secondary_Caregiver</name>
        <label>Check Secondary Caregiver</label>
        <locationX>666</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Efforts_and_Factors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_secondary_caregiver_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Caregiver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Secondary_Caregiver</targetReference>
            </connector>
            <label>If secondary caregiver exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Shelter_Authorization</name>
        <label>Check Shelter Authorization</label>
        <locationX>710</locationX>
        <locationY>4970</locationY>
        <defaultConnector>
            <targetReference>Refresh_Standard_Components</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_content_document_value_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Removal.Shelter_Authorization_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Document_Link</targetReference>
            </connector>
            <label>If content document value exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Child_Home_Address_Same_as_Primary_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Child_Home_Address_Same_as_Primary_Addre__c</picklistField>
        <picklistObject>Child_Removal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Factors_at_Removal_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Factor_At_Removal__c</picklistField>
        <picklistObject>Child_Removal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Family_Structure_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family_Structure__c</picklistField>
        <picklistObject>Child_Removal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC</name>
        <collectionReference>Caregiver_CF</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Person__c</object>
        <valueField>Person__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reasonable_Efforts</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reasonable_efforts_made_to_prevent_child__c</picklistField>
        <picklistObject>Child_Removal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Removal_Type_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Removal_Type__c</picklistField>
        <picklistObject>Child_Removal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SC</name>
        <collectionReference>Get_Secondary_Caregivers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Person__c</object>
        <valueField>Person__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Where_is_the_child_going_to_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Where_is_the_child_going_to__c</picklistField>
        <picklistObject>Child_Removal__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Removal_Date_Formula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Removal_Date_Time})</expression>
    </formulas>
    <interviewLabel>Child Removal - Removal Metrostops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Child Removal - Removal Metrostops</label>
    <loops>
        <name>Iterate_through_primary_caregiver</name>
        <label>Iterate through primary caregiver</label>
        <locationX>358</locationX>
        <locationY>2006</locationY>
        <collectionReference>Get_Selected_Primary_Caregiver</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Primary_Caregiver_details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Secondary_Caregivers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_secondary_caregiver</name>
        <label>Iterate through secondary caregiver</label>
        <locationX>468</locationX>
        <locationY>3062</locationY>
        <collectionReference>Get_Selected_Secondary_Caregiver</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Secondary_Caregiver_details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SC_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Removal</name>
        <label>Create Child Removal</label>
        <locationX>710</locationX>
        <locationY>4850</locationY>
        <connector>
            <targetReference>Check_Shelter_Authorization</targetReference>
        </connector>
        <inputReference>Child_Removal</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Link</name>
        <label>Create Document Link</label>
        <locationX>578</locationX>
        <locationY>5090</locationY>
        <connector>
            <targetReference>Refresh_Standard_Components</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Child_Removal.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Disability_Details</name>
        <label>Copy 1 of Get Disability Details</label>
        <locationX>666</locationX>
        <locationY>4490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Disability_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Child_Rec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Disabilities_Special_Needs__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Disability_Details</name>
        <label>Get Disability Details</label>
        <locationX>666</locationX>
        <locationY>4250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Person_s_Disability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Child_Rec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Disabilities_Special_Needs__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Person_Records</name>
        <label>Get Junction Person Records</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caregiver_CF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person_Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Caregiver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_custody</name>
        <label>Get Legal custody</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Removal_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Child_Rec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Legal_Custody__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Begin_Date__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Caregiver_Record</name>
        <label>Get Primary Caregiver Record</label>
        <locationX>50</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PC_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_Caregiver</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Primary_Caregiver_Address_City</assignToReference>
            <field>Address_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Primary_Caregiver_Address_Line1</assignToReference>
            <field>Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Primary_Caregiver_Address_Line_2</assignToReference>
            <field>Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Primary_Caregiver_State</assignToReference>
            <field>Address_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Primary_Caregiver_Zipcode</assignToReference>
            <field>Address_ZipCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Primary_Caregiver_County</assignToReference>
            <field>County_Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Caregiver_Record</name>
        <label>Get Secondary Caregiver Record</label>
        <locationX>336</locationX>
        <locationY>3758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Secondary_Caregiver</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SC_City</assignToReference>
            <field>Address_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_Address_Line1</assignToReference>
            <field>Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_Address_Line2</assignToReference>
            <field>Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_State</assignToReference>
            <field>Address_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_Zipcode</assignToReference>
            <field>Address_ZipCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SC_County</assignToReference>
            <field>County_Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_legal_custody</name>
        <label>Update legal custody</label>
        <locationX>94</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Get_Selected_Primary_Caregiver</targetReference>
        </connector>
        <inputReference>Get_Legal_custody</inputReference>
    </recordUpdates>
    <screens>
        <name>Child_Removal_Screen</name>
        <label>Child Removal Screen</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_file_upload</targetReference>
        </connector>
        <fields>
            <name>Removal_Information</name>
            <fieldText>Removal Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Removal_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Removal_Type</name>
                    <choiceReferences>Removal_Type_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Removal Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Removal_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Removal Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Removal_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Family_Structure</name>
                    <choiceReferences>Family_Structure_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Family Structure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Where_is_the_child_going_to_placed</name>
                    <choiceReferences>Where_is_the_child_going_to_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Where is the child going to placed</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Shelter_Authorization</name>
            <fieldText>Shelter Authorization</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shelter_Authorization_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Child_Removal.Shelter_Authorization_Completed__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shelter_Authorization_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File_Upload_LWC</name>
                    <extensionName>c:fileUploadLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>contentDocumentId</assignToReference>
                        <name>contentDocumentId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Child_Removal.Shelter_Authorization_Completed__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>File_Upload_validation</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 1, 1);&quot;&gt;File upload is required&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Child_Removal.Shelter_Authorization_Completed__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Child_Removal_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Child_Removal_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Caregiver</name>
                    <choiceReferences>PC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Primary Caregiver</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Child_Removal_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Child_Home_Address_Same_as_Primary</name>
                    <choiceReferences>Child_Home_Address_Same_as_Primary_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Child Home Address Same as Primary</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Person_s_Disability</name>
        <label>Create Person&apos;s Disability</label>
        <locationX>666</locationX>
        <locationY>4370</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Get_Disability_Details</targetReference>
        </connector>
        <fields>
            <name>Removal_Stage_9</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Removal&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Disability</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No disability records exists&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Disability_Details.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Child_Disability_Details</name>
            <extensionName>c:disabilityDetailsLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Selected_Child_Rec.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Efforts_and_Factors</name>
        <label>Efforts and Factors</label>
        <locationX>666</locationX>
        <locationY>4130</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Disability_Details</targetReference>
        </connector>
        <fields>
            <name>Efforts_and_Factors_Section</name>
            <fieldText>Efforts and Factors</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Efforts_and_Factors_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Factors_At_Removal</name>
                    <choiceReferences>Factors_at_Removal_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Factors At Removal</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Narrative</name>
                    <fieldText>Narrative</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Efforts_and_Factors_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reasonable_efforts_made_to_prevent_child</name>
                    <choiceReferences>Reasonable_Efforts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reasonable efforts made to prevent child</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save and Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_upload_required_screen</name>
        <label>File_upload_required_screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>File_upload_required</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(235, 8, 8);&quot;&gt;File upload is required&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Legal_Custody_Warning_Screen</name>
        <label>Legal Custody Warning Screen</label>
        <locationX>358</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Check_legal_custody_updation</targetReference>
        </connector>
        <fields>
            <name>Removal_Date_warning_msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(247, 11, 11);&quot;&gt;The legal Custody start date and removal date are not the same&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Legal_Custody_Warning_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Legal_Custody_Warning_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_want_to_update_the_Legal_Custody_date_to_the_Removal_Date</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you want to update the Legal Custody date to the Removal Date?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Legal_Custody_Warning_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PC_Address</name>
        <label>PC Address</label>
        <locationX>358</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Check_address_change</targetReference>
        </connector>
        <fields>
            <name>PC_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PC_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Caregiver_Name</name>
                    <fieldText>&lt;p&gt;Primary Caregiver : &lt;strong&gt;{!Primary_Caregiver}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AL1</name>
                    <fieldText>&lt;p&gt;Address Line 1 : &lt;strong&gt;{!Primary_Caregiver_Address_Line1}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>City</name>
                    <fieldText>&lt;p&gt;City : &lt;strong&gt;{!Primary_Caregiver_Address_City}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Country</name>
                    <fieldText>&lt;p&gt;Country : &lt;strong&gt;{!Primary_Caregiver_County}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PC_Address_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Empty_Space</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AL2</name>
                    <fieldText>&lt;p&gt;Address Line 2 : &lt;strong&gt;{!Primary_Caregiver_Address_Line_2}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>State</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;State/ Province&lt;/span&gt; :  &lt;strong&gt;{!Primary_Caregiver_State}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Zip_code</name>
                    <fieldText>&lt;p&gt;Zip/ Postal Code : &lt;strong&gt;{!Primary_Caregiver_Zipcode}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PC_Address_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PC_Address_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_want_to_update_Primary_Caregiver_Address</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you want to update Primary Caregiver Address?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PC_Address_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Secondary_Caregiver</name>
                    <choiceReferences>SC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Secondary Caregiver</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_want_to_update_Primary_Caregiver_Address</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Address</name>
        <label>SC Address</label>
        <locationX>468</locationX>
        <locationY>3398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Check_SC_address_change</targetReference>
        </connector>
        <fields>
            <name>Removal_Stage_4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Removal&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Secondary_Caregiver_Name</name>
                    <fieldText>&lt;p&gt;Secondary Caregiver &lt;strong&gt;{!Secondary_Caregiver}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_AL1</name>
                    <fieldText>&lt;p&gt;Address Line 1 : &lt;strong&gt;{!SC_Address_Line1}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_City_Field</name>
                    <fieldText>&lt;p&gt;City : &lt;strong&gt;{!SC_City}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_Country</name>
                    <fieldText>&lt;p&gt;Country : &lt;strong&gt;{!SC_County}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Address_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Empty_Space</name>
                    <fieldText>&lt;p&gt;     &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_AL2</name>
                    <fieldText>&lt;p&gt;Address Line 2 : &lt;strong&gt;{!SC_Address_Line2}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_State_Field</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;State/ Province&lt;/span&gt; :  &lt;strong&gt;{!SC_State}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_Zipcode_Field</name>
                    <fieldText>&lt;p&gt;Zip/ Postal Code : &lt;strong&gt;{!SC_Zipcode}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SC_Address_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Address_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_want_to_update_Secondary_Caregiver_Address</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you want to update Secondary Caregiver Address?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Address_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>View_Updated_Address</name>
        <label>View Updated Address</label>
        <locationX>50</locationX>
        <locationY>2702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Get_Primary_Caregiver_Record</targetReference>
        </connector>
        <fields>
            <name>PC_Address_Cmp</name>
            <extensionName>c:addressLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Primary_Caregiver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>View_Updated_SC_Address</name>
        <label>View Updated SC Address</label>
        <locationX>336</locationX>
        <locationY>3638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Get_Secondary_Caregiver_Record</targetReference>
        </connector>
        <fields>
            <name>SC_Address_Cmp</name>
            <extensionName>c:addressLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Secondary_Caregiver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Junction_Person_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Child_Removal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Caregiver_CF_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Secondary_Caregivers_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Selected_Primary_Caregiver_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Selected_Secondary_Caregiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Primary_Caregiver_Address_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Caregiver_Address_Line1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Caregiver_Address_Line_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Caregiver_County</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Caregiver_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Caregiver_Zipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_Address_Line1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_Address_Line2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_County</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_Zipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Child_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
