force-app/main/default/flows/Child_Removal_Metrostops.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_child_field_values</name>
        <label>Assign child field values</label>
        <locationX>264</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Selected_Child_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_child_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_child_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contactIds_under_service_case</name>
        <label>Assign contactIds under service case</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Contact_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_junction_records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_junction_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Child_Id</name>
        <label>Assign Existing Child Id</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Existing_Child_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_child_removal_records.Child__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_child_removal_records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Selected_child_record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Selected child record</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>currentItem_Get_Selected_child_record</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Child_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Selected_child_record.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Child_CR</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_child_records</targetReference>
        </connector>
    </collectionProcessors>
    <dynamicChoiceSets>
        <name>Child_Choices</name>
        <collectionReference>Get_Child_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Removal Metrostops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Child Removal Metrostops</label>
    <loops>
        <name>Iterate_through_child_records</name>
        <label>Iterate through child records</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <collectionReference>Get_Selected_child_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_child_field_values</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_through_child_removal_records</name>
        <label>Iterate through child removal records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Child_Removal_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Child_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Person_Jn_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_junction_records</name>
        <label>Iterate through junction records</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <collectionReference>Get_Person_Jn_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_contactIds_under_service_case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Child_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Records</name>
        <label>Get Child Records</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Contact_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Death__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Involved_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Age__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Existing_Child_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Birth__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Alien_Status__c</queriedFields>
        <queriedFields>Allien_Registartion_Number__c</queriedFields>
        <queriedFields>Child_a_member_in_federal_Tribe__c</queriedFields>
        <queriedFields>Date_of_Birth__c</queriedFields>
        <queriedFields>Does_ICWA_apply_to_the_child__c</queriedFields>
        <queriedFields>Hispanic_Latino_Origin__c</queriedFields>
        <queriedFields>If_yes_identify_the_federally_tribe_s__c</queriedFields>
        <queriedFields>Is_a_US_citizen__c</queriedFields>
        <queriedFields>Is_this_child_an_Indian_Child__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Nationality_del_del__c</queriedFields>
        <queriedFields>Primary_Citizenship_of__c</queriedFields>
        <queriedFields>Race__c</queriedFields>
        <queriedFields>Secondary__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Removal_Records</name>
        <label>Get Child Removal Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Involved_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Removal_End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child_Removal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Child__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Involved_RecordType</name>
        <label>Get Person Involved RecordType</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_child_removal_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Persons_Involved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Jn_Records</name>
        <label>Get Person Jn Records</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_junction_records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person_Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Person_Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Person_Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Person_Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Person_Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <filters>
            <field>Person_Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_child_record</targetReference>
        </connector>
        <fields>
            <name>Screen_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Child_CR</name>
                    <choiceReferences>Child_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Child</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Removal_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Selected_child_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Existing_Child_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Child_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
