force-app/main/default/flows/Citizenship_Removal_Metrostops.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>selectedChildRec.Race__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Race</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedChildRec.If_yes_identify_the_federally_tribe_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_yes_identify_the_federally_tribe_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedChildRec.Primary_Citizenship_of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Citizenship_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedChildRec.Is_a_US_citizen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_a_US_Citizen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Persons</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Afghanistan</name>
        <choiceText>Afghanistan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Afghanistan</stringValue>
        </value>
    </choices>
    <choices>
        <name>United_States</name>
        <choiceText>United States</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>United States</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Federal_Tribe_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_yes_identify_the_federally_tribe_s__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Primary_Citizenship_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Citizenship_Flow__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Race_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Race__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>US_Citizen_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_a_US_citizen__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Citizenship_formula</name>
        <dataType>String</dataType>
        <expression>IF({!Is_a_US_Citizen} = &apos;Yes&apos;,{!Default_US}, {!Primary_Citizenship_of})</expression>
    </formulas>
    <interviewLabel>Citizenship - Removal Metrostops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Citizenship - Removal Metrostops</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_child_record</name>
        <label>Get child record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Citizenship_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedChildRec.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>selectedChildRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Alien_Status__c</queriedFields>
        <queriedFields>Allien_Registartion_Number__c</queriedFields>
        <queriedFields>Child_a_member_in_federal_Tribe__c</queriedFields>
        <queriedFields>Date_of_Birth__c</queriedFields>
        <queriedFields>Does_ICWA_apply_to_the_child__c</queriedFields>
        <queriedFields>Hispanic_Latino_Origin__c</queriedFields>
        <queriedFields>If_yes_identify_the_federally_tribe_s__c</queriedFields>
        <queriedFields>Is_a_US_citizen__c</queriedFields>
        <queriedFields>Is_this_child_an_Indian_Child__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Nationality_del_del__c</queriedFields>
        <queriedFields>Primary_Citizenship_of__c</queriedFields>
        <queriedFields>Race__c</queriedFields>
        <queriedFields>Secondary__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Persons</name>
        <label>Update Persons</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>selectedChildRec</inputReference>
    </recordUpdates>
    <screens>
        <name>Citizenship_Screen</name>
        <label>Citizenship Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_values</targetReference>
        </connector>
        <fields>
            <name>Citizenship_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Citizenship_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Race</name>
                    <choiceReferences>Race_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedChildRec.Race__c</elementReference>
                    </defaultValue>
                    <fieldText>Race</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>selectedChildRec.Hispanic_Latino_Origin__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>selectedChildRec.Is_this_child_an_Indian_Child__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>selectedChildRec.Child_a_member_in_federal_Tribe__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>selectedChildRec.Is_this_child_an_Indian_Child__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>If_yes_identify_the_federally_tribe_s</name>
                    <choiceReferences>Federal_Tribe_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedChildRec.If_yes_identify_the_federally_tribe_s__c</elementReference>
                    </defaultValue>
                    <fieldText>If yes, identify the federally tribe(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>selectedChildRec.Is_this_child_an_Indian_Child__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>selectedChildRec.Child_a_member_in_federal_Tribe__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>selectedChildRec.Does_ICWA_apply_to_the_child__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>If_yes_identify_the_federally_tribe_s</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>selectedChildRec.Name_of_non_federal_Tribe__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>selectedChildRec.Is_this_child_an_Indian_Child__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>selectedChildRec.Child_a_member_in_federal_Tribe__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Citizenship_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_a_US_Citizen</name>
                    <choiceReferences>US_Citizen_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedChildRec.Is_a_US_citizen__c</elementReference>
                    </defaultValue>
                    <fieldText>Is a US Citizen?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Default_US</name>
                    <choiceReferences>United_States</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>United_States</defaultSelectedChoiceReference>
                    <fieldText>Primary Citizenship of</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_a_US_Citizen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Primary_Citizenship_of</name>
                    <choiceReferences>Primary_Citizenship_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedChildRec.Primary_Citizenship_of__c</elementReference>
                    </defaultValue>
                    <fieldText>Primary Citizenship of</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_a_US_Citizen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>selectedChildRec.Secondary__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>selectedChildRec.Nationality_del_del__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>selectedChildRec.Alien_Status__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>selectedChildRec.Allien_Registartion_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save and Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault_Screen</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_child_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>selectedChildRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
