force-app/main/default/flows/Complete_Investigation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Investigation_for_Approval</name>
        <label>Submit Investigation for Approval</label>
        <locationX>1810</locationX>
        <locationY>5126</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Approval_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_check_approved_FIRA</name>
        <label>Assign check approved FIRA</label>
        <locationX>2074</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>check_approved_FIRA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Victim_Maltreator_Relationship_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_check_approved_safec_safecohp</name>
        <label>Assign check approved safec safecohp</label>
        <locationX>2074</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>check_approved_safec_safecohp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_approved_FIRA_assessment_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_check_victim_maltreator_relationship</name>
        <label>Assign check victim maltreator relationship</label>
        <locationX>2250</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>check_victim_maltreator_relationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Investigation_Findings_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_check_victim_maltreator_relationship_0</name>
        <label>Assign check victim maltreator relationship</label>
        <locationX>2602</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>check_victim_maltreator_relationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_relationship_value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_investigation_findings_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_check_victim_maltreator_relationship_0_0_0</name>
        <label>Assign check victim maltreator relationship</label>
        <locationX>2690</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>loop_relationship_value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_relationship_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_checkContactTypeInNotes</name>
        <label>Assign checkContactTypeInNotes</label>
        <locationX>2074</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>checkContactTypeInNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_approved_safec_safecohp_assessment_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Findings_null_size</name>
        <label>Assign Findings null size</label>
        <locationX>682</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Findings_Null_Size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Findings_null_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_size_of_get_records</name>
        <label>Assign record size of get records</label>
        <locationX>1051</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>all_Investigation_Findings_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Investigation_Findings_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approved_Investigation_Findings_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_approved_Investigation_Findings_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_all_Investigation_Findings_are_approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_size_of_get_records_0</name>
        <label>Assign record size of get records</label>
        <locationX>1524</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>submitted_records_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_submitted_Investigation_Findings_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_all_Investigation_Findings_are_submitted</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Findings_null_records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Findings null records</label>
        <locationX>682</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_Findings_null_records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Investigation_Findings_Record</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Findings_null_records.Findings__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Findings_null_size</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_approved_Investigation_Findings_records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get approved Investigation Findings records</label>
        <locationX>1051</locationX>
        <locationY>878</locationY>
        <assignNextValueToReference>currentItem_Get_approved_Investigation_Findings_records_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Investigation_Findings_Record</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_approved_Investigation_Findings_records_0.Approval_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_record_size_of_get_records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_submitted_Investigation_Findings_records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get submitted Investigation Findings records</label>
        <locationX>1524</locationX>
        <locationY>1238</locationY>
        <assignNextValueToReference>currentItem_Get_submitted_Investigation_Findings_records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Investigation_Findings_Record</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_submitted_Investigation_Findings_records.Approval_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Submit for Approval</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_record_size_of_get_records_0</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_all_Checkbox_is_Checked</name>
        <label>Check all Checkbox  is Checked</label>
        <locationX>2206</locationX>
        <locationY>4526</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Conditions_are_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_approved_FIRA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_approved_safec_safecohp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_victim_maltreator_relationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkContactTypeInNotes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Object_Namespace</targetReference>
            </connector>
            <label>All Conditions are True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_approved_FIRA_records_size</name>
        <label>Check approved FIRA records size</label>
        <locationX>2206</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Get_Victim_Maltreator_Relationship_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_size_greater_than_FIRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_approved_FIRA_assessment_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_check_approved_FIRA</targetReference>
            </connector>
            <label>If size greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_approved_safec_safecohp_records_size</name>
        <label>Check approved safec safecohp records size</label>
        <locationX>2206</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Get_all_approved_FIRA_assessment_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_size_greater_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_approved_safec_safecohp_assessment_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_check_approved_safec_safecohp</targetReference>
            </connector>
            <label>If size greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_count</name>
        <label>Check count</label>
        <locationX>682</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_approved_Investigation_Findings_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_greater_than_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Findings_Null_Size</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen</targetReference>
            </connector>
            <label>If greater than zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_all_Investigation_Findings_are_approved</name>
        <label>Check for all Investigation Findings are approved</label>
        <locationX>1051</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Get_submitted_Investigation_Findings_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_all_records_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>all_Investigation_Findings_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>approved_Investigation_Findings_Count</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Investaigation1</targetReference>
            </connector>
            <label>If all records approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_all_Investigation_Findings_are_submitted</name>
        <label>Check for all Investigation Findings are submitted</label>
        <locationX>1524</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Get_notes_record_with_contact_type_Initial_Face_to_Face</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_all_records_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>all_Investigation_Findings_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>submitted_records_count</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Investigation2_0</targetReference>
            </connector>
            <label>If all records submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Investigation_Findings_Approval_Status</name>
        <label>Check Investigation Findings Approval Status</label>
        <locationX>912</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Investigation_Findings_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Investigation_Finding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Investigation2</targetReference>
            </connector>
            <label>If submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Investigation_Findings_record_size</name>
        <label>Check Investigation Findings record size</label>
        <locationX>1774</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Complete_Investigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Investigation_Findings_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Findings_null_records</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_notes_records_size</name>
        <label>Check notes records size</label>
        <locationX>2206</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>Get_all_approved_safec_safecohp_assessment_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_size_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_notes_record_with_contact_type_Initial_Face_to_Face</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_checkContactTypeInNotes</targetReference>
            </connector>
            <label>If size greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_relationship_records_size</name>
        <label>Check relationship records size</label>
        <locationX>2206</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>Assign_check_victim_maltreator_relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Victim_Maltreator_Relationship_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_investigation_findings_records</targetReference>
            </connector>
            <label>If not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_victim_maltreator_relationship_value_0</name>
        <label>check_victim_maltreator_relationship value</label>
        <locationX>2822</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>Loop_through_relationship_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_relationship_records.Person_Related_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_investigation_findings_records.Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_relationship_records.Person__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_investigation_findings_records.Alleged_Maltreators__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_check_victim_maltreator_relationship_0_0_0</targetReference>
            </connector>
            <label>If match</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_victim_maltreator_relationship_value_0_0</name>
        <label>check_victim_maltreator_relationship value</label>
        <locationX>2734</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Investigation_Findings_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_victim_maltreator_relationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_relationship_records</targetReference>
            </connector>
            <label>If true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Complete Investigation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Investigation Flow</label>
    <loops>
        <name>Iterate_through_investigation_findings_records</name>
        <label>Iterate through investigation findings records</label>
        <locationX>2162</locationX>
        <locationY>3206</locationY>
        <collectionReference>Get_Investigation_Findings_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_victim_maltreator_relationship_value_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Investigation_Findings_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_relationship_records</name>
        <label>Loop through relationship records</label>
        <locationX>2602</locationX>
        <locationY>3446</locationY>
        <collectionReference>Get_Victim_Maltreator_Relationship_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_victim_maltreator_relationship_value_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_check_victim_maltreator_relationship_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_approved_FIRA_assessment_records</name>
        <label>Get all approved FIRA assessment records</label>
        <locationX>2206</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_approved_FIRA_records_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Family Initial Risk Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assessment_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_approved_safec_safecohp_assessment_records</name>
        <label>Get all approved safec safecohp assessment records</label>
        <locationX>2206</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_approved_safec_safecohp_records_size</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAFE-C</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAFE-C-OHP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assessment_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Investigation_Findings_Record</name>
        <label>Get Investigation Findings Record</label>
        <locationX>1774</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Investigation_Findings_record_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Investigation_Findings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notes_record_with_contact_type_Initial_Face_to_Face</name>
        <label>Get notes record with contact type &apos;Initial Face to Face&apos;</label>
        <locationX>2206</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_notes_records_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Face to Face</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notes__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Victim_Maltreator_Relationship_Record</name>
        <label>Get Victim Maltreator Relationship Record</label>
        <locationX>2206</locationX>
        <locationY>2966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_relationship_records_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Investigation</name>
        <label>Update Investigation</label>
        <locationX>1810</locationX>
        <locationY>5006</locationY>
        <connector>
            <targetReference>Submit_Investigation_for_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Error_Message_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investigation_Findings_Approver__c</field>
            <value>
                <elementReference>supervisor_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Investigation__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Error_Screen</name>
        <label>Approval Error Screen</label>
        <locationX>2074</locationX>
        <locationY>5246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Approval_Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Something went wrong! &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_Investaigation1</name>
        <label>Complete Investaigation</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>already_approved_screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;All Investigation Findings records are approved.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_Investigation</name>
        <label>Complete Investigation</label>
        <locationX>2866</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_records</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;There are no Investigation Findings records.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_Investigation2</name>
        <label>Complete Investigation</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>submitted_screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Investigation Findings records are submitted for approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_Investigation2_0</name>
        <label>Complete Investigation</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>submitted_screen_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Investigation Findings records are submitted for approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Investigation_Findings_Approval</name>
        <label>Investigation Findings Approval</label>
        <locationX>2206</locationX>
        <locationY>4406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_all_Checkbox_is_Checked</targetReference>
        </connector>
        <fields>
            <name>InvestigationFindingChecklist</name>
            <extensionName>c:InvestigationFindingChecklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>approvedMFIRA</name>
                <value>
                    <elementReference>check_approved_FIRA</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvedSAFEC</name>
                <value>
                    <elementReference>check_approved_safec_safecohp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialFacetoFace</name>
                <value>
                    <elementReference>checkContactTypeInNotes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipIdentified</name>
                <value>
                    <elementReference>check_victim_maltreator_relationship</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayWarningText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;All the above indicated mandatory fields must be completed to proceed further!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Approver</name>
        <label>Select Approver</label>
        <locationX>1810</locationX>
        <locationY>4886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Investigation</targetReference>
        </connector>
        <fields>
            <name>ChooseApprover</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>investigation_findings_approver</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>objectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.ManagerId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>supervisor_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1810</locationX>
        <locationY>5246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Investigation Finding Records Submitted Successfully&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Error_Message_Screen</name>
        <label>Update Error Message Screen</label>
        <locationX>2338</locationX>
        <locationY>5126</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Something went wrong! &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please complete all Investigation Findings&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>786</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Investigation_Findings_Approval_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Field_Namespace</name>
        <label>Check Field Namespace</label>
        <locationX>1810</locationX>
        <locationY>4766</locationY>
        <connector>
            <targetReference>Select_Approver</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Investigation_Findings_Approver__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>investigation_findings_approver</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Object_Namespace</name>
        <label>Check Object Namespace</label>
        <locationX>1810</locationX>
        <locationY>4646</locationY>
        <connector>
            <targetReference>Check_Field_Namespace</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Investigation__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>objectApiName</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>all_Investigation_Findings_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>approved_Investigation_Findings_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>check_approved_FIRA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>check_approved_safec_safecohp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>check_victim_maltreator_relationship</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>checkContactTypeInNotes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Check_relationship_record_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Findings_null_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation_Findings__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_approved_Investigation_Findings_records_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation_Findings__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_submitted_Investigation_Findings_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation_Findings__c</objectType>
    </variables>
    <variables>
        <name>Findings_Null_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>investigation_findings_approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loop_relationship_value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>relationship_record_size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>submitted_records_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>supervisor_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
