force-app/main/default/flows/Convert_Account_Contact_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Applicant_Contact_Assign</name>
        <label>Applicant Contact Assign</label>
        <locationX>532</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>ApplicantContact.Applicant_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Applicant_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.Applicant_Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Applicant_Middle_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Applicant_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Applicant_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.Applicant_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Applicant_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.Home_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdHomeApprovalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.Applicant_or_Co_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Applicant_Date_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.Applicant_Prefix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Applicant_Prefix__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.Applicant_Suffix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Applicant_Suffix__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_addressIns_to_list</name>
        <label>Assign addressIns to list</label>
        <locationX>578</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>UpdatingAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingAddressIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Referral_addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_provider_value_into_address</name>
        <label>Assign provider value into address</label>
        <locationX>527</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>UpdatingAddressIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Referral_addresses.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingAddressIns.Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_addressIns_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Referral_update</name>
        <label>Assign Referral update</label>
        <locationX>1062</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>ReferralIns.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReferralIns.Converted_Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReferralIns.Referal_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referral Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReferralIns.Provider_Referral_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Account.Casevault_ProID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Referral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Co_Applicant_Contact_Assign</name>
        <label>Co-Applicant Contact Assign</label>
        <locationX>831</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>CoApplicantContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Co_Applicant_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Co_Applicant_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.Applicant_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Co_Applicant_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.Applicant_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Co_Applicant_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.Home_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdHomeApprovalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.Applicant_or_Co_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Co-Applicant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Co_Applicant_Date_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.Prefix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Applicant_Prefix__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.Intake_Suffix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Co_Applicant_Suffix__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Co_applicant_Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoApplicantContact.SSN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferralIns.Co_Applicant_SSN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Contact_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_Contact_List</name>
        <label>Convert Contact List</label>
        <locationX>680</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>convertContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicantContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Co_Applicant_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_Contact_List_0</name>
        <label>Convert Contact List</label>
        <locationX>967</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>convertContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CoApplicantContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ContactList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Applicant_Details</name>
        <label>Check Applicant Details</label>
        <locationX>491</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Check_Co_Applicant_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Applicant_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReferralIns.Applicant_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralIns.Applicant_Last_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Applicant_Contact_Assign</targetReference>
            </connector>
            <label>Check Applicant Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Co_Applicant_Details</name>
        <label>Check Co-Applicant Details</label>
        <locationX>721</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Check_ContactList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Co_Applicant_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReferralIns.Co_Applicant_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralIns.Co_Applicant_Last_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Co_Applicant_Contact_Assign</targetReference>
            </connector>
            <label>Check Co-Applicant Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ContactList</name>
        <label>Check ContactList</label>
        <locationX>947</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>Get_Converted_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ConvertedContactList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>convertContactList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Contact</targetReference>
            </connector>
            <label>Check ConvertedContactList</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Converted_Account_Id</name>
        <label>Check Converted Account Id</label>
        <locationX>136</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Update_Reopened_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_Id_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReferralIns.Converted_Account_Id__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ReferralIns.Converted_Account_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Account</targetReference>
            </connector>
            <label>Check Account Id Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>CoAppliFirstNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ReferralIns.Co_Applicant_First_Name__c}), {!ReferralIns.Co_Applicant_Last_Name__c}, {!ReferralIns.Co_Applicant_First_Name__c})</expression>
    </formulas>
    <formulas>
        <name>CoAppliLastNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ReferralIns.Co_Applicant_Last_Name__c}), {!ReferralIns.Co_Applicant_First_Name__c}, {!ReferralIns.Co_Applicant_Last_Name__c})</expression>
    </formulas>
    <formulas>
        <name>ProviderName</name>
        <dataType>String</dataType>
        <expression>{!ReferralIns.Applicant_First_Name__c}&amp;{!ReferralIns.Applicant_Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>ProviderNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ReferralIns.Organization_Site_Name__c}), &apos;&apos;, {!ReferralIns.Organization_Site_Name__r.Name})</expression>
    </formulas>
    <interviewLabel>Convert Account Contact Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Account Contact Flow</label>
    <loops>
        <name>Iterate_Referral_addresses</name>
        <label>Iterate Referral addresses</label>
        <locationX>221</locationX>
        <locationY>564</locationY>
        <collectionReference>Get_all_referral_addresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_provider_value_into_address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Referral_with_Provider</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Convert_Account</name>
        <label>Convert Account</label>
        <locationX>407</locationX>
        <locationY>106</locationY>
        <assignRecordIdToReference>ConvertedAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_all_referral_addresses</targetReference>
        </connector>
        <inputAssignments>
            <field>CPA_Home_Id__c</field>
            <value>
                <elementReference>ReferralIns.CPA_Home_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Non_Paid_Services__c</field>
            <value>
                <elementReference>ReferralIns.Community_Non_Paid_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>ReferralIns.Applicant_Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>ReferralIns.Fax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <elementReference>ReferralIns.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ReferralIns.Provider_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberofLocations__c</field>
            <value>
                <elementReference>ReferralIns.Number_of_Locations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_Name__c</field>
            <value>
                <elementReference>ReferralIns.Organization_Site_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ReferralIns.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ReferralIns.Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>ReferralIns.Placement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Name__c</field>
            <value>
                <elementReference>ProviderNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_ID__c</field>
            <value>
                <elementReference>ReferralIns.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_ID_Type__c</field>
            <value>
                <elementReference>ReferralIns.Tax_Id_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_ID__c</field>
            <value>
                <elementReference>ReferralIns.Tax_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>ReferralIns.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Paid_Services__c</field>
            <value>
                <elementReference>ReferralIns.Vendor_Paid_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Phone__c</field>
            <value>
                <elementReference>ReferralIns.Work_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Convert_Contact</name>
        <label>Convert Contact</label>
        <locationX>1135</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>Get_Converted_Account</targetReference>
        </connector>
        <inputReference>convertContactList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Home_Approval</name>
        <label>Create Home Approval</label>
        <locationX>407</locationX>
        <locationY>267</locationY>
        <assignRecordIdToReference>createdHomeApprovalId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Applicant_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Home_Approval_Name__c</field>
            <value>
                <stringValue>Adoptive Home Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ReferralIns.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Home_Approval__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_all_referral_addresses</name>
        <label>Get all referral addresses</label>
        <locationX>286</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Referral_addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CReferral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferralIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Provider__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Account</name>
        <label>Get Converted Account</label>
        <locationX>1139</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Referral_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Casevault_ProID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referral</name>
        <label>Update Referral</label>
        <locationX>949</locationX>
        <locationY>473</locationY>
        <inputReference>ReferralIns</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referral_with_Provider</name>
        <label>Update Referral with Provider</label>
        <locationX>425</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Create_Home_Approval</targetReference>
        </connector>
        <inputReference>UpdatingAddressList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reopened_Provider</name>
        <label>Update Reopened Provider</label>
        <locationX>52</locationX>
        <locationY>341</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferralIns.Converted_Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPA_Home_Id__c</field>
            <value>
                <elementReference>ReferralIns.CPA_Home_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Non_Paid_Services__c</field>
            <value>
                <elementReference>ReferralIns.Community_Non_Paid_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>ReferralIns.Fax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ReferralIns.Provider_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberofLocations__c</field>
            <value>
                <elementReference>ReferralIns.Number_of_Locations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_Name__c</field>
            <value>
                <elementReference>ReferralIns.Organization_Site_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ReferralIns.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ReferralIns.Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>ReferralIns.Placement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Name__c</field>
            <value>
                <elementReference>ProviderNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_ID__c</field>
            <value>
                <elementReference>ReferralIns.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_ID_Type__c</field>
            <value>
                <elementReference>ReferralIns.Tax_Id_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_ID__c</field>
            <value>
                <elementReference>ReferralIns.Tax_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Paid_Services__c</field>
            <value>
                <elementReference>ReferralIns.Vendor_Paid_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Phone__c</field>
            <value>
                <elementReference>ReferralIns.Work_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Converted_Account_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicantContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CoApplicantContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>convertContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ConvertedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>createdHomeApprovalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>UpdatingAddressIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>UpdatingAddressList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
</Flow>
