force-app/main/default/flows/CPA_HOME_PLACEMENT_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignPrivateProvidertoPlacement</name>
        <label>AssignPrivateProvidertoPlacement</label>
        <locationX>766</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>UpdatePlacementInst.CPA_Home_Provider_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provider_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePlacementInst.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePlacementInst.Entry_Date_and_Entry_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entry_Date_And_Entry_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePlacementInst.CPA_Home_Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPAHomeBillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePlacementInst.CPA_Home_Billing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPAHomeBillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePlacementInst.CPA_Home_Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPAHomeBillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePlacementInst.CPA_Home_Billing_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPAHomeBillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CAP_Home_Private_Provider</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>PrivateProviderChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPA Home</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CPAHOMEAddress</assignToReference>
            <field>Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CPAHomeBillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CPAHomeBillingPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CPAHomeBillingState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CPAHomeBillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CPAHomeProviderId</assignToReference>
            <field>Casevault_ProID__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CPA HOME PLACEMENT FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPA HOME PLACEMENT FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_CAP_Home_Private_Provider</name>
        <label>Update CAP Home Private Provider</label>
        <locationX>983</locationX>
        <locationY>400</locationY>
        <inputReference>UpdatePlacementInst</inputReference>
    </recordUpdates>
    <screens>
        <name>Private_Provider</name>
        <label>Private Provider Assignment</label>
        <locationX>483</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Private_Provider_Detail</targetReference>
        </connector>
        <fields>
            <name>Provider_Name</name>
            <choiceReferences>PrivateProviderChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Provider Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Private_Provider_Detail</name>
        <label>Private Provider Detail</label>
        <locationX>626</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignPrivateProvidertoPlacement</targetReference>
        </connector>
        <fields>
            <name>Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CPA Home Provider Id:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!CPAHomeProviderId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;CPA Home Address: &lt;/b&gt;{!CPAHomeBillingStreet}{!CPAHomeBillingCity},{!CPAHomeBillingState}  {!CPAHomeBillingPostalCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Entry_Date_And_Entry_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Entry Date And  Entry Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Private_Provider</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CPAHOMEAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPAHomeBillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPAHomeBillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPAHomeBillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPAHomeBillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPAHomeProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProviderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatePlacementInst</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
</Flow>
