force-app/main/default/flows/Create_Adoption_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Adoption_Case_Id_in_Person_JN</name>
        <label>Assign Adoption Case Id in Person JN</label>
        <locationX>879</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>UpdatePersonJNRec.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdoptionCaseRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePersonJNRec.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Person_JN_Records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PersonJN_Rec_Added_in_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PersonJN_Rec_Added_in_List</name>
        <label>PersonJN Rec Added in List</label>
        <locationX>665</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>UpdatePersonJnList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatePersonJNRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Person_JN_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CaseCreationDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Adoption_Case_Created_Date.CreatedDate})</expression>
    </formulas>
    <interviewLabel>Create Adoption Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Adoption Case Flow</label>
    <loops>
        <name>Loop_Person_JN_Records</name>
        <label>Loop Person JN Records</label>
        <locationX>758</locationX>
        <locationY>264</locationY>
        <collectionReference>Get_Persons_JN</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Adoption_Case_Id_in_Person_JN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Person_JN_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>389</locationX>
        <locationY>240</locationY>
        <assignRecordIdToReference>AdoptionCaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Persons_JN</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AdoptionCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Adoption_Case_Created_Date</name>
        <label>Get Adoption Case Created Date</label>
        <locationX>1149</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdoptionCaseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Adoption_Case_Record_Type</name>
        <label>Get Adoption Case Record Type</label>
        <locationX>153</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adoptive_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AdoptionCaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Persons_JN</name>
        <label>Get Persons JN</label>
        <locationX>560</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Person_JN_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermanencyRec.Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermanencyRec.Service_Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Person_JN_Records</name>
        <label>Update Person JN Records</label>
        <locationX>993</locationX>
        <locationY>283</locationY>
        <inputReference>UpdatePersonJnList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Adoption_Case_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdoptionCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdoptionCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermanencyRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Permanency_Plan__c</objectType>
    </variables>
    <variables>
        <name>UpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdateContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatePersonJnList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>UpdatePersonJNRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
</Flow>
