force-app/main/default/flows/Create_TitleIVE_Redetermination_Record_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_is_Updated_Record</name>
        <label>Assign is Updated Record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Updated_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TitleIveRecId_Temporary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TitleIVE_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Redetermination</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_today_titleIve_record</name>
        <label>Check for today titleIve record</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_TitleIve_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_today_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TitleIVE_Record.Placement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_is_Updated_Record</targetReference>
            </connector>
            <label>Is today created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create TitleIVE Redetermination Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create TitleIVE Redetermination Record Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_TitleIVE_Record</name>
        <label>Get TitleIVE Record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_today_titleIve_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Removal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_Removal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title_Iv_E__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Title_Iv_E__c</object>
        <sortField>Review_Period_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TitleIve_Record</name>
        <label>Update TitleIve Record</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TitleIVE_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Title_Iv_E__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TitleIVE_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Updated_Record__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>Placement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Redetermination</name>
        <label>Create Redetermination</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <flowName>Title_Iv_E_Creation_Flow</flowName>
        <inputAssignments>
            <name>placementRecordIns</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
