force-app/main/default/flows/Create_Placement_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Child_of_a_Minor_Parent_in_OOH_to_list</name>
        <label>Add  Child of a Minor Parent in OOH to list</label>
        <locationX>792</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>ProgramAssignmentLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramAssignmentRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_relationship_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Parent_Guardian_of_Child_in_OOH_to_list</name>
        <label>Add Parent/Guardian of Child in OOH to list</label>
        <locationX>264</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>ProgramAssignmentLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramAssignmentRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_relationship_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Program_Assignment_Record_to_list</name>
        <label>Add Program Assignment Record to list</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProgramAssignmentLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramAssignmentRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_relationship_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sibling_of_Child_in_OOH_to_list</name>
        <label>Add Sibling of Child in OOH to list</label>
        <locationX>528</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>ProgramAssignmentLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramAssignmentRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_relationship_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_of_a_Minor_Parent_in_OOH</name>
        <label>Assign Child of a Minor Parent in OOH</label>
        <locationX>792</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_relationship_records.Person_Related_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out of Home</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Sub_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Child of a Minor Parent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_of_a_Minor_Parent_in_OOH_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Out_of_Home_Child</name>
        <label>Assign Out of Home - Child</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Child__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out of Home</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Sub_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out of Home - Child</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_Assignment_Record_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Guardian_of_Child_in_OOH</name>
        <label>Assign Parent/Guardian of Child in OOH</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_relationship_records.Person_Related_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out of Home</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Sub_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent/Guardian of Child in OOH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parent_Guardian_of_Child_in_OOH_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Placement_Record_Values</name>
        <label>Assign Placement Record Values</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>PlacementRecord.Child_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Child__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlacementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.PlacementReimbursable__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecord.Updated_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TitleIVE_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sibling_of_Child_in_OOH</name>
        <label>Assign Sibling of Child in OOH</label>
        <locationX>528</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_relationship_records.Person_Related_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out of Home</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Sub_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sibling of Child in OOH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Sibling_of_Child_in_OOH_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Relationship_values</name>
        <label>Check Relationship values</label>
        <locationX>660</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_relationship_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Parent</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_relationship_records.Relationship_Values__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Father - Biological</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_relationship_records.Relationship_Values__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mother - Biological</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_relationship_records.Person_Related_To__r.Age__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_relationship_records.Is_Caregiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Guardian_of_Child_in_OOH</targetReference>
            </connector>
            <label>If Parent</label>
        </rules>
        <rules>
            <name>If_Sibling</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_relationship_records.Relationship_Values__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brother - Biological</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_relationship_records.Relationship_Values__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sister - Biological</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sibling_of_Child_in_OOH</targetReference>
            </connector>
            <label>If Sibling</label>
        </rules>
        <rules>
            <name>If_minor_parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_relationship_records.Relationship_Values__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Father - Biological</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_relationship_records.Relationship_Values__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mother - Biological</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_relationship_records.Person_Related_To__r.Age__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Child_of_a_Minor_Parent_in_OOH</targetReference>
            </connector>
            <label>If minor parent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Placement Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Placement Record</label>
    <loops>
        <name>Iterate_through_relationship_records</name>
        <label>Iterate through relationship records</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Relationship_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Program_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Placement_Record</name>
        <label>Create Placement Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>PlacementId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Placement_Record_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Removal__c</field>
            <value>
                <elementReference>ChildRemovalIns.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child__c</field>
            <value>
                <elementReference>ChildRemovalIns.Child__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ChildRemovalIns.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Record__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Placement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Program_Assignment</name>
        <label>Create Program Assignment</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <inputReference>ProgramAssignmentLst</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Relationship_Records</name>
        <label>Get Relationship Records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Out_of_Home_Child</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Child__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Relationship_Values__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Father - Biological</stringValue>
            </value>
        </filters>
        <filters>
            <field>Relationship_Values__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mother - Biological</stringValue>
            </value>
        </filters>
        <filters>
            <field>Relationship_Values__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Guardian (Legal)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Caregiver__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Relationship_Values__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brother - Biological</stringValue>
            </value>
        </filters>
        <filters>
            <field>Relationship_Values__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sister - Biological</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Placement_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_TitleIVE_Record</name>
        <label>Create TitleIVE Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Relationship_Records</targetReference>
        </connector>
        <flowName>Title_Iv_E_Creation_Flow</flowName>
        <inputAssignments>
            <name>placementRecordIns</name>
            <value>
                <elementReference>PlacementRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ChildRemovalIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
    <variables>
        <name>PlacementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PlacementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>ProgramAssignmentLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ProgramAssignmentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
</Flow>
