force-app/main/default/flows/Create_New_Notes_History_Record_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Notes_to_Notes_History</name>
        <label>Assign Notes to Notes History</label>
        <locationX>279</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>NotesHistoriesRec.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesHistoriesRec.Modified_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesHistoriesRec.Contact_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesHistoriesRec.Contact_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesHistoriesRec.Contact_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesHistoriesRec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesHistoriesRec.Contact_was_Attempted_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_was_Attempted_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesHistoriesRec.Modified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesHistoriesRec.Notes_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Notes_History_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Travel_Duration_Text</name>
        <label>Assign Travel Duration Text</label>
        <locationX>111</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Travel_Duration_Tex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_duration_formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Travel_duration_formula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Travel_Duration__c}</expression>
    </formulas>
    <interviewLabel>Create New Notes History Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Notes History Record Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Notes_History_Record</name>
        <label>Create New Notes History Record</label>
        <locationX>448</locationX>
        <locationY>409</locationY>
        <inputReference>NotesHistoriesRec</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Notes_to_Notes_History</targetReference>
        </connector>
        <object>Notes__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NotesHistoriesRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes_History__c</objectType>
    </variables>
    <variables>
        <name>Travel_Duration_Tex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
