force-app/main/default/flows/Create_Program_Assignment_when_service_case_reopens.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_junction_records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Home</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Program_Sub_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Family Preservation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRec.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramAssignmentRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_junction_records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Program Assignment when service case reopens {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Program Assignment when service case reopens</label>
    <loops>
        <name>Iterate_through_junction_records</name>
        <label>Iterate through junction records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Person_Jn_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Program_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Program_Assignments</name>
        <label>Create Program Assignments</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>ProgramAssignmentLst</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Jn_Records</name>
        <label>Get Person Jn Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_junction_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person_Jn_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProgramAssignmentLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ProgramAssignmentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>serviceCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
