force-app/main/default/flows/Exit_Placement_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Placement_Approver</name>
        <label>Placement Approver</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Supervisor_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Value_to_Placement_Record</name>
        <label>Assign Value to Placement Record</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recordId.Supervisor_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SupervisorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Exit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dependent_Picklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Exit_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exit_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Reason_for_Exit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dependent_Picklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Placement_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_record_status</name>
        <label>Check for record status</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Check_Object_Namespace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted_for_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Exit_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Submitted_Screen</targetReference>
            </connector>
            <label>Submitted for approval</label>
        </rules>
        <rules>
            <name>Already_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Exit_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Screen</targetReference>
            </connector>
            <label>Already Approved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Exit_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Exit__c</picklistField>
        <picklistObject>Placement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Exit_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Exit_Type__c</picklistField>
        <picklistObject>Placement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Exit Placement Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exit Placement Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Placement_Record</name>
        <label>Update Placement Record</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Placement_Approver</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_Submitted_Screen</name>
        <label>Already Submitted Screen</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadySubmittedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;This Placement record is currently in an approval process. A record can be in only one approval process at a time.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approved_Screen</name>
        <label>Approved Screen</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;This Placement Was Already Approved.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exit_Placement_Screen</name>
        <label>Exit Placement Screen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Value_to_Placement_Record</targetReference>
        </connector>
        <fields>
            <name>Exit_Placement_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Exit_Placement_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Placement_Cmp</name>
                    <extensionName>c:PlacementExitApprovalCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placementId</name>
                        <value>
                            <elementReference>recordId.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Placement_Entry</name>
            <fieldText>&lt;h1&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Placement Entry&lt;/b&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exit_Placement_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Exit_Placement_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Begin_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Exit_Placement_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Exit_End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Exit_Placement_Approval</name>
            <fieldText>&lt;h1&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Exit Placement Approval&lt;/b&gt;&lt;/h1&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exit_Placement_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Exit_Placement_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dependent_Picklist</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Placement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Exit_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Reason_for_Exit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Exit_Type_Picklist</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>Exit_Reason_Picklist</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Exit_Placement_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Exit_Placement_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exit_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Exit Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Dependent_Picklist.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Change in Placement</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Dependent_Picklist.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Change in Placement Structure</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Dependent_Picklist.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Permanently Leaving Custody and Care</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Exit_Placement_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Exit_Placement_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Exit_Comments__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Exit_Placement_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Exit_Placement_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApproverLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Choose the Approver</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <elementReference>SupervisorApproverField</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <elementReference>PlacementObjectName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.ManagerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SupervisorId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit for Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_0</name>
        <label>Fault</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supervisor_Success_Screen</name>
        <label>Supervisor Success Screen</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Placement information sent to supervisor for approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_record_status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Field_Namespace</name>
        <label>Check Field Namespace</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Exit_Placement_Screen</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Supervisor_Approval__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SupervisorApproverField</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Object_Namespace</name>
        <label>Check Object Namespace</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Check_Field_Namespace</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Child_Removal__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PlacementObjectName</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>PlacementObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>SupervisorApproverField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
