force-app/main/default/flows/Family_History_Record_Create_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_values_to_create_family_history_record</name>
        <label>Assign values to create  family history record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>FamilyHistoryRecordVariableforAssignment.Major_Health_Problems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>familyHistoryRecord.Major_Health_Problems__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FamilyHistoryRecordVariableforAssignment.Cause_of_Death__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>familyHistoryRecord.Cause_of_Death__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FamilyHistoryRecordVariableforAssignment.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>familyHistoryRecord.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FamilyHistoryRecordVariableforAssignment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Family_History_Record_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_update_family_history_record</name>
        <label>Assign values to update family history record</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>FamilyHistoryRecordVariableforAssignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>familyHistoryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FamilyHistoryRecordVariableforAssignment.Cause_of_Death__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>familyHistoryRecord.Cause_of_Death__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FamilyHistoryRecordVariableforAssignment.Major_Health_Problems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>familyHistoryRecord.Major_Health_Problems__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FamilyHistoryRecordVariableforAssignment.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>familyHistoryRecord.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Family_History_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_new_record_or_update_record</name>
        <label>Is new record or update record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_new_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_button_in_Family_History</targetReference>
            </connector>
            <label>Check new record</label>
        </rules>
        <rules>
            <name>Check_update_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>familyHistoryRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_field_values_of_Family_History</targetReference>
            </connector>
            <label>Check update record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Family History Record Create/Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Family History Record Create/Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Family_History_Record_Creation</name>
        <label>Family History Record Creation</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputReference>FamilyHistoryRecordVariableforAssignment</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Family_History_Record</name>
        <label>Update Family History Record</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputReference>FamilyHistoryRecordVariableforAssignment</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_button_in_Family_History</name>
        <label>Add button in Family History</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Field_values_of_Family_History</targetReference>
        </connector>
        <nextOrFinishButtonLabel>New</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Field_values_of_Family_History</name>
        <label>Field values of Family History</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_values_to_create_family_history_record</targetReference>
        </connector>
        <fields>
            <name>Field_values_of_Family_History_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Field_values_of_Family_History_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>familyHistoryRecord.Major_Health_Problems__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Field_values_of_Family_History_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Field_values_of_Family_History_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Field_values_of_Family_History_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>familyHistoryRecord.Cause_of_Death__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Field_values_of_Family_History_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>familyHistoryRecord.Comments__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_field_values_of_Family_History</name>
        <label>Update field values of Family History</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_values_to_update_family_history_record</targetReference>
        </connector>
        <fields>
            <name>Update_field_values_of_Family_History_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_field_values_of_Family_History_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>familyHistoryRecord.Major_Health_Problems__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_field_values_of_Family_History_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Update_field_values_of_Family_History_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_field_values_of_Family_History_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>familyHistoryRecord.Cause_of_Death__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_field_values_of_Family_History_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>familyHistoryRecord.Comments__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_new_record_or_update_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>familyHistoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Family_History__c</objectType>
    </variables>
    <variables>
        <name>FamilyHistoryRecordVariableforAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Family_History__c</objectType>
    </variables>
</Flow>
