force-app/main/default/flows/Head_of_House_Hold_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_for_Object_Names</name>
        <label>Check for Object Names</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Current_House_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_House_Hold</targetReference>
            </connector>
            <label>Intake</label>
        </rules>
        <rules>
            <name>Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectApiName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Servicecase_House_Hold</targetReference>
            </connector>
            <label>Service Case</label>
        </rules>
        <rules>
            <name>Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investigation_House_Hold</targetReference>
            </connector>
            <label>Investigation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!$Record.Jn_Object_Handler__c}, LEN({!$Record.Jn_Object_Handler__c}) - FIND(&quot;,&quot;, {!$Record.Jn_Object_Handler__c})))</expression>
    </formulas>
    <formulas>
        <name>recordId</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!$Record.Jn_Object_Handler__c}, FIND(&quot;,&quot;, {!$Record.Jn_Object_Handler__c})-1))</expression>
    </formulas>
    <interviewLabel>Head of House Hold Assignment F {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Head of House Hold Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Current_House_Hold</name>
        <label>Update Current House Hold</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Head_of_house_hold</name>
        <label>Update Intake Head of house hold</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Current_House_Hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_House_Hold</name>
        <label>Update Intake House Hold</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Intake_Head_of_house_hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Head_of_House_Hold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investigation_Head_of_house_hold</name>
        <label>Update Investigation Head of house hold</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Current_House_Hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_Household__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Investigation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investigation_House_Hold</name>
        <label>Update Investigation House Hold</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Investigation_Head_of_house_hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Head_of_House_Hold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Servicecase_Head_of_house_hold_0</name>
        <label>Update Servicecase Head of house hold</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Current_House_Hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_Household__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Servicecase_House_Hold</name>
        <label>Update Servicecase House Hold</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Servicecase_Head_of_house_hold_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Head_of_House_Hold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Object_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Head_of_House__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>1</triggerOrder>
</Flow>
