force-app/main/default/flows/Initial_Redetermination_TitleIVE_Schedule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Child_Redetermination_TitleIVE_Rec</name>
        <label>Assign Child Redetermination TitleIVE Rec</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Review_Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RedeterminationStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Review_Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Redetermination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Title_Iv_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Initial_TitleIVERecord.Title_Iv_E__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Child_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Initial_TitleIVERecord.Child_Removal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Initial_TitleIVERecord.Placement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Initial_TitleIVERecord.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Child_TitleIVE_Rec_Into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_TitleIVE_Rec_Into_List</name>
        <label>Assign Child TitleIVE Rec Into List</label>
        <locationX>528</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreatingTitleIVERec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Initial_TitleIVERecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_TitleIVE_Record</name>
        <label>Assign Child TitleIVE Record</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Child_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Initial_TitleIVERecord.Child_Removal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Initial_TitleIVERecord.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Initial_TitleIVERecord.Placement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Review_Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Initial_TitleIVERecord.Review_Period_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Review_Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Title_Iv_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Initial_TitleIVERecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatingTitleIVERec.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Redetermination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Child_TitleIVE_Rec_Into_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Period_Status</name>
        <label>Check Period Status</label>
        <locationX>528</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Initial_TitleIVERecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>If_Period_is_Initial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Initial_TitleIVERecord.Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Child_TitleIVE_Record</targetReference>
            </connector>
            <label>If Period is Initial</label>
        </rules>
        <rules>
            <name>If_Period_is_Redetermination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Initial_TitleIVERecord.Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redetermination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Child_Redetermination_TitleIVE_Rec</targetReference>
            </connector>
            <label>If Period is Redetermination</label>
        </rules>
    </decisions>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() -1</expression>
    </formulas>
    <formulas>
        <name>InitilaStartDate</name>
        <dataType>Date</dataType>
        <expression>{!Iterate_Initial_TitleIVERecord.Review_Period_Start_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>PreviousDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 366</expression>
    </formulas>
    <formulas>
        <name>PreviousDateforInitial</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 365</expression>
    </formulas>
    <formulas>
        <name>RedeterminationStartDate</name>
        <dataType>Date</dataType>
        <expression>{!Iterate_Initial_TitleIVERecord.Review_Period_End_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Initial Redetermination TitleIVE Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initial Redetermination TitleIVE Schedule Flow</label>
    <loops>
        <name>Iterate_Initial_TitleIVERecord</name>
        <label>Iterate Initial TitleIVERecord</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>GetTitleIVERecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Period_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_TitleIVE_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_TitleIVE_Records</name>
        <label>Create Child TitleIVE Records</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <inputReference>CreatingTitleIVERecList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetTitleIVERecord</name>
        <label>GetTitleIVERecord</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Initial_TitleIVERecord</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Review_Period_Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousDateforInitial</elementReference>
            </value>
        </filters>
        <filters>
            <field>Review_Period_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Title_Iv_E__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Placement__c</queriedFields>
        <queriedFields>Service_Case__c</queriedFields>
        <queriedFields>Child_Removal__c</queriedFields>
        <queriedFields>Title_Iv_E__c</queriedFields>
        <queriedFields>Period__c</queriedFields>
        <queriedFields>Review_Period_Start_Date__c</queriedFields>
        <queriedFields>Review_Period_End_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTitleIVERecord</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-07-05</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatingTitleIVERec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title_Iv_E__c</objectType>
    </variables>
    <variables>
        <name>CreatingTitleIVERecList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title_Iv_E__c</objectType>
    </variables>
</Flow>
