force-app/main/default/flows/Intake_Approver_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Approval_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Supervisor</name>
        <label>Assign Supervisor</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recordId.Supervisor_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverLookupField.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Intake_Approval_Status_Check</name>
        <label>Intake Approval Status Check</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_Supervisor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Status_Submitted_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Intake_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_Record_1</targetReference>
            </connector>
            <label>Check Status Submitted for Approval</label>
        </rules>
        <rules>
            <name>Check_Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Intake_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_Record_0</targetReference>
            </connector>
            <label>Check Status Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Intake Approver Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Decision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Intake_Record</name>
        <label>Update Intake Record</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Record_0</name>
        <label>Update Intake Record</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Record_1</name>
        <label>Update Intake Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Approval_Error_Screen</name>
        <label>Approval Error Screen</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Something went wrong: {!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intake_fields_screen</name>
        <label>Intake_fields_screen</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Intake_Approval_Status_Check</targetReference>
        </connector>
        <fields>
            <name>status_field</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Status&lt;/strong&gt;&lt;strong&gt; :  {!recordId.Status__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Intake_Recommendations__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Comments</objectFieldReference>
        </fields>
        <fields>
            <name>Approved_By</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Approved By : {!recordId.Supervisor_Approver__r.FirstName}  {!recordId.Supervisor_Approver__r.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Intake_Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approved</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Supervisor_Approver__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ApproverLookupField</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>SupervisorApproverField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose the Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.ManagerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Intake_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Approved</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Intake_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted for Approval</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save &amp; Submit for Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Field_Namespace</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Field_Namespace</name>
        <label>Check Field Namespace</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Intake_fields_screen</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Supervisor_Approver__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SupervisorApproverField</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SupervisorApproverField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supervisorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
