force-app/main/default/flows/Investigation_Findings_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Create_or_Delete_Investigation_Finding</name>
        <label>Create or Delete Investigation Finding</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Investigation_Finding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Completed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Completed__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Investigation_Findings_Record</targetReference>
            </connector>
            <label>Create Investigation Finding</label>
        </rules>
        <rules>
            <name>Delete_Investigation_Finding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Investigation_Finding_Records</targetReference>
            </connector>
            <label>Delete Investigation Finding</label>
        </rules>
    </decisions>
    <formulas>
        <name>PersonName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Child__r.FirstName}+&apos; &apos;+{!$Record.Child__r.LastName}</expression>
    </formulas>
    <interviewLabel>Investigation Findings Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Investigation Findings Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Investigation_Findings_Record</name>
        <label>Create New Investigation Findings Record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>InvestigationFindingsRecord.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Abuse_Types__c</field>
            <value>
                <elementReference>$Record.Abuse_Types__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alleged_Maltreators__c</field>
            <value>
                <elementReference>$Record.Alleged_Maltreator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Child__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investigation_Findings__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Investigation_Finding_Record</name>
        <label>Delete Investigation Finding Record</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputReference>Get_Investigation_Finding_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Investigation_Finding_Records</name>
        <label>Get Investigation Finding Records</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Investigation_Finding_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Abuse_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Abuse_Types__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Alleged_Maltreators__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Alleged_Maltreator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Investigation_Findings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_or_Delete_Investigation_Finding</targetReference>
        </connector>
        <object>Maltreatment_Allegation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InvestigationFindingsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation_Findings__c</objectType>
    </variables>
    <variables>
        <name>MaltreatorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VictimName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
