force-app/main/default/flows/Investigation_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_INV_Id_in_SDM</name>
        <label>Assign INV Id in SDM</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Get_SDM_Records.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SDM_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Junction_Object_Record</name>
        <label>Assigned Junction Object Record</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Person_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Person_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Head_of_House_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Head_of_House_Hold__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Danger_to_worker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Danger_to_worker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Danger_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Danger_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Current_or_Previous_Mental_Health_issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Current_or_Previous_Mental_Health_issue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Reported_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Reported_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Danger_to_self__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Danger_to_self__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Worker_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Worker_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Judiciary_Case_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Judiciary_Case_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.National_Sex_Offender_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.National_Sex_Offender_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Sex_Offender_registry_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Sex_Offender_registry_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Judiciary_case_search__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Jn_Object_Record.Judiciary_case_search__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Insert_JN_Object_Ins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Jn_Object_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_SDM</name>
        <label>Check SDM</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_SDM_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SDM_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_INV_Id_in_SDM</targetReference>
            </connector>
            <label>If SDM exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InvestigationNameFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Investigation - &apos;&amp;{!IntakeIns.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Investigation Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Investigation Create Flow</label>
    <loops>
        <name>Iterate_Jn_Object_Record</name>
        <label>Iterate Jn Object Record</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Junction_Object_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Junction_Object_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Jn_Object_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Investigation_Record</name>
        <label>Create Investigation Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>InvestigationId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Notes_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>CPS_Response_Type__c</field>
            <value>
                <elementReference>Get_SDM_Records.CPS_Response_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_Household__c</field>
            <value>
                <elementReference>IntakeIns.contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Investigation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Jn_Object_Insert</name>
        <label>Jn Object Insert</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Update_Relationship_Records</targetReference>
        </connector>
        <inputReference>Insert_JN_Object_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Junction_Object_Record</name>
        <label>Get Junction Object Record</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Jn_Object_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM_Records</name>
        <label>Get SDM Records</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Investigation_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collaterals</name>
        <label>Update Collaterals</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Junction_Object_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </inputAssignments>
        <object>Collateral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notes_Records</name>
        <label>Update Notes Records</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Update_Visitation_Log_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </inputAssignments>
        <object>Notes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Relationship_Records</name>
        <label>Update Relationship Records</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Check_SDM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Victim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDM_Record</name>
        <label>Update SDM Record</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Maltreatment_Allegation_Creation</targetReference>
        </connector>
        <inputReference>Get_SDM_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visitation_Log_Records</name>
        <label>Update Visitation Log Records</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Collaterals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>InvestigationId</elementReference>
            </value>
        </inputAssignments>
        <object>Visitation_Log__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SDM_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Maltreatment_Allegation_Creation</name>
        <label>Maltreatment Allegation Creation</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <flowName>INV_Creation_Maltreatment_Allegation</flowName>
        <inputAssignments>
            <name>sdmRecord</name>
            <value>
                <elementReference>Get_SDM_Records</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ServiceCaseName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Service Case - {!IntakeIns.CaseNumber}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignInvestigationIdinCollateralRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collateral__c</objectType>
    </variables>
    <variables>
        <name>collateralLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collateral__c</objectType>
    </variables>
    <variables>
        <name>Insert_JN_Object_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Insert_JN_Object_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>IntakeIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InvestigationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>notesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes__c</objectType>
    </variables>
    <variables>
        <name>NotesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes__c</objectType>
    </variables>
    <variables>
        <name>ProgramAssignmentLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ProgramAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>UpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatedMaltreatmentAllegationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maltreatment_Allegation__c</objectType>
    </variables>
    <variables>
        <name>UpdatingContactIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatingInvestigationIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMRecordIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>visitationLogLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitation_Log__c</objectType>
    </variables>
    <variables>
        <name>visitationLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitation_Log__c</objectType>
    </variables>
</Flow>
