force-app/main/default/flows/Investigation_Finding_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_InvestigationFinding_for_Approval</name>
        <label>Submit InvestigationFinding for Approval</label>
        <locationX>314</locationX>
        <locationY>2942</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Approval_Fail_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>InvestigationFindingRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_check_approved_FIRA</name>
        <label>Assign check approved FIRA</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>check_approved_FIRA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Victim_Maltreator_Relationship_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_check_approved_safec_safecohp</name>
        <label>Assign check approved safec safecohp</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>check_approved_safec_safecohp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_approved_FIRA_assessment_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_check_victim_maltreator_relationship</name>
        <label>Assign check victim maltreator relationship</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>check_victim_maltreator_relationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Investigation_Finding_ApprovalFlow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_checkContactTypeInNotes_0</name>
        <label>Assign checkContactTypeInNotes</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>checkContactTypeInNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_approved_safec_safecohp_assessment_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_all_Checkbox_is_Checked</name>
        <label>Check all Checkbox  is Checked</label>
        <locationX>710</locationX>
        <locationY>2582</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Condition_are_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkContactTypeInNotes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_approved_safec_safecohp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_approved_FIRA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_victim_maltreator_relationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approver</targetReference>
            </connector>
            <label>All Condition are True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_approved_FIRA_records_size</name>
        <label>Check approved FIRA records size</label>
        <locationX>710</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Get_Victim_Maltreator_Relationship_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_size_greater_than_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_approved_FIRA_assessment_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_check_approved_FIRA</targetReference>
            </connector>
            <label>If size greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_approved_safec_safecohp_records_size</name>
        <label>Check approved safec safecohp records size</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Get_all_approved_FIRA_assessment_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_size_greater_than_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_approved_safec_safecohp_assessment_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_check_approved_safec_safecohp</targetReference>
            </connector>
            <label>If size greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Approval</name>
        <label>Check For Approval</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_notes_record_with_contact_type_Initial_Face_to_Face</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Approval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Investigation_Findings_Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Investigation_Findings_Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Screen</targetReference>
            </connector>
            <label>Check Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_notes_records_size</name>
        <label>Check notes records size</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_all_approved_safec_safecohp_assessment_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_size_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_notes_record_with_contact_type_Initial_Face_to_Face</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_checkContactTypeInNotes_0</targetReference>
            </connector>
            <label>If size greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_relationship_records_size</name>
        <label>Check relationship records size</label>
        <locationX>710</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Investigation_Finding_ApprovalFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_size_greater_than_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Victim_Maltreator_Relationship_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_check_victim_maltreator_relationship</targetReference>
            </connector>
            <label>If size greater than 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Investigation Finding Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Investigation Finding Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_approved_FIRA_assessment_records</name>
        <label>Get all approved FIRA assessment records</label>
        <locationX>710</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_approved_FIRA_records_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Family Initial Risk Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investigation_Findings_Record.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assessment_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_approved_safec_safecohp_assessment_records</name>
        <label>Get all approved safec safecohp assessment records</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_approved_safec_safecohp_records_size</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAFE-C</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAFE-C-OHP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investigation_Findings_Record.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assessment_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Investigation_Findings_Record</name>
        <label>Get Investigation Findings Record</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvestigationFindingRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Investigation_Findings__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approval_Status__c</queriedFields>
        <queriedFields>Investigation__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Alleged_Maltreators__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notes_record_with_contact_type_Initial_Face_to_Face</name>
        <label>Get notes record with contact type &apos;Initial Face to Face&apos;</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_notes_records_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investigation_Findings_Record.Investigation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Face to Face</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notes__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Victim_Maltreator_Relationship_Record</name>
        <label>Get Victim Maltreator Relationship Record</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_relationship_records_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investigation_Findings_Record.Investigation__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person_Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investigation_Findings_Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Investigation_Findings_Record.Alleged_Maltreators__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_InvestigationFinding</name>
        <label>Update InvestigationFinding</label>
        <locationX>314</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Submit_InvestigationFinding_for_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvestigationFindingRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supervisor_Approver__c</field>
            <value>
                <elementReference>SupervisorId</elementReference>
            </value>
        </inputAssignments>
        <object>Investigation_Findings__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Fail_Screen</name>
        <label>Approval Fail Screen</label>
        <locationX>578</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalFail</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Something went wrong! &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approved_Screen</name>
        <label>Approved Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovedMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Investigation Finding Record &lt;/b&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Already &lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Submitted for Approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>842</locationX>
        <locationY>2942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UpdateFail</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Something went wrong! &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Investigation_Finding_ApprovalFlow</name>
        <label>Investigation Finding ApprovalFlow</label>
        <locationX>710</locationX>
        <locationY>2462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_all_Checkbox_is_Checked</targetReference>
        </connector>
        <fields>
            <name>InvestigationFindingChecklist</name>
            <extensionName>c:InvestigationFindingChecklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>initialFacetoFace</name>
                <value>
                    <elementReference>checkContactTypeInNotes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relationshipIdentified</name>
                <value>
                    <elementReference>check_victim_maltreator_relationship</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvedSAFEC</name>
                <value>
                    <elementReference>check_approved_safec_safecohp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvedMFIRA</name>
                <value>
                    <elementReference>check_approved_FIRA</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayWarningText</name>
            <fieldText>&lt;p&gt;All the above indicated mandatory fields must be completed to proceed further!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Approver</name>
        <label>Select Approver</label>
        <locationX>314</locationX>
        <locationY>2702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_InvestigationFinding</targetReference>
        </connector>
        <fields>
            <name>ChooseApprover</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>ApproverApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>ObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.ManagerId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SupervisorId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>3062</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Investigation Finding Record Submitted Successfully&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Object_Namespace</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Namespace</name>
        <label>Check Field Namespace</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Investigation_Findings_Record</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Supervisor_Approver__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ApproverApiName</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Object_Namespace</name>
        <label>Check Object Namespace</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Check_Namespace</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Investigation_Findings__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ObjectApiName</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ApproverApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>check_approved_FIRA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>check_approved_safec_safecohp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>check_victim_maltreator_relationship</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkContactTypeInNotes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InvestigationFindingRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAFECApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAFECOHPApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
