force-app/main/default/flows/Jn_Object_refresh.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_intake_HOH</name>
        <label>Assign intake HOH</label>
        <locationX>503</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Intake_Ins.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JnrelatedRecId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Intake_Ins.contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Head_of_house_hold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Investigation_HOH</name>
        <label>Assign Investigation HOH</label>
        <locationX>1031</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Service_Case_Ins.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JnrelatedRecId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Case_Ins.Head_of_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Investigation_Head_of_house_hold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_person_role</name>
        <label>Assign person role</label>
        <locationX>1185</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Danger_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Danger_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Danger_to_self__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Danger_to_self__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Danger_to_worker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Danger_to_worker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Head_of_House_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Head_of_House__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Person_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Intake_Person_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Reported_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reported__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Worker_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Worker_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Current_or_Previous_Mental_Health_issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_or__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Judiciary_Case_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Judiciary_Case_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Judiciary_case_search__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Judiciary_case_search__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.National_Sex_Offender_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.National_Sex_Offender_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Sex_Offender_registry_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sex_Offender_resigtery_checked__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Select_Person_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_case_HOH</name>
        <label>Assign service case HOH</label>
        <locationX>767</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Service_Case_Ins.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JnrelatedRecId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Case_Ins.Head_of_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Servicecase_Head_of_house_hold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_jn_person_role</name>
        <label>Update jn person role</label>
        <locationX>385</locationX>
        <locationY>3803</locationY>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Jn_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jn_Object_Update.Is_convert_to_select_person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Jn_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_entry_condition</name>
        <label>Check entry condition</label>
        <locationX>1185</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unverified_Person</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Persons_Involved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JnObjectCheck</targetReference>
            </connector>
            <label>Is new</label>
        </rules>
        <rules>
            <name>If_pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Person_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Jn_Id__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Persons_Involved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unverified_Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Unverified_Person</targetReference>
            </connector>
            <label>If pass</label>
        </rules>
        <rules>
            <name>If_pass_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select_Person</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unverified_Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_person_role</targetReference>
            </connector>
            <label>If pass 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Head_of_House_Hold</name>
        <label>Check for Head of House Hold</label>
        <locationX>1185</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_entry_condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Head_of_House_Hold</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Head_of_House__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Head_of_House__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Head_of_House__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_JnObjectCheck</targetReference>
            </connector>
            <label>Is Head of House Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Select_Person_Role</name>
        <label>Check for Select Person Role</label>
        <locationX>1185</locationX>
        <locationY>2099</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select_Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Involved_Record_Type</targetReference>
            </connector>
            <label>Is Present</label>
        </rules>
        <rules>
            <name>If_not_unverified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Unverified_Person_RecordType_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Person_Role</targetReference>
            </connector>
            <label>If not unverified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Unverified_Person</name>
        <label>Check for Unverified Person</label>
        <locationX>1295</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>JnObjectCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Jn_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Unverified_Person_RecordType_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Unverified_person</targetReference>
            </connector>
            <label>Is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Jn_Record</name>
        <label>Check Jn Record</label>
        <locationX>385</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Check_person_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Jn_Record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jn_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Jn_Object_Update.Person_Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Jn_Records.Person_Role__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_jn_person_role</targetReference>
            </connector>
            <label>If Jn Record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Maltreament_Allegation</name>
        <label>Check Maltreament Allegation</label>
        <locationX>182</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>Update_jn_person_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Maltreament_Allegation_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maltreatment_Allegation_Creation</targetReference>
            </connector>
            <label>If not exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_person_role</name>
        <label>Check person role</label>
        <locationX>897</locationX>
        <locationY>2699</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Alleged_Victim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jn_Records.Person_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Alleged Victim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Jn_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Jn_Records.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SDM</targetReference>
            </connector>
            <label>If Alleged Victim</label>
        </rules>
        <rules>
            <name>If_Alleged_Maltreator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jn_Records.Person_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Alleged Maltreator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Jn_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Jn_Records.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_SDM</targetReference>
            </connector>
            <label>If Alleged Maltreator</label>
        </rules>
        <rules>
            <name>If_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jn_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_jn_person_role</targetReference>
            </connector>
            <label>If record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SDM_MA</name>
        <label>Check SDM</label>
        <locationX>336</locationX>
        <locationY>2939</locationY>
        <defaultConnector>
            <targetReference>Update_jn_person_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_SDM_exists_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SDM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Maltreament_Allegation_Records</targetReference>
            </connector>
            <label>If SDM exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Maltreament_Allegation</name>
        <label>Copy 1 of Check Maltreament Allegation</label>
        <locationX>798</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>Update_jn_person_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_not_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Maltreament_Allegation_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Maltreatment_Allegation_Creation</targetReference>
            </connector>
            <label>Copy 1 of If not exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_SDM</name>
        <label>Copy 1 of Check SDM</label>
        <locationX>952</locationX>
        <locationY>2939</locationY>
        <defaultConnector>
            <targetReference>Update_jn_person_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_SDM_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_SDM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Maltreament_Allegation_Records</targetReference>
            </connector>
            <label>Copy 1 of If SDM exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_JnObjectCheck</name>
        <label>Copy 1 of JnObjectCheck</label>
        <locationX>899</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_entry_condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_IntakeCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_House_Hold</targetReference>
            </connector>
            <label>Copy 1 of IntakeCheck</label>
        </rules>
        <rules>
            <name>Copy_1_of_SeviceCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Case__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Servicecase_House_Hold</targetReference>
            </connector>
            <label>Copy 1 of SeviceCheck</label>
        </rules>
        <rules>
            <name>Copy_1_of_InvestigationCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Investigation_House_Hold</targetReference>
            </connector>
            <label>Copy 1 of InvestigationCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>JnObjectCheck</name>
        <label>JnObjectCheck</label>
        <locationX>503</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IntakeCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jn_Object_Intake_Creation</targetReference>
            </connector>
            <label>IntakeCheck</label>
        </rules>
        <rules>
            <name>SeviceCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Case__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jn_Object_service_Creation</targetReference>
            </connector>
            <label>SeviceCheck</label>
        </rules>
        <rules>
            <name>InvestigationCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jn_Object_Investigation_Creation</targetReference>
            </connector>
            <label>InvestigationCheck</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>JnrelatedRecId</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!$Record.Jn_Object_Handler__c}, FIND(&quot;,&quot;, {!$Record.Jn_Object_Handler__c})-1))</expression>
    </formulas>
    <formulas>
        <name>ObjectApiName</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!$Record.Jn_Object_Handler__c}, LEN({!$Record.Jn_Object_Handler__c}) - FIND(&quot;,&quot;, {!$Record.Jn_Object_Handler__c})))</expression>
    </formulas>
    <interviewLabel>Jn Object refresh {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Jn Object refresh</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Jn_Object_Intake_Creation</name>
        <label>Jn Object Intake Creation</label>
        <locationX>107</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Assign_person_role</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_or_Previous_Mental_Health_issue__c</field>
            <value>
                <elementReference>$Record.Current_or__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_Reason__c</field>
            <value>
                <elementReference>$Record.Danger_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_self__c</field>
            <value>
                <elementReference>$Record.Danger_to_self__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_worker__c</field>
            <value>
                <elementReference>$Record.Danger_to_worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <elementReference>$Record.Head_of_House__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>JnrelatedRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_Case_Date__c</field>
            <value>
                <elementReference>$Record.Judiciary_Case_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_case_search__c</field>
            <value>
                <elementReference>$Record.Judiciary_case_search__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Sex_Offender_Date__c</field>
            <value>
                <elementReference>$Record.National_Sex_Offender_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Role__c</field>
            <value>
                <elementReference>$Record.Intake_Person_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_By__c</field>
            <value>
                <elementReference>$Record.Reported__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex_Offender_registry_checked__c</field>
            <value>
                <elementReference>$Record.Sex_Offender_resigtery_checked__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker_Reason__c</field>
            <value>
                <elementReference>$Record.Worker_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Jn_Object_Investigation_Creation</name>
        <label>Jn Object Investigation Creation</label>
        <locationX>635</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Assign_person_role</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_or_Previous_Mental_Health_issue__c</field>
            <value>
                <elementReference>$Record.Current_or__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_Reason__c</field>
            <value>
                <elementReference>$Record.Danger_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_self__c</field>
            <value>
                <elementReference>$Record.Danger_to_self__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_worker__c</field>
            <value>
                <elementReference>$Record.Danger_to_worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <elementReference>$Record.Head_of_House__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>JnrelatedRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_Case_Date__c</field>
            <value>
                <elementReference>$Record.Judiciary_Case_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_case_search__c</field>
            <value>
                <elementReference>$Record.Judiciary_case_search__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Sex_Offender_Date__c</field>
            <value>
                <elementReference>$Record.National_Sex_Offender_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Role__c</field>
            <value>
                <elementReference>$Record.Intake_Person_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_By__c</field>
            <value>
                <elementReference>$Record.Reported__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex_Offender_registry_checked__c</field>
            <value>
                <elementReference>$Record.Sex_Offender_resigtery_checked__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker_Reason__c</field>
            <value>
                <elementReference>$Record.Worker_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Jn_Object_service_Creation</name>
        <label>Jn Object service Creation</label>
        <locationX>371</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Assign_person_role</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_or_Previous_Mental_Health_issue__c</field>
            <value>
                <elementReference>$Record.Current_or__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_Reason__c</field>
            <value>
                <elementReference>$Record.Danger_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_self__c</field>
            <value>
                <elementReference>$Record.Danger_to_self__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_worker__c</field>
            <value>
                <elementReference>$Record.Danger_to_worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <elementReference>$Record.Head_of_House__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_Case_Date__c</field>
            <value>
                <elementReference>$Record.Judiciary_Case_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_case_search__c</field>
            <value>
                <elementReference>$Record.Judiciary_case_search__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Sex_Offender_Date__c</field>
            <value>
                <elementReference>$Record.National_Sex_Offender_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Role__c</field>
            <value>
                <elementReference>$Record.Intake_Person_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_By__c</field>
            <value>
                <elementReference>$Record.Reported__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>JnrelatedRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex_Offender_registry_checked__c</field>
            <value>
                <elementReference>$Record.Sex_Offender_resigtery_checked__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker_Reason__c</field>
            <value>
                <elementReference>$Record.Worker_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Unverified_person</name>
        <label>Delete Unverified person</label>
        <locationX>1163</locationX>
        <locationY>1607</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>JnObjectCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Jn_Id__c</elementReference>
            </value>
        </filters>
        <object>Person__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Maltreament_Allegation_Records</name>
        <label>Copy 1 of Get Maltreament Allegation Records</label>
        <locationX>798</locationX>
        <locationY>3059</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Maltreament_Allegation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alleged_Maltreator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Jn_Records.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Maltreatment_Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_SDM</name>
        <label>Copy 1 of Get SDM</label>
        <locationX>952</locationX>
        <locationY>2819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_SDM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Jn_Records.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Jn_Records</name>
        <label>Get Jn Records</label>
        <locationX>385</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Jn_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_convert_to_select_person__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maltreament_Allegation_Records</name>
        <label>Get Maltreament Allegation Records</label>
        <locationX>182</locationX>
        <locationY>3059</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Maltreament_Allegation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Jn_Records.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Maltreatment_Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Involved_Record_Type</name>
        <label>Get Person Involved Record Type</label>
        <locationX>385</locationX>
        <locationY>2219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Person_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Persons Involved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM</name>
        <label>Get SDM</label>
        <locationX>336</locationX>
        <locationY>2819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SDM_MA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Jn_Records.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Select_Person_Record_Type</name>
        <label>Get Select Person Record Type</label>
        <locationX>1185</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Head_of_House_Hold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Select_Person</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unverified_Person_RecordType_Id</name>
        <label>Get Unverified Person RecordType Id</label>
        <locationX>1185</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Select_Person_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unverified_Person</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Person_Role</name>
        <label>Copy 1 of Update Person Role</label>
        <locationX>1722</locationX>
        <locationY>2219</locationY>
        <inputAssignments>
            <field>Current_or__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_self__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_worker__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_House__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Person_Role__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Jn_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Jn_Object_Handler__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_Case_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_case_search__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Sex_Offender_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Reported__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sex_Offender_resigtery_checked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker_Reason__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Head_of_house_hold</name>
        <label>Update Intake Head of house hold</label>
        <locationX>503</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_entry_condition</targetReference>
        </connector>
        <inputReference>Intake_Ins</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_House_Hold</name>
        <label>Update Intake House Hold</label>
        <locationX>503</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Assign_intake_HOH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JnrelatedRecId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Head_of_House_Hold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investigation_Head_of_house_hold</name>
        <label>Update Investigation Head of house hold</label>
        <locationX>1031</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_entry_condition</targetReference>
        </connector>
        <inputReference>Inv_Ins</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investigation_House_Hold</name>
        <label>Update Investigation House Hold</label>
        <locationX>1031</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Assign_Investigation_HOH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JnrelatedRecId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Head_of_House_Hold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Jn_Role</name>
        <label>Update Jn Role</label>
        <locationX>385</locationX>
        <locationY>3923</locationY>
        <inputReference>Jn_Object_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Role</name>
        <label>Update Person Role</label>
        <locationX>385</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Get_Jn_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_or__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_Reason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_self__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_to_worker__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Head_of_House__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Person_Role__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Jn_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Jn_Object_Handler__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_Case_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Judiciary_case_search__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Sex_Offender_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Person_Involved_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sex_Offender_resigtery_checked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker_Reason__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Servicecase_Head_of_house_hold</name>
        <label>Update Servicecase Head of house hold</label>
        <locationX>767</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_entry_condition</targetReference>
        </connector>
        <inputReference>Service_Case_Ins</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Servicecase_House_Hold</name>
        <label>Update Servicecase House Hold</label>
        <locationX>767</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Assign_service_case_HOH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JnrelatedRecId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Head_of_House_Hold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <start>
        <locationX>1059</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unverified_Person_RecordType_Id</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Maltreatment_Allegation_Creation</name>
        <label>Copy 1 of Maltreatment Allegation Creation</label>
        <locationX>666</locationX>
        <locationY>3299</locationY>
        <connector>
            <targetReference>Update_jn_person_role</targetReference>
        </connector>
        <flowName>INV_Creation_Maltreatment_Allegation</flowName>
        <inputAssignments>
            <name>New_Maltreator_ID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdmRecord</name>
            <value>
                <elementReference>Copy_1_of_Get_SDM</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Maltreatment_Allegation_Creation</name>
        <label>Maltreatment Allegation Creation</label>
        <locationX>50</locationX>
        <locationY>3299</locationY>
        <connector>
            <targetReference>Update_jn_person_role</targetReference>
        </connector>
        <flowName>INV_Creation_Maltreatment_Allegation</flowName>
        <inputAssignments>
            <name>New_Victim_ID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdmRecord</name>
            <value>
                <elementReference>Get_SDM</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>Intake_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Inv_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>Jn_Object_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Service_Case_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
    <variables>
        <name>updatePerson</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
