force-app/main/default/flows/Legal_Custody_Removal_Metrostops.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Child_Junction_Id</name>
        <label>Assign Child Junction Id</label>
        <locationX>160</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>Legal_Custody.Person_Jn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_selected_child_JN.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_selected_child_JN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_legal_custodian_value</name>
        <label>Assign legal custodian value</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Legal_Custodian_value_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Legal_Custodian_CF.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Legal_Custodian_CF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Custody</name>
        <label>Assign Legal Custody</label>
        <locationX>72</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>Legal_Custody.Child_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Child_Rec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody.Begin_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Begin_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody.Legal_Custody__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Custody_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Custodian_PF1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Legal_Custody_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Custody_Junction_Id</name>
        <label>Assign Legal Custody Junction Id</label>
        <locationX>160</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>Legal_Custody.Legal_Custodian_Jn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_selected_legal_custody.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_selected_legal_custody</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Get_Legal_Custodians_CF</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Legal Custodians</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>currentItem_Get_Legal_Custodians_CF</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Check_Legal_custody</targetReference>
        </connector>
        <formula>AND( {!currentItem_Get_Legal_Custodians_CF.Person__r.RecordType.DeveloperName}=&apos;Persons_Involved&apos;, NOT(
OR(
CONTAINS({!currentItem_Get_Legal_Custodians_CF.Person_Role_Formula__c},&apos;1&apos;),
CONTAINS({!currentItem_Get_Legal_Custodians_CF.Person_Role_Formula__c},&apos;2&apos;),
CONTAINS({!currentItem_Get_Legal_Custodians_CF.Person_Role_Formula__c},&apos;3&apos;),
CONTAINS({!currentItem_Get_Legal_Custodians_CF.Person_Role_Formula__c},&apos;4&apos;),
CONTAINS({!currentItem_Get_Legal_Custodians_CF.Person_Role_Formula__c},&apos;5&apos;)
)
) 
)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Legal_Custodian_CF</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Legal Custodian CF</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Legal_Custodian_CF</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Legal_Custodian_CF.Person__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Legal_Custody.Child__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_Legal_Custodian_CF</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Selected_child</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Selected child</label>
        <locationX>72</locationX>
        <locationY>2102</locationY>
        <assignNextValueToReference>currentItem_Selected_child_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Selected_child_0.Person__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Selected_Child_Rec.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_selected_child_JN</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Selected_Legal_Custody</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Selected Legal Custody</label>
        <locationX>72</locationX>
        <locationY>1646</locationY>
        <assignNextValueToReference>currentItem_Selected_Legal_Custody</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Selected_Legal_Custody.Person__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Legal_Custodian_PF1</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_selected_legal_custody</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Legal_Custodian</name>
        <label>Check Legal Custodian</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Legal_Custody_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_legal_custodian_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Legal_Custody.Child__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Custodian_CF</targetReference>
            </connector>
            <label>If legal custodian exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Legal_custody</name>
        <label>Check Legal custody</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Legal_Custody_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Legal_Custody</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Legal_Custodian</targetReference>
            </connector>
            <label>If not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_update_custody_or_not</name>
        <label>Check update custody or not</label>
        <locationX>336</locationX>
        <locationY>1526</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_update_legal_custody</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Legal_Custody</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Legal_Custody</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
        <rules>
            <name>If_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_update_legal_custody</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>If no</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Legal_Custodian_Choices_Set</name>
        <collectionReference>Get_Legal_Custodians_CF</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Person__c</object>
        <valueField>Person__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Legal_Custody_PF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Custody__c</picklistField>
        <picklistObject>Legal_Custody__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Begin_Date_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Legal_Custody.Begin_Date__c}),&apos;&apos;, TEXT(MONTH({!Legal_Custody.Begin_Date__c})) &amp; &quot;/&quot; &amp; TEXT(DAY({!Legal_Custody.Begin_Date__c})) &amp; &quot;/&quot; &amp; TEXT(YEAR({!Legal_Custody.Begin_Date__c}))
)</expression>
    </formulas>
    <formulas>
        <name>End_Date_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Legal_Custody.End_Date__c}),&apos;&apos;,TEXT(MONTH({!Legal_Custody.End_Date__c})) &amp; &apos;/&apos; &amp; TEXT(DAY({!Legal_Custody.End_Date__c})) &amp; &apos;/&apos; &amp; TEXT(YEAR({!Legal_Custody.End_Date__c}))
)</expression>
    </formulas>
    <interviewLabel>Legal Custody - Removal Metrostops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Custody - Removal Metrostops</label>
    <loops>
        <name>Iterate_selected_legal_custody</name>
        <label>Iterate selected legal custody</label>
        <locationX>72</locationX>
        <locationY>1766</locationY>
        <collectionReference>Selected_Legal_Custody</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Legal_Custody_Junction_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Selected_child</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Legal_Custodian_CF</name>
        <label>Iterate through Legal_Custodian_CF</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Legal_Custodian_CF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_legal_custodian_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Legal_Custody_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_selected_child_JN</name>
        <label>Iterate through selected child</label>
        <locationX>72</locationX>
        <locationY>2222</locationY>
        <collectionReference>Selected_child</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Child_Junction_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Legal_Custody</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Legal_Custody_Record</name>
        <label>Create Legal Custody Record</label>
        <locationX>72</locationX>
        <locationY>2678</locationY>
        <inputReference>Legal_Custody</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Legal_Custodians_CF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Custody_Record</name>
        <label>Get Legal Custody Record</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Child_Rec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Legal_Custody__c</object>
        <outputReference>Legal_Custody</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Begin_Date__c</queriedFields>
        <queriedFields>Child__c</queriedFields>
        <queriedFields>Child_Name__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Legal_Custody__c</queriedFields>
        <queriedFields>Person_Jn__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Legal_Custody_Screen</name>
        <label>Legal Custody</label>
        <locationX>336</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_update_custody_or_not</targetReference>
        </connector>
        <fields>
            <name>Legal_Custody_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Legal_Custody_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Child_Name</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Child : &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Selected_Child_Rec.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Begin_Date_value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Begin Date : &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Begin_Date_Formula}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Legal_Custodian_value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Legal Custodian : &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Legal_Custodian_value_var}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Legal_Custody_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Legal_Custody_value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Legal Custody : &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Legal_Custody.Legal_Custody__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>End_Date_value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;End Date : &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!End_Date_Formula}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Legal_Custody.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Legal_Custody_Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;No legal custody records found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Legal_Custody.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Legal_Custody_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Legal_Custody_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_want_to_update_legal_custody</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you want to update legal custody</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Legal_Custody.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Legal_Custody_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Legal_Custody_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Legal_Custody_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Legal_Custody_Child</name>
                    <fieldText>&lt;p&gt;Child : &lt;strong&gt;{!Selected_Child_Rec.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Begin_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Begin Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Legal_Custodian_PF1</name>
                    <choiceReferences>Legal_Custodian_Choices_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Legal Custodian</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Legal_Custody_F</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Custody to Father</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Legal_Custody_F</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Custody to Mother</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Legal_Custody_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Legal_Custody_F</name>
                    <choiceReferences>Legal_Custody_PF</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Legal Custody</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_update_legal_custody</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Legal_Custody.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save and Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Legal_Custody_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Legal_Custodians_CF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Legal_Custodian_CF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Selected_child_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Selected_Legal_Custody</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Legal_Custodian_value_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Legal_Custody</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legal_Custody__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Child_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
