force-app/main/default/flows/Legal_Custody.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_legal_custody_values_in_INV</name>
        <label>Assign legal custody values in INV</label>
        <locationX>528</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Person_Jn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_child_persons.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Legal_Custody__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Custody_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Begin_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Begin_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Legal_Custodian_Jn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Custodian</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Legal_Custody_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_child_persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_legal_custody_values_in_SC</name>
        <label>Assign legal custody values in SC</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Person_Jn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_child_persons.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Legal_Custody__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Custody_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Begin_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Begin_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Legal_Custodian_Jn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Custodian</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_Record.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Custody_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Legal_Custody_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_child_persons</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Child_Persons</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Child Persons</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Get_Child_Persons</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Persons</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Child_Persons.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>1</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Child_Persons.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>2</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Child_Persons.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>3</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Child_Persons.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>4</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Child_Persons.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>5</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Child_Persons.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Child</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Legal_Custodian</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Legal_Custodian</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Legal Custodian</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>currentItem_Get_Legal_Custodian</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Persons</collectionReference>
        <conditionLogic>NOT(1 OR 2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Legal_Custodian.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>1</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Legal_Custodian.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>2</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Legal_Custodian.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>3</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Legal_Custodian.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>4</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Legal_Custodian.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>5</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Legal_Custodian.Person_Role_Formula__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Child</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Legal_Custody</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_child_selected</name>
        <label>Check child selected</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_child_persons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_selected_in_SC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_child_persons.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_child_persons.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_child_persons.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_legal_custody_values_in_SC</targetReference>
            </connector>
            <label>If selected in SC</label>
        </rules>
        <rules>
            <name>If_selected_in_INV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_child_persons.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_child_persons.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_child_persons.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_legal_custody_values_in_INV</targetReference>
            </connector>
            <label>If selected in INV</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Legal_Child_Choice_Set</name>
        <collectionReference>Get_Child_Persons</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Person__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Legal_Custodian_Choice_Set</name>
        <collectionReference>Get_Legal_Custodian</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Person__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Legal_Custody_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Custody__c</picklistField>
        <picklistObject>Legal_Custody__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Legal Custody {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Custody</label>
    <loops>
        <name>Iterate_through_child_persons</name>
        <label>Iterate through child persons</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Child_Persons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_child_selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Legal_Custody</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Legal_Custody</name>
        <label>Create Legal Custody</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>Legal_Custody_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Persons</name>
        <label>Get Persons</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Persons</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Legal_Custody</name>
        <label>Legal Custody</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_through_child_persons</targetReference>
        </connector>
        <fields>
            <name>Legal_Custody_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Legal_Custody_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Child_name</name>
                    <choiceReferences>Legal_Child_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Child name</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Begin_date</name>
                    <dataType>Date</dataType>
                    <fieldText>Begin Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Relationship</name>
                    <dataType>String</dataType>
                    <fieldText>Relationship</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Legal_Custody_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Legal_Custody_Picklist</name>
                    <choiceReferences>Legal_Custody_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Legal Custody</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>End_date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Legal_Custodian</name>
                    <choiceReferences>Legal_Custodian_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Legal Custodian</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Legal_Custody_Picklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Custody to Father</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Legal_Custody_Picklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Custody to Mother</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Persons</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_Child_Persons</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Legal_Custodian</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Legal_Custody_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legal_Custody__c</objectType>
    </variables>
    <variables>
        <name>Legal_Custody_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legal_Custody__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
