force-app/main/default/flows/Maltreatment_Allegation_Records_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Abuse_Type_to_Maltreatment_Record</name>
        <label>Assign Abuse Type to Maltreatment Record</label>
        <locationX>794</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>Maltreatment_Allegation_Record.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Abuse_Types</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maltreatment_Allegation_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaltreatmentAllegationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Victim_or_Maltreator_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Abuse_Types</name>
        <label>Assign Abuse Types</label>
        <locationX>358</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PHYSICAL ABUSE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SEXUAL ABUSE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Neglect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FAILURE TO PROTECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ABANDONMENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>UNATTENDED CHILD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MEDICAL NEGLECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MENTAL INJURY - ABUSE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MENTAL INJURY - NEGLECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Abuse_Types</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>RISK OF HARM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SDM_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_maltreator_to_maltreatment_allegation_record</name>
        <label>Assign maltreator to maltreatment allegation record</label>
        <locationX>358</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Maltreatment_Allegation_Record.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDMAllegedVictimMaltreatorRecord.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maltreatment_Allegation_Record.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SDM_Records.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SDM_Alleged_Victim_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_maltreators</name>
        <label>Assign maltreators</label>
        <locationX>622</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Maltreatment_Allegation_Record.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_maltreators.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Maltreatment_Allegation_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_victim_to_maltreatment_allegation_record</name>
        <label>Assign victim to maltreatment allegation record</label>
        <locationX>94</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Maltreatment_Allegation_Record.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDMAllegedVictimMaltreatorRecord.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maltreatment_Allegation_Record.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SDM_Records.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SDM_Alleged_Maltreator_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_victims</name>
        <label>Assign victims</label>
        <locationX>926</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Maltreatment_Allegation_Record.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_victims.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Maltreatment_Allegation_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_victims</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_selected_Abuse_Type</name>
        <label>Check for selected Abuse Type</label>
        <locationX>1012</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Abuse_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Abuse_Values</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Abuse_Types</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Abuse_Type_to_Maltreatment_Record</targetReference>
            </connector>
            <label>If selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_victim_records</name>
        <label>Check for victim &amp; maltreator records</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_exists</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Maltreatment_Allegation_Victim</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Maltreatment_Allegation_Maltreator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SDMAllegedVictimMaltreatorRecord.Alleged_Victim_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SDMAllegedVictimMaltreatorRecord.Alleged_Maltreator_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Abuse_Types</targetReference>
            </connector>
            <label>If not exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Victim_or_Maltreator</name>
        <label>Victim or Maltreator</label>
        <locationX>358</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Abuse_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Victim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDMAllegedVictimMaltreatorRecord.Alleged_Victim_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_victim_to_maltreatment_allegation_record</targetReference>
            </connector>
            <label>Check for Victim</label>
        </rules>
        <rules>
            <name>Check_for_maltreator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDMAllegedVictimMaltreatorRecord.Alleged_Maltreator_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_maltreator_to_maltreatment_allegation_record</targetReference>
            </connector>
            <label>Check for maltreator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Victim_or_Maltreator_0</name>
        <label>Victim or Maltreator</label>
        <locationX>794</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Abuse_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Victim_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDMAllegedVictimMaltreatorRecord.Alleged_Victim_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_maltreators</targetReference>
            </connector>
            <label>Check for Victim</label>
        </rules>
        <rules>
            <name>Check_for_maltreator_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDMAllegedVictimMaltreatorRecord.Alleged_Maltreator_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_victims</targetReference>
            </connector>
            <label>Check for maltreator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Victim_or_Maltreator_0_0</name>
        <label>Victim or Maltreator</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_Abuse_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Victim_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDMAllegedVictimMaltreatorRecord.Alleged_Victim_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maltreatment_Allegation_Victim</targetReference>
            </connector>
            <label>Check for Victim</label>
        </rules>
        <rules>
            <name>Check_for_maltreator_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDMAllegedVictimMaltreatorRecord.Alleged_Maltreator_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maltreatment_Allegation_Maltreator</targetReference>
            </connector>
            <label>Check for maltreator</label>
        </rules>
    </decisions>
    <formulas>
        <name>ABANDONMENT_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_SDM_Records.A_child_of_any_age_has_been_abandoned__c} ,&quot;ABANDONMENT&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Failure_To_Protect_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_SDM_Records.The_caregiver_does_not_intervene_despite__c},&quot;FAILURE TO PROTECT&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>MaltreatmentAllegationName</name>
        <dataType>String</dataType>
        <expression>&quot;Maltreatment Allegation - &quot;+{!Iterate_through_Abuse_Types}</expression>
    </formulas>
    <formulas>
        <name>MEDICAL_NEGLECT_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_SDM_Records.The_unreasonable_delay__c},&quot;MEDICAL NEGLECT&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>MENTAL_INJURY_ABUSE_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_SDM_Records.Abuse_child_has_an_observable_identifi__c},&quot;MENTAL INJURY - ABUSE&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>MENTAL_INJURY_NEGLECT_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_SDM_Records.Neglect_child_has_an_observable_identif__c},&quot;MENTAL INJURY - NEGLECT&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Neglect_Formula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Get_SDM_Records.Suspicious_death_of_child_due_to_neglect__c}, {!Get_SDM_Records.signs_or_diagnosis_of_non_organic__c}, {!Get_SDM_Records.Inadequate_of_food_nutrition__c}, {!Get_SDM_Records.A_child_discharged_from_a_facility__c}, {!Get_SDM_Records.Exposure_to_unsafe__c}, {!Get_SDM_Records.Inadequate_clothing_or_hygiene__c}, {!Get_SDM_Records.Inadequate_supervision__c}, {!Get_SDM_Records.Physical_treatment_of_the_child_poses__c}) ,&quot;Neglect&quot; ,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Physical_Abuse_Formula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Get_SDM_Records.Suspicious_death_of_a_child_due_to_abuse__c}, {!Get_SDM_Records.Non_accidental_physical_injury__c}, {!Get_SDM_Records.Injury_inconsistent_with_explanation__c}, {!Get_SDM_Records.Injury_that_appears_suspicious__c}, {!Get_SDM_Records.Giving_child_toxic_chemicals_alcohol__c}, {!Get_SDM_Records.Caregiver_action_that_caused_injury__c}),&quot;PHYSICAL ABUSE&quot; ,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RISK_OF_HARM_Formula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Get_SDM_Records.Prior_child_fatality_and_a_new_child__c}, {!Get_SDM_Records.Substance_Exposed_Newborn__c}, {!Get_SDM_Records.Child_s_basic_need_to_be_unmet__c}, {!Get_SDM_Records.Risk_of_sex_Abuse__c}, {!Get_SDM_Records.Risk_of_Domestic_Violence__c}, {!Get_SDM_Records.Harm_Risk_of_Sex_Trafficking__c}, {!Get_SDM_Records.Previous_Fatality_or_Serious_Injury__c}, {!Get_SDM_Records.Prior_Indicated_or_Unsub_Finding__c}, {!Get_SDM_Records.Adult_Survivor_of_child_Maltreatment__c}, {!Get_SDM_Records.Birth_Match__c}, {!Get_SDM_Records.Allegations_that_the_maltreatment__c}),&quot;RISK OF HARM&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Selected_Abuse_Values</name>
        <dataType>String</dataType>
        <expression>{!ABANDONMENT_Formula}+{!Failure_To_Protect_Formula}+{!MEDICAL_NEGLECT_Formula}+{!MENTAL_INJURY_ABUSE_Formula}+{!MENTAL_INJURY_NEGLECT_Formula}+{!Neglect_Formula}+{!Physical_Abuse_Formula}+{!RISK_OF_HARM_Formula}+{!Sexual_Abuse_Formula}+{!UNATTENDED_CHILD_Formula}</expression>
    </formulas>
    <formulas>
        <name>Sexual_Abuse_Formula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Get_SDM_Records.Sexual_molestation_of_a_child__c}, {!Get_SDM_Records.Sexual_act_s_among_siblings_or_other__c}, {!Get_SDM_Records.Sexual_exploitation_of_a_child__c}, {!Get_SDM_Records.Physical_behavioral_or_suspicious__c}, {!Get_SDM_Records.Risk_of_Sex_Trafficking__c}) , &quot;SEXUAL ABUSE&quot; ,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>UNATTENDED_CHILD_Formula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Get_SDM_Records.A_child_of_any_age_who_is_physically__c}, {!Get_SDM_Records.A_child_under_8_has_been_left_alone__c}, {!Get_SDM_Records.A_child_over_the_age_of_8_has_been_left__c}),&quot;UNATTENDED CHILD&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Maltreatment Allegation Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maltreatment Allegation Records Create Flow</label>
    <loops>
        <name>Iterate_through_Abuse_Types</name>
        <label>Iterate through Abuse Types</label>
        <locationX>358</locationX>
        <locationY>1526</locationY>
        <collectionReference>Abuse_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_selected_Abuse_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Maltreatment_Allegation_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_maltreators</name>
        <label>Iterate through maltreators</label>
        <locationX>534</locationX>
        <locationY>2006</locationY>
        <collectionReference>SDM_Alleged_Maltreator_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_maltreators</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_through_Abuse_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_victims</name>
        <label>Iterate through victims</label>
        <locationX>838</locationX>
        <locationY>2006</locationY>
        <collectionReference>SDM_Alleged_Victim_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_victims</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_through_Abuse_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Maltreatment_Allegation_Records</name>
        <label>Create Maltreatment Allegation Records</label>
        <locationX>358</locationX>
        <locationY>2630</locationY>
        <inputReference>MaltreatmentAllegationLists</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_SDM_Records</name>
        <label>Get SDM Records</label>
        <locationX>358</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Victim_or_Maltreator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SDMAllegedVictimMaltreatorRecord.SDM__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Maltreatment_Allegation_Maltreator</name>
        <label>Maltreatment Allegation Maltreator</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_for_victim_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alleged_Maltreator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SDMAllegedVictimMaltreatorRecord.Alleged_Maltreator_s__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Maltreatment_Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Maltreatment_Allegation_Victim</name>
        <label>Maltreatment Allegation Victim</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_victim_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SDMAllegedVictimMaltreatorRecord.Alleged_Victim_s__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Maltreatment_Allegation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SDM_Alleged_Maltreator_Records</name>
        <label>SDM Alleged Maltreator Records</label>
        <locationX>94</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Abuse_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SDM_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SDMAllegedVictimMaltreatorRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Alleged_Maltreator_s__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM_Alleged_Victim_and_Maltreator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SDM_Alleged_Victim_Records</name>
        <label>SDM Alleged Victim Records</label>
        <locationX>358</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Abuse_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SDM_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SDMAllegedVictimMaltreatorRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Alleged_Victim_s__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM_Alleged_Victim_and_Maltreator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Victim_or_Maltreator_0_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Abuse_Types</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Maltreatment_Allegation_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maltreatment_Allegation__c</objectType>
    </variables>
    <variables>
        <name>MaltreatmentAllegationLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maltreatment_Allegation__c</objectType>
    </variables>
    <variables>
        <name>SDMAllegedVictimMaltreatorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
</Flow>
