force-app/main/default/flows/Metrostops_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_to_worker</name>
        <label>Notification to worker</label>
        <locationX>534</locationX>
        <locationY>1764</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_IDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Profile_IDs</name>
        <label>Assign Profile IDs</label>
        <locationX>842</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Profile_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_profiles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_profiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_IDs</name>
        <label>Assign Recipient IDs</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Recipient_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_IDs_1</name>
        <label>Assign Recipient IDs</label>
        <locationX>402</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Recipient_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_supervisors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_IDs_2</name>
        <label>Assign Recipient IDs</label>
        <locationX>754</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Recipient_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supervisor_and_Admin_IDs</name>
        <label>Assign Supervisor and Admin IDs</label>
        <locationX>842</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>Recipient_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supervisor_IDs</name>
        <label>Assign Supervisor IDs</label>
        <locationX>490</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>Recipient_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_supervisors.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_supervisors</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Date_Difference</name>
        <label>Check Date Difference</label>
        <locationX>534</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Until_3rd_day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_Difference</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Until 3rd day</label>
        </rules>
        <rules>
            <name>Until_5th_day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_Difference</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_Difference</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_1</targetReference>
            </connector>
            <label>Until 5th day</label>
        </rules>
        <rules>
            <name>After_5_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_Difference</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_2</targetReference>
            </connector>
            <label>After 5 days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Date_Difference</name>
        <dataType>Number</dataType>
        <expression>TODAY() -DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Notification_Body</name>
        <dataType>String</dataType>
        <expression>{!Get_Child_Name.Name} + &apos; has not been placed, please update the Placement record&apos;</expression>
    </formulas>
    <formulas>
        <name>Notification_Title</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Metrostops notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Metrostops notification</label>
    <loops>
        <name>Iterate_through_profiles</name>
        <label>Iterate through profiles</label>
        <locationX>754</locationX>
        <locationY>636</locationY>
        <collectionReference>Get_Profile_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Profile_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_supervisor_and_admin_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_supervisors</name>
        <label>Iterate through supervisors</label>
        <locationX>402</locationX>
        <locationY>876</locationY>
        <collectionReference>Get_Supervisor_IDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Supervisor_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Child_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_users</name>
        <label>Iterate through users</label>
        <locationX>754</locationX>
        <locationY>1212</locationY>
        <collectionReference>Get_supervisor_and_admin_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Supervisor_and_Admin_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Child_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Name</name>
        <label>Get Child Name</label>
        <locationX>534</locationX>
        <locationY>1644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_to_worker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Placement_Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_1</name>
        <label>Get Custom Notification</label>
        <locationX>402</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Placement_Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_2</name>
        <label>Get Custom Notification</label>
        <locationX>754</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Placement_Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Records</name>
        <label>Get Profile Records</label>
        <locationX>402</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Supervisor_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casevault Supervisor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Records_1</name>
        <label>Get Profile Records</label>
        <locationX>754</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_profiles</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casevault Supervisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_supervisor_and_admin_records</name>
        <label>Get supervisor and admin records</label>
        <locationX>754</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_IDs_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>In</operator>
            <value>
                <elementReference>Profile_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supervisor_IDs</name>
        <label>Get Supervisor IDs</label>
        <locationX>402</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_IDs_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Profile_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Date_Difference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_you_want_to_proceed_with_placement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>Child_Removal__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-10</startDate>
            <startTime>12:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Profile_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
