force-app/main/default/flows/New_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_First_Name</name>
        <label>Assign First Name</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>intake_Record.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Intake_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intake_Record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Record</name>
        <label>Assign Values to Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>intake_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purpose_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Communication_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Jurisdiction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jurisdiction_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Narrative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Narrative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Received_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Unknown_Reporter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Record_for_unknown_Reporter</name>
        <label>Assign Values to Record for unknown Reporter</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>intake_Record.First_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Last_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Gender__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Title__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Intake_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Unknown_Reporter</name>
        <label>Check for Unknown Reporter</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_First_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Unknown_Reporter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Record_for_unknown_Reporter</targetReference>
            </connector>
            <label>Is Unknown Reporter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>communication</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Communication__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>hours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hours__c</picklistField>
        <picklistObject>Picklist_Config__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>jurisdiction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jurisdiction__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>minutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Minutes__c</picklistField>
        <picklistObject>Picklist_Config__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>purpose</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Timezone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Am_Pm__c</picklistField>
        <picklistObject>Picklist_Config__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>title</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Title__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Intake_Record</name>
        <label>Create Intake Record</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <inputReference>intake_Record</inputReference>
    </recordCreates>
    <screens>
        <name>New_Intake</name>
        <label>New Intake</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Record</targetReference>
        </connector>
        <fields>
            <name>New_Intake_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Intake_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purpose_field</name>
                    <choiceReferences>purpose</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Purpose</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Intake_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Communication_field</name>
                    <choiceReferences>communication</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Communication</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Intake_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Intake_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Jurisdiction_field</name>
                    <choiceReferences>jurisdiction</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Jurisdiction__c</elementReference>
                    </defaultValue>
                    <fieldText>Jurisdiction</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Intake_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Received_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Received Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The received date should not be in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Received_Date} &lt; NOW()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>reporter_Details</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Reporter Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Intake_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Intake_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Unknown_Reporter__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Title_field</name>
                    <choiceReferences>title</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Middle_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Gender__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.SuppliedEmail</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Address_Phone_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Address_1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.City__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.intake_Zipcode__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Intake_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Anonymous_reporter__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.First_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>First_Name_Field</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Last_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Role_field</name>
                    <choiceReferences>role</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Role__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Acknowledgement_Letter__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Ext__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Address_2__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.State__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Country__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Narrative</name>
            <fieldText>Narrative</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Intake</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>intake_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
