force-app/main/default/flows/Payment_Generation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Child_From_Payment_Summary</name>
        <label>Assign Child From Payment Summary</label>
        <locationX>578</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>Child_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Payment_Summary.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Payment_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Summary_Record</name>
        <label>Assign Payment Summary Record</label>
        <locationX>578</locationX>
        <locationY>2484</locationY>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Month_End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Payment_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Of_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Records.Placement_Structure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Per_Diem_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contract_Records.Per_Diem_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Generated_Payment_Summary_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Updated_Payment_Summary_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Amount_For_Private_Provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Contract_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Summary_Record_0</name>
        <label>Assign Payment Summary Record</label>
        <locationX>1458</locationX>
        <locationY>2484</locationY>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Records_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Month_End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Payment_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Of_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Per_Diem_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>public_provider_per_diem_rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Records_0.Placement_Structure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Generated_Payment_Summary_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Updated_Payment_Summary_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Amount_For_Public_Provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Public_Provider_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Summary_Record_1</name>
        <label>Assign Payment Summary Record</label>
        <locationX>578</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Month_End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Payment_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Pending_Payment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Updated_Payment_Summary_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Pending_Payment_Records.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Pending_Payment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Summary_Record_3</name>
        <label>Assign Payment Summary Record</label>
        <locationX>1106</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Payment_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Pending_Payment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Updated_Payment_Summary_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Pending_Payment_Records.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Pending_Payment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Summary_Record_4</name>
        <label>Assign Payment Summary Record</label>
        <locationX>842</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Of_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Payment_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Pending_Payment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Payment_Summary_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Updated_Payment_Summary_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Pending_Payment_Records.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Pending_Payment_Records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Generated_Payment_Record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Generated Payment Record</label>
        <locationX>490</locationX>
        <locationY>636</locationY>
        <assignNextValueToReference>currentItem_Filter_Generated_Payment_Record_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Payment_Summary_Record</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Generated_Payment_Record_0.Payment_Generated__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Payment_Pending_Records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Payment_Pending_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Payment Pending Records</label>
        <locationX>490</locationX>
        <locationY>756</locationY>
        <assignNextValueToReference>currentItem_Filter_Payment_Pending_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Payment_Summary_Record</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Payment_Pending_Records.Payment_Generated__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Payment_Summary</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_End_Date</name>
        <label>Check for End Date</label>
        <locationX>842</locationX>
        <locationY>1572</locationY>
        <defaultConnector>
            <targetReference>Assign_Payment_Summary_Record_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_End_Date_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Pending_Payment_Records.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment_Summary_Record_1</targetReference>
            </connector>
            <label>Is End Date Not Present</label>
        </rules>
        <rules>
            <name>Is_Start_Date_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Pending_Payment_Records.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment_Summary_Record_4</targetReference>
            </connector>
            <label>Is Start Date Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Placement_Structure</name>
        <label>Check for Placement Structure</label>
        <locationX>710</locationX>
        <locationY>2364</locationY>
        <defaultConnector>
            <targetReference>Iterate_Contract_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Child_Records.Placement_Structure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Contract_Records.Placement_Structure__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Child_Records.Account.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Public_Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment_Summary_Record</targetReference>
            </connector>
            <label>Is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_placement_structure_1</name>
        <label>Check for placement structure</label>
        <locationX>1590</locationX>
        <locationY>2364</locationY>
        <defaultConnector>
            <targetReference>Iterate_Public_Provider_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Public_Provider_Rate.Placement_Structure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Child_Records_0.Placement_Structure__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment_Summary_Record_0</targetReference>
            </connector>
            <label>Is Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Provider_Payment</name>
        <label>Check for Provider Payment</label>
        <locationX>490</locationX>
        <locationY>3228</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provider_Payment_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Provider_Payment</targetReference>
            </connector>
            <label>Is Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Public_Provider</name>
        <label>Check for Public Provider</label>
        <locationX>490</locationX>
        <locationY>2004</locationY>
        <defaultConnector>
            <targetReference>Iterate_Child_Records_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Private_Provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Public_Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Child_Records</targetReference>
            </connector>
            <label>Is Private Provider</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Check_for_Month_End</name>
        <dataType>Boolean</dataType>
        <expression>IF(IF(
  MONTH( TODAY() ) = 12,
  DATE( YEAR( TODAY() ), 12, 31 ),
  DATE( YEAR( TODAY() ), MONTH ( TODAY() ) + 1, 1 ) - 1 ) == TODAY(),true,false
)</expression>
    </formulas>
    <formulas>
        <name>Final_Amount_For_Private_Provider</name>
        <dataType>Number</dataType>
        <expression>{!Number_Of_Days} *{!Iterate_Contract_Records.Per_Diem_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Final_Amount_For_Public_Provider</name>
        <dataType>Number</dataType>
        <expression>{!Number_Of_Days} *{!public_provider_per_diem_rate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Month_End</name>
        <dataType>Date</dataType>
        <expression>IF(
  MONTH( TODAY() ) = 12,
  DATE( YEAR( TODAY() ), 12, 31 ),
  DATE( YEAR( TODAY() ), MONTH ( TODAY() ) + 1, 1 ) - 1 
)</expression>
    </formulas>
    <formulas>
        <name>Number_Of_Days</name>
        <dataType>Number</dataType>
        <expression>{!Month_End}-{!Start_Date_Of_Month}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>public_provider_per_diem_rate</name>
        <dataType>Number</dataType>
        <expression>({!Iterate_Public_Provider_Rate.Estimated_Rate_Value__c} * 12) / 365</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Start_Date_Of_Month</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()),1)</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <interviewLabel>Payment Generation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Generation Flow</label>
    <loops>
        <name>Iterate_Child_Records</name>
        <label>Iterate Child Records</label>
        <locationX>50</locationX>
        <locationY>2124</locationY>
        <collectionReference>Get_Persons_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterate_Contract_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payment_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Child_Records_0</name>
        <label>Iterate Child Records</label>
        <locationX>930</locationX>
        <locationY>2124</locationY>
        <collectionReference>Get_Persons_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterate_Public_Provider_Rate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payment_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Contract_Records</name>
        <label>Iterate Contract Records</label>
        <locationX>490</locationX>
        <locationY>2244</locationY>
        <collectionReference>Get_Contracts_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Placement_Structure</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Child_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Payment_Summary</name>
        <label>Iterate Payment Summary</label>
        <locationX>490</locationX>
        <locationY>876</locationY>
        <collectionReference>Filter_Generated_Payment_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Child_From_Payment_Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Persons_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Pending_Payment_Records</name>
        <label>Iterate Pending Payment Records</label>
        <locationX>490</locationX>
        <locationY>1452</locationY>
        <collectionReference>Filter_Payment_Pending_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Public_Provider</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Public_Provider_Rate</name>
        <label>Iterate Public Provider Rate</label>
        <locationX>1370</locationX>
        <locationY>2244</locationY>
        <collectionReference>Get_Public_Provider_Rates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_placement_structure_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Child_Records_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Summary</name>
        <label>Create Payment Summary</label>
        <locationX>490</locationX>
        <locationY>2988</locationY>
        <connector>
            <targetReference>Update_Payment_Records</targetReference>
        </connector>
        <inputReference>Generated_Payment_Summary_List</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Provider_Payment</name>
        <label>Create Provider Payment</label>
        <locationX>358</locationX>
        <locationY>3348</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Month_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>Total_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date_Of_Month</elementReference>
            </value>
        </inputAssignments>
        <object>Provider_Payment_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contracts_Records</name>
        <label>Get Contracts Records</label>
        <locationX>490</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Generated_Payment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CWS_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Summary_Record</name>
        <label>Get Payment Summary Record</label>
        <locationX>490</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contracts_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4)  AND 3 AND 4</filterLogic>
        <filters>
            <field>Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date_Of_Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Persons_Records</name>
        <label>Get Persons Records</label>
        <locationX>490</locationX>
        <locationY>1212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Payment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Child_Records</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Payment_Record</name>
        <label>Get Provider Payment Record</label>
        <locationX>490</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Pending_Payment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date_Of_Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Month_End</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Provider_Payment_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Provider_Rates</name>
        <label>Get Public Provider Rates</label>
        <locationX>490</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Summary_Record</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Public_Provider_Rate__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Records</name>
        <label>Update Payment Records</label>
        <locationX>490</locationX>
        <locationY>3108</locationY>
        <connector>
            <targetReference>Check_for_Provider_Payment</targetReference>
        </connector>
        <inputReference>Updated_Payment_Summary_List</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Public_Provider_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-23</startDate>
            <startTime>04:05:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Child_Records</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Generated_Payment_Record_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Summary__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Payment_Pending_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Summary__c</objectType>
    </variables>
    <variables>
        <name>Generated_Payment_Summary_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Summary__c</objectType>
    </variables>
    <variables>
        <name>per_diem_rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>3.24</numberValue>
        </value>
    </variables>
    <variables>
        <name>PlacementStructureTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Total_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Updated_Payment_Summary_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Summary__c</objectType>
    </variables>
    <variables>
        <name>Updated_Payment_Summary_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Summary__c</objectType>
    </variables>
</Flow>
