force-app/main/default/flows/Permanency_Plan_Proceed_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Annual_Review_Approval_Process</name>
        <label>Annual Review Approval Process</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Approval_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>AnnualReviewId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rate_Approval_Process</name>
        <label>Rate Approval Process</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Approval_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>RateId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_supervisor_Approval</name>
        <label>Submit for supervisor Approval</label>
        <locationX>2756</locationX>
        <locationY>1118</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Check_Rate_or_Annual_Review</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Approval_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>ApprovalProcessName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>PermanencyPlanId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Suspension_Approval_Process</name>
        <label>Suspension Approval Process</label>
        <locationX>1634</locationX>
        <locationY>1118</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>SuspensionSuccess_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Approval_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>SuspensionId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Approval_Status_in_Annual_Review_Record</name>
        <label>Check Approval Status in Annual Review Record</label>
        <locationX>2822</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Annual_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_Status_is_Submitted_for_Approval_or_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Annual_Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Annual_Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_0</targetReference>
            </connector>
            <label>Check Status is Submitted for Approval or Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approval_Status_in_Rate_Record</name>
        <label>Check Approval Status in Rate Record</label>
        <locationX>2294</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Rate_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_status_is_Sumbitted_for_approval_or_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rate_Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Rate_Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate</targetReference>
            </connector>
            <label>Check status is Sumbitted for approval or Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check current approval Rate or Annual.</description>
        <name>Check_Rate_or_Annual_Review</name>
        <label>Check Rate or Annual Review</label>
        <locationX>2756</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_Is_It_Rate_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rate_Record</targetReference>
            </connector>
            <label>Check Is It Rate Approval</label>
        </rules>
        <rules>
            <name>Check_Is_It_Annual_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Annual_Record</targetReference>
            </connector>
            <label>Check Is It Annual Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Approval_is_Aggrement_or_Annnual_Review</name>
        <label>Check the Approval is Aggrement or Annnual Review</label>
        <locationX>1667</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Update_Permanency_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_unequal_stage_and_is_it_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OnCurrentStage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rate_Record</targetReference>
            </connector>
            <label>Check unequal stage and is it Agreement</label>
        </rules>
        <rules>
            <name>Check_unequal_stage_and_is_it_Annual_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OnCurrentStage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Annual_Review</targetReference>
            </connector>
            <label>Check unequal stage and is it Annual Review</label>
        </rules>
        <rules>
            <name>Check_stage_is_Suspension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suspension_Record</targetReference>
            </connector>
            <label>Check stage is Suspension</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_current_clicked_Stage_and_Approval_Stage</name>
        <label>Check the current clicked Stage and Approval Stage</label>
        <locationX>990</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_Object_Namespace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_is_Application_approved_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OnCurrentStage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OnClickedStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Screen</targetReference>
            </connector>
            <label>Check is Application approved Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permenency_Proceed_Status_Check</name>
        <label>Permenency Proceed Status Check</label>
        <locationX>520</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_the_current_clicked_Stage_and_Approval_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Permanency_plan_is_already_Submitted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permanency_Plan_Record.Permanency_Proceed_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Erro_Screen</targetReference>
            </connector>
            <label>Permanency plan is already Submitted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GuardianShipName</name>
        <dataType>String</dataType>
        <expression>IF ({!OnClickedStage} == 1, &apos;Application&apos;, IF ({!OnClickedStage} == 2, &apos;Disclosure Checklist&apos;, IF ({!OnClickedStage} == 3, &apos;Agreement&apos;, IF ({!OnClickedStage} == 4, &apos;Annual Review&apos;, IF ({!OnClickedStage} == 5, &apos;Suspension&apos;, &apos;Completed&apos;)))))</expression>
    </formulas>
    <formulas>
        <name>OnCurrentStage</name>
        <dataType>Number</dataType>
        <expression>IF(ISPICKVAL({!Get_Permanency_Plan_Record.Guardianship_Planing__c}, &apos;1&apos;), 1, IF(ISPICKVAL({!Get_Permanency_Plan_Record.Guardianship_Planing__c}, &apos;2&apos;), 2, IF(ISPICKVAL({!Get_Permanency_Plan_Record.Guardianship_Planing__c}, &apos;3&apos;), 3, IF(ISPICKVAL({!Get_Permanency_Plan_Record.Guardianship_Planing__c}, &apos;4&apos;), 4, IF(ISPICKVAL({!Get_Permanency_Plan_Record.Guardianship_Planing__c}, &apos;5&apos;), 5, 0)))))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Permanency Plan Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permanency Plan Proceed Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Annual_Record</name>
        <label>Get Annual Record</label>
        <locationX>2822</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approval_Status_in_Annual_Review_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnnualReviewId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Annual_Review__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approval_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permanency_Plan_Record</name>
        <label>Get Permanency Plan Record</label>
        <locationX>520</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permenency_Proceed_Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermanencyPlanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Permanency_Plan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Guardianship_Planing__c</queriedFields>
        <queriedFields>Permanency_Proceed_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rate_Record</name>
        <label>Get Rate Record</label>
        <locationX>2294</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approval_Status_in_Rate_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rate__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approval_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Annual_Review</name>
        <label>Update Annual Review</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Annual_Review_Approval_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnnualReviewId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supervisor_Approval__c</field>
            <value>
                <elementReference>SupervisorId</elementReference>
            </value>
        </inputAssignments>
        <object>Annual_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permanency_Plan</name>
        <label>Update Permanency Plan</label>
        <locationX>2756</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Submit_for_supervisor_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermanencyPlanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supervisor_Approval__c</field>
            <value>
                <elementReference>SupervisorId</elementReference>
            </value>
        </inputAssignments>
        <object>Permanency_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rate_Record</name>
        <label>Update Rate Record</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Rate_Approval_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RateId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supervisor_Approval__c</field>
            <value>
                <elementReference>SupervisorId</elementReference>
            </value>
        </inputAssignments>
        <object>Rate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suspension_Record</name>
        <label>Update Suspension Record</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Suspension_Approval_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuspensionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supervisor_Approval__c</field>
            <value>
                <elementReference>SupervisorId</elementReference>
            </value>
        </inputAssignments>
        <object>Suspension__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Erro_Screen</name>
        <label>Approval Erro Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlreadySubmittedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;This Permanency Plan record is currently in an approval process. A record can be in only one approval process at a time.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Error_Screen</name>
        <label>Approval Error Screen</label>
        <locationX>1898</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Something Went Wrong: {!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approved_Screen</name>
        <label>Approved Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApplicationApprovedMsg</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Application Tab is Already Approved.&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OnClickedStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisclosureApprovedMsg</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Disclosure Checklist Tab is Already Approved.&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OnClickedStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approver_Screen</name>
        <label>Approver Screen</label>
        <locationX>1667</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_the_Approval_is_Aggrement_or_Annnual_Review</targetReference>
        </connector>
        <fields>
            <name>ApprovalLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>SupervisorApprovalField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose the Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>PermanencyObjectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.ManagerId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SupervisorId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rate</name>
        <label>Rate</label>
        <locationX>2162</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RateAlreadySumittedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;This Rate record is already Submitted for Approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Rate_Record.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted for Approval</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RateApprovedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;This Rate record is already Approved.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Rate_Record.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rate_0</name>
        <label>Rate</label>
        <locationX>2690</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AnnualAlreadySumittedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;This Annual Review record is already Submitted for Approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Annual_Record.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted for Approval</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AnnualApprovedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Annual Review record is already Approved.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Annual_Record.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>permanencyApprovalMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;This Permananecy Plan {!GuardianShipName} Record Sent to Supervisor Approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OnClickedStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OnCurrentStage</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RateApprovalMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This Agreement Rate Record Sent to Supervisor Approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OnClickedStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AnnualApprovalMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;This Annual Review Record Sent to Supervisor Approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OnClickedStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuspensionSuccess_Screen</name>
        <label>SuspensionSuccess Screen</label>
        <locationX>1634</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuspensionSuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;This Suspension Record Sent to Supervisor Approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>394</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permanency_Plan_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Field_Namespace</name>
        <label>Check Field Namespace</label>
        <locationX>1667</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Approver_Screen</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Supervisor_Approval__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SupervisorApprovalField</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Object_Namespace</name>
        <label>Check Object Namespace</label>
        <locationX>1667</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Check_Field_Namespace</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Permanency_Plan__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PermanencyObjectName</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AnnualReviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ApprovalProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnClickedStage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PermanencyObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermanencyPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SupervisorApprovalField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuspensionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
