force-app/main/default/flows/Person_Role_Change_Maltreatment_Allegation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_HOH_in_Intake</name>
        <label>Assign HOH in Intake</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Update_Intake_Ins.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Intake__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Intake_Ins.contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_HOH_In_Intake</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HOH_in_Investigation</name>
        <label>Assign HOH in Investigation</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Update_Inv_Ins.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Inv_Ins.Head_of_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_HOH_In_Investigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HOH_in_SC</name>
        <label>Assign HOH in SC</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Update_SC_Ins.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_SC_Ins.Head_of_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_HOH_In_Servicecase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Head_of_House_Hold</name>
        <label>Check for Head of House Hold</label>
        <locationX>776</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Changed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Head_of_House_Hold__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Head_of_House_Hold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Head_of_House_Hold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_ObjectName</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_ObjectName</name>
        <label>Check for ObjectName</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Person_Records</targetReference>
            </connector>
            <label>Intake</label>
        </rules>
        <rules>
            <name>Servicecase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Person_Records</targetReference>
            </connector>
            <label>Servicecase</label>
        </rules>
        <rules>
            <name>Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Person_Records</targetReference>
            </connector>
            <label>Investigation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Person_Role</name>
        <label>Check for Person Role</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_for_Head_of_House_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Role_Chnaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Person_Role__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maltreatment_Allegation</targetReference>
            </connector>
            <label>Is Person Role Chnaged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Person Role Change - Maltreatment Allegation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Person Role Change - Maltreatment Allegation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Person_Records</name>
        <label>Copy 1 of Update Person Records</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Assign_HOH_in_Intake</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intake__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Person_Records</name>
        <label>Copy 2 of Update Person Records</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Assign_HOH_in_SC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Person_Records</name>
        <label>Copy 3 of Update Person Records</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Assign_HOH_in_Investigation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Head_of_House_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Person__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HOH_In_Intake</name>
        <label>Update HOH In Intake</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>Update_Intake_Ins</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HOH_In_Investigation</name>
        <label>Update HOH In Investigation</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <inputReference>Update_Inv_Ins</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HOH_In_Servicecase</name>
        <label>Update HOH In Servicecase</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <inputReference>Update_SC_Ins</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Person_Role</targetReference>
        </connector>
        <object>Person__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Maltreatment_Allegation</name>
        <label>Maltreatment Allegation</label>
        <locationX>644</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_for_Head_of_House_Hold</targetReference>
        </connector>
        <flowName>Person_Role_Changes_Maltreatment_Allegation</flowName>
        <inputAssignments>
            <name>Current_Person_Role</name>
            <value>
                <elementReference>$Record.Person_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Investigation_Id</name>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Person_Id</name>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Person_Role_Prior</name>
            <value>
                <elementReference>$Record__Prior.Person_Role__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>Update_Intake_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Update_Inv_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>Update_SC_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
</Flow>
