force-app/main/default/flows/Placement_Removal_Metrostops.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_placement</name>
        <label>Navigate to placement</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>c:NavigateFromFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentID</name>
            <value>
                <elementReference>Get_Placement_records.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_placement</name>
        <label>Assign placement</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Child_Removal_Record.Do_you_want_to_proceed_with_placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_want_to_proceed_with_placement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_child_removal</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_placement</name>
        <label>Check for placement</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_proceed_with_placement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_placement</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_placement_record</name>
        <label>Check placement record</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Placement_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_placement</targetReference>
            </connector>
            <label>If record exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Placement - Removal Metrostops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Placement - Removal Metrostops</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Placement_records</name>
        <label>Get Placement records</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_placement_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Removal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Child_Removal_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Placement__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_child_removal</name>
        <label>Update child removal</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Placement_records</targetReference>
        </connector>
        <inputReference>Child_Removal_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Placement_Screen</name>
        <label>Placement Screen</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_placement</targetReference>
        </connector>
        <fields>
            <name>Placement_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Placement_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_want_to_proceed_with_placement</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you want to proceed with placement?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Placement_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Placement_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Placement_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Child_Removal_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
</Flow>
