force-app/main/default/flows/Program_Assignment_SC_INV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_service_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_In_Home_Program_Assignment</targetReference>
            </connector>
            <label>If service case</label>
        </rules>
        <rules>
            <name>If_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CPS_Program_Assignment</targetReference>
            </connector>
            <label>If Investigation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Person_Role</name>
        <label>Check Person Role</label>
        <locationX>908</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_victim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Person_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Alleged Victim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SDM_Records</targetReference>
            </connector>
            <label>If victim</label>
        </rules>
        <rules>
            <name>If_maltreator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Person_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Alleged Maltreator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_SDM_Records</targetReference>
            </connector>
            <label>If maltreator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SDM</name>
        <label>Check SDM</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_SDM_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SDM_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Maltreatment_Allegation</targetReference>
            </connector>
            <label>If SDM exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_SDM</name>
        <label>Check SDM</label>
        <locationX>974</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_SDM_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_SDM_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Maltreatment_Allegation</targetReference>
            </connector>
            <label>If SDM exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Program Assignment (SC, INV) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Assignment (SC, INV)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CPS_Program_Assignment</name>
        <label>Create CPS Program Assignment</label>
        <locationX>908</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_Person_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Area__c</field>
            <value>
                <elementReference>$Record.Investigation__r.CPS_Response_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_In_Home_Program_Assignment</name>
        <label>Create In Home Program Assignment</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Area__c</field>
            <value>
                <stringValue>In Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Sub_Area__c</field>
            <value>
                <stringValue>Family Preservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_SDM_Records</name>
        <label>Get SDM Records</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_SDM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM_Records</name>
        <label>Get SDM Records</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SDM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Person__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Create_Maltreatment_Allegation</name>
        <label>Create Maltreatment Allegation</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <flowName>INV_Creation_Maltreatment_Allegation</flowName>
        <inputAssignments>
            <name>New_Maltreator_ID</name>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdmRecord</name>
            <value>
                <elementReference>Copy_1_of_Get_SDM_Records</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Maltreatment_Allegation</name>
        <label>Create Maltreatment Allegation</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <flowName>INV_Creation_Maltreatment_Allegation</flowName>
        <inputAssignments>
            <name>New_Victim_ID</name>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdmRecord</name>
            <value>
                <elementReference>Get_SDM_Records</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
