force-app/main/default/flows/Provider_RecordType_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_New_Private_Provider_RecortType</name>
        <label>Assign New Private Provider RecortType</label>
        <locationX>838</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>newPrivateProviderRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Account_RecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Private_Provider</name>
        <label>Assign Private Provider</label>
        <locationX>313</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrivateProviderRecordTypeId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Private_Provider_and_Parent</name>
        <label>Assign Private Provider and Parent</label>
        <locationX>496</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPrivateProviderRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CPA_Home_Id__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Private_Provider_RecortType</name>
        <label>Assign Private Provider RecortType</label>
        <locationX>707</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>PrivateProviderRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Account_RecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Public_Provider</name>
        <label>Assign Public Provider</label>
        <locationX>173</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PublicProviderRecordTypeId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Public_Provider_RecortType</name>
        <label>Assign Public Provider RecortType</label>
        <locationX>607</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>PublicProviderRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Account_RecordTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Local_Department_and_CPA_Office</name>
        <label>Check Local Department and CPA Office</label>
        <locationX>300</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Local_DepartmentHome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Department Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Public_Provider</targetReference>
            </connector>
            <label>Check Local DepartmentHome</label>
        </rules>
        <rules>
            <name>Check_CPA_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPA Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Private_Provider</targetReference>
            </connector>
            <label>Check CPA Office</label>
        </rules>
        <rules>
            <name>Check_Private_Organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Organization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Private_Provider_and_Parent</targetReference>
            </connector>
            <label>Check Private Organization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType</label>
        <locationX>669</locationX>
        <locationY>18</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Public_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeLoop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public_Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Public_Provider_RecortType</targetReference>
            </connector>
            <label>Public RecordType</label>
        </rules>
        <rules>
            <name>Private_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeLoop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private_Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Private_Provider_RecortType</targetReference>
            </connector>
            <label>Private RecordType</label>
        </rules>
        <rules>
            <name>New_Private_Provider_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeLoop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private_Provider_Org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Private_Provider_RecortType</targetReference>
            </connector>
            <label>New Private Provider RecordType</label>
        </rules>
    </decisions>
    <interviewLabel>Provider RecordType Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provider RecordType Flow</label>
    <loops>
        <name>Iterate_Account_RecordTypes</name>
        <label>Iterate Account RecordTypes</label>
        <locationX>356</locationX>
        <locationY>76</locationY>
        <assignNextValueToReference>recordTypeLoop</assignNextValueToReference>
        <collectionReference>Get_RecordType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_RecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Local_Department_and_CPA_Office</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>192</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Account_RecordTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountTriggerNewList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newPrivateProviderRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrivateProviderRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PublicProviderRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordTypeLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
