force-app/main/default/flows/Reciprocal_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_relationship_create</name>
        <label>Assign relationship create</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>relationshipRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relationshipRecord.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Person_Related_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relationshipRecord.Person_Related_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relationshipRecord.Relationship_Values__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reciprocal_relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relationshipRecord.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relationship_values</name>
        <label>Assign Relationship values</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>relationshipRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_related_relationship_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relationshipRecord.Relationship_Values__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reciprocal_relationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Relationship_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_record_size</name>
        <label>Check record size</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Assign_relationship_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_record_size_greater_than_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_relationship_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Relationship_values</targetReference>
            </connector>
            <label>If record size greater than zero</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>female_reciprocal_relationship</name>
        <dataType>String</dataType>
        <expression>Case({!$Record.Relationship_Values__c}, 
&quot;Father - Biological&quot;,&quot;Child - Biological&quot;,
&quot;Mother - Biological&quot;,&quot;Child - Biological&quot;, 
 &quot;Child - Biological&quot;,&quot;Mother - Biological&quot;,
 &quot;Maternal Grandparent&quot;,&quot;Maternal GrandChild&quot;,
 &quot;Paternal Grandparent&quot;,&quot;Paternal GrandChild&quot;,
 &quot;Paternal GrandChild&quot;,&quot;Paternal Grandparent&quot;,
 &quot;Maternal GrandChild&quot;,&quot;Maternal Grandparent&quot;,
 &quot;Sister - Biological&quot;,&quot;Sister - Biological&quot;,
 &quot;Brother - Biological&quot;,&quot;Sister - Biological&quot;,
&quot;Spouse&quot;,&quot;Spouse&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>male_reciprocal_relationship</name>
        <dataType>String</dataType>
        <expression>Case({!$Record.Relationship_Values__c}, 
&quot;Father - Biological&quot;,&quot;Child - Biological&quot;,
&quot;Mother - Biological&quot;,&quot;Child - Biological&quot;, 
 &quot;Child - Biological&quot;,&quot;Father - Biological&quot;,
 &quot;Maternal Grandparent&quot;,&quot;Maternal GrandChild&quot;,
 &quot;Paternal Grandparent&quot;,&quot;Paternal GrandChild&quot;,
 &quot;Paternal GrandChild&quot;,&quot;Paternal Grandparent&quot;,
 &quot;Maternal GrandChild&quot;,&quot;Maternal Grandparent&quot;,
 &quot;Sister - Biological&quot;,&quot;Brother - Biological&quot;,
 &quot;Brother - Biological&quot;,&quot;Brother - Biological&quot;,
&quot;Spouse&quot;,&quot;Spouse&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>reciprocal_relationship</name>
        <dataType>String</dataType>
        <expression>If(ISPICKVAL({!$Record.Person__r.Gender__c} , &quot;Male&quot;)
,{!male_reciprocal_relationship},{!female_reciprocal_relationship})</expression>
    </formulas>
    <interviewLabel>Reciprocal Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reciprocal Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Relationship</name>
        <label>Create Relationship</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputReference>relationshipRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_related_relationship_record</name>
        <label>Get related relationship record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_record_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Person_Related_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person_Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Relationship_Record</name>
        <label>Update Relationship Record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>relationshipRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_relationship_record</targetReference>
        </connector>
        <object>Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>relationshipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
</Flow>
