force-app/main/default/flows/Restrict_Unrestrict_Intake_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_active_user_ids_to_list</name>
        <label>Add active user ids to list</label>
        <locationX>666</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Case_Share_Rec.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share_Rec.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_active_users_id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share_Rec.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Share_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Share_Rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_active_users_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_profile_ids_to_list</name>
        <label>Assign profile ids to list</label>
        <locationX>666</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ProfileIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_profile_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_profile_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Intake_Approval_Status</name>
        <label>Check Intake Approval Status</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_restriction_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_to_submitter</targetReference>
            </connector>
            <label>If approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_restriction_stage</name>
        <label>Check restriction stage</label>
        <locationX>512</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Publish_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_restrict</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Restrict_UnRestrict__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restrict</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restrict_UnRestrict__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_share_records</targetReference>
            </connector>
            <label>If restrict</label>
        </rules>
        <rules>
            <name>If_unrestricted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Restrict_UnRestrict__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unrestrict</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restrict_UnRestrict__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile_Ids</targetReference>
            </connector>
            <label>If unrestricted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_size</name>
        <label>Check size</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Publish_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_share_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_share_record_for_unaccessed_users</targetReference>
            </connector>
            <label>If not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Approval_Notification_Msg</name>
        <dataType>String</dataType>
        <expression>{!$Record.CaseNumber}+IF(ISBLANK({!$Record.contact__c}),&apos;&apos;,&apos; FOR &apos;+ UPPER({!$Record.contact__r.FirstName})+ &apos; &apos; +UPPER({!$Record.contact__r.LastName}))+ &apos; HAS BEEN APPROVED AND WAS &apos;+ UPPER(TEXT({!$Record.Intake_Recommendations__c})) +&apos; BY &apos; +UPPER({!$Record.Supervisor_Approver__r.FirstName}) + &apos; &apos;+UPPER({!$Record.Supervisor_Approver__r.LastName})+&apos; ON &apos; + TEXT(MONTH({!$Flow.CurrentDate})) + &apos;/&apos; + TEXT(DAY({!$Flow.CurrentDate})) + &apos;/&apos; + TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Restrict/Unrestrict Intake records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Restrict/Unrestrict Intake records</label>
    <loops>
        <name>Iterate_through_active_users_id</name>
        <label>Iterate through active users id</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <collectionReference>Get_All_Users_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_active_user_ids_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Share_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_profile_records</name>
        <label>Iterate through profile records</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Profile_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_profile_ids_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Users_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Share_records</name>
        <label>Create Share records</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Publish_Platform_Event</targetReference>
        </connector>
        <inputReference>Case_Share_List</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Publish_Platform_Event</name>
        <label>Publish Platform Event</label>
        <locationX>512</locationX>
        <locationY>1919</locationY>
        <inputAssignments>
            <field>Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Refresh_Intake__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_share_record_for_unaccessed_users</name>
        <label>Delete share record for unaccessed users</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Publish_Platform_Event</targetReference>
        </connector>
        <inputReference>Get_share_records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Users_Id</name>
        <label>Get All Users Id</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_active_users_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>In</operator>
            <value>
                <elementReference>ProfileIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Ids</name>
        <label>Get Profile Ids</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_profile_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casevault Supervisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casevault User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casevault worker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_share_records</name>
        <label>Get share records</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Intake_Approval_Status</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Notification_to_submitter</name>
        <label>Send Notification to submitter</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_restriction_stage</targetReference>
        </connector>
        <flowName>Custom_Notification_for_Submitter</flowName>
        <inputAssignments>
            <name>Notification_Body</name>
            <value>
                <elementReference>Approval_Notification_Msg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordName</name>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case_Share_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>Case_Share_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>ProfileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
