force-app/main/default/flows/Restrict_Unrestrict_Investigation_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_active_user_ids_to_list</name>
        <label>Add active user ids to list</label>
        <locationX>798</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>Investigation_Share_Rec.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Investigation_Share_Rec.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_active_users_id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Investigation_Share_Rec.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Investigation_Share_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Investigation_Share_Rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_active_users_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_users_Id_in_list</name>
        <label>Add users Id in list</label>
        <locationX>446</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_assignment_records.Select_a_Social_Worker__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_assignment_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_profile_ids_to_list</name>
        <label>Assign profile ids to list</label>
        <locationX>798</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>ProfileIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_profile_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_profile_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SC_Person_IDs</name>
        <label>Assign SC Person IDs</label>
        <locationX>930</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>SC_Person_IDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_SC_Persons.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_SC_Persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Junction_Object_Record</name>
        <label>Assigned Junction Object Record</label>
        <locationX>930</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Person_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Person_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Danger_to_worker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Danger_to_worker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Danger_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Danger_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Current_or_Previous_Mental_Health_issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Current_or_Previous_Mental_Health_issue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Reported_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Reported_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Danger_to_self__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Danger_to_self__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Worker_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Worker_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Judiciary_Case_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Judiciary_Case_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.National_Sex_Offender_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.National_Sex_Offender_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Sex_Offender_registry_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Sex_Offender_registry_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_Ins.Judiciary_case_search__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_INV_persons.Judiciary_case_search__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Jn_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Person_Jn_Ins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_INV_persons</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Persons_under_INV</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Persons under INV</label>
        <locationX>842</locationX>
        <locationY>1607</locationY>
        <assignNextValueToReference>currentItem_Persons_under_INV</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Persons_under_INV.Investigation__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_INV_persons</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Persons_under_SC</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Persons under SC</label>
        <locationX>842</locationX>
        <locationY>1151</locationY>
        <assignNextValueToReference>currentItem_Persons_under_SC_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Persons_under_SC_0.Service_Case__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Service_Case__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Persons_under_SC_0.Service_Case__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_SC_Persons</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Case_Connect_Conditions</name>
        <label>Check Case Connect Conditions</label>
        <locationX>666</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_restriction_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_new_Case_Connect_met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Connect_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Connect_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Connect_Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Connect_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Case_Creation</targetReference>
            </connector>
            <label>If new Case Connect met</label>
        </rules>
        <rules>
            <name>If_existing_service_case_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Connect_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Connect_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Connect_Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Connect_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Case</targetReference>
            </connector>
            <label>If existing service case chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Jn_list</name>
        <label>Check Jn list</label>
        <locationX>842</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Check_restriction_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Person_Jn_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jn_Object_Insert</targetReference>
            </connector>
            <label>If not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Person_Ids</name>
        <label>Check Person Ids</label>
        <locationX>1062</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_INV_persons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_exists</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>SC_Person_IDS</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_INV_persons.Person__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Junction_Object_Record</targetReference>
            </connector>
            <label>If exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_restriction_stage</name>
        <label>Check restriction stage</label>
        <locationX>666</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>Publish_Platform_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_restrict</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Restrict_Unrestrict__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restrict</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restrict_Unrestrict__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Assignment_Record</targetReference>
            </connector>
            <label>If restrict</label>
        </rules>
        <rules>
            <name>If_unrestricted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Restrict_Unrestrict__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unrestrict</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restrict_Unrestrict__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile_Ids</targetReference>
            </connector>
            <label>If unrestricted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Case</name>
        <label>Check Service Case</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_restriction_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_SC_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Case_Creation.ServiceCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Connect_in_INV</targetReference>
            </connector>
            <label>If SC created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_case_status</name>
        <label>Check Service case status</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Connect_ID_in_INV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Case.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Case_History</targetReference>
            </connector>
            <label>If closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Restrict/Unrestrict Investigation records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Restrict/Unrestrict Investigation records</label>
    <loops>
        <name>Iterate_through_active_users_id</name>
        <label>Iterate through active users id</label>
        <locationX>710</locationX>
        <locationY>3407</locationY>
        <collectionReference>Get_All_Users_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_active_user_ids_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_share_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_assignment_records</name>
        <label>Iterate through assignment records</label>
        <locationX>358</locationX>
        <locationY>2951</locationY>
        <collectionReference>Check_Assignment_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_users_Id_in_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_share_record_for_unaccessed_users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_INV_persons</name>
        <label>Iterate through INV persons</label>
        <locationX>842</locationX>
        <locationY>1727</locationY>
        <collectionReference>Persons_under_INV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Person_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Jn_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_profile_records</name>
        <label>Iterate through profile records</label>
        <locationX>710</locationX>
        <locationY>2951</locationY>
        <collectionReference>Get_Profile_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_profile_ids_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Users_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_SC_Persons</name>
        <label>Iterate through SC Persons</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <collectionReference>Persons_under_SC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SC_Person_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Persons_under_INV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Case_History</name>
        <label>Create Service Case History</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Case_Connect_ID_in_INV</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Comments__c</field>
            <value>
                <elementReference>Get_Service_Case.Intake__r.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Recommendations__c</field>
            <value>
                <elementReference>Get_Service_Case.Intake__r.Intake_Recommendations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Role__c</field>
            <value>
                <elementReference>Get_Service_Case.Intake__r.Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case_Approval_Status__c</field>
            <value>
                <elementReference>$Record.Case_Connect_Approval_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case_Last_Modified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>Get_Service_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reopen</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_share_records</name>
        <label>Create share records</label>
        <locationX>710</locationX>
        <locationY>3743</locationY>
        <connector>
            <targetReference>Publish_Platform_Events</targetReference>
        </connector>
        <inputReference>Investigation_Share_List</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Jn_Object_Insert</name>
        <label>Jn Object Insert</label>
        <locationX>710</locationX>
        <locationY>2399</locationY>
        <connector>
            <targetReference>Check_restriction_stage</targetReference>
        </connector>
        <inputReference>Person_Jn_List</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Publish_Platform_Events</name>
        <label>Publish Platform Events</label>
        <locationX>666</locationX>
        <locationY>3959</locationY>
        <inputAssignments>
            <field>Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Refresh_Investigation__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_share_record_for_unaccessed_users</name>
        <label>Delete share record for unaccessed users</label>
        <locationX>358</locationX>
        <locationY>3287</locationY>
        <connector>
            <targetReference>Publish_Platform_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>Investigation__Share</object>
    </recordDeletes>
    <recordLookups>
        <name>Check_Assignment_Record</name>
        <label>Check Assignment Record</label>
        <locationX>358</locationX>
        <locationY>2831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_assignment_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Users_Id</name>
        <label>Get All Users Id</label>
        <locationX>710</locationX>
        <locationY>3287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_active_users_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>In</operator>
            <value>
                <elementReference>ProfileIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Persons_under_SC</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Ids</name>
        <label>Get Profile Ids</label>
        <locationX>710</locationX>
        <locationY>2831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_profile_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casevault Supervisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casevault User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casevault worker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Case</name>
        <label>Get Service Case</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_case_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case_Connect_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Connect_ID_in_INV</name>
        <label>Update Case Connect ID in INV</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Connect_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>$Record__Prior.Case_Connect_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Connect_in_INV</name>
        <label>Update Case Connect in INV</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_restriction_stage</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Connect_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>Service_Case_Creation.ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Connect_Conditions</targetReference>
        </connector>
        <object>Investigation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Service_Case_Creation</name>
        <label>Service Case Creation</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_Service_Case</targetReference>
        </connector>
        <flowName>Service_Case_creation_from_Investigation</flowName>
        <inputAssignments>
            <name>Investigation_Rec</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Persons_under_INV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Persons_under_SC_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Investigation_Share_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__Share</objectType>
    </variables>
    <variables>
        <name>Investigation_Share_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__Share</objectType>
    </variables>
    <variables>
        <name>Person_Jn_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Person_Jn_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>ProfileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SC_Person_IDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
