force-app/main/default/flows/SDM_Abuse_Type_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Medical_Injury_Abuse_to_Delete_list</name>
        <label>Add Medical Injury  Abuse to Delete list</label>
        <locationX>1238</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Medical_Injury_Neglect_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Medical_Injury_Abuse_to_list_0</name>
        <label>Add Medical Injury  Abuse to list</label>
        <locationX>974</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Medical_Injury_Neglect_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Medical_Injury_Neglect_Abuse_to_Delete_list</name>
        <label>Add Medical Injury Neglect Abuse to Delete list</label>
        <locationX>1238</locationX>
        <locationY>4943</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Risk_Of_Harm_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Medical_Injury_Neglect_Abuse_to_list_0</name>
        <label>Add Medical Injury Neglect Abuse to list</label>
        <locationX>974</locationX>
        <locationY>4943</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Risk_Of_Harm_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Neglect_abuse_to_Delete_list</name>
        <label>Add Neglect abuse to Delete list</label>
        <locationX>1238</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Failure_To_Protect_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Neglect_abuse_to_list_0</name>
        <label>Add Neglect abuse to list</label>
        <locationX>974</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Failure_To_Protect_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_physical_abuse_to_list_0</name>
        <label>Add physical abuse to list</label>
        <locationX>974</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sexual_Abuse_value_check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Risk_Of_Harm_Abuse_to_list_0</name>
        <label>Add Risk Of Harm Abuse to list</label>
        <locationX>974</locationX>
        <locationY>5399</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Alleged_Maltreator_records_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Risk_Of_Harm_Abuse_to_list_0_0</name>
        <label>Add Risk Of Harm Abuse to list</label>
        <locationX>1238</locationX>
        <locationY>5399</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Alleged_Maltreator_records_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_sexual_Abuse_to_delete_list</name>
        <label>Add sexual Abuse to Delete list</label>
        <locationX>1238</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Negelect_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_sexual_Abuse_to_list_0</name>
        <label>Add sexual Abuse to list</label>
        <locationX>974</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Negelect_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Abandonment_Abuse_to_Delete_list</name>
        <label>Assign Abandonment Abuse to Delete list</label>
        <locationX>1238</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Unattended_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Abandonment_maltreatment_Allegation_0</name>
        <label>Assign Abandonment maltreatment Allegation</label>
        <locationX>974</locationX>
        <locationY>2999</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ABANDONMENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Victim_Record_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Abandonment Abuse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asssign_Abandonment_Abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Abandonment_maltreatment_Allegation_for_Delete</name>
        <label>Assign Abandonment maltreatment Allegation for Delete</label>
        <locationX>1238</locationX>
        <locationY>2999</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ABANDONMENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Abandonment_Abuse_to_Delete_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Failure_To_Protect_Abuse_to_Delete_list</name>
        <label>Assign Failure To Protect Abuse to Delete list</label>
        <locationX>1238</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Abandonment_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Failure_To_Protect_Abuse_to_list_0</name>
        <label>Assign Failure To Protect Abuse to list</label>
        <locationX>974</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Abandonment_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Failure_To_Protect_maltreatment_Allegation_0</name>
        <label>Assign Failure To Protect maltreatment Allegation</label>
        <locationX>974</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAILURE TO PROTECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Victim_Record_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Failure To Protect Abuse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Failure_To_Protect_Abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Failure_To_Protect_maltreatment_Allegation_for_Delete</name>
        <label>Assign Failure To Protect maltreatment Allegation for Delete</label>
        <locationX>1238</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAILURE TO PROTECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Failure_To_Protect_Abuse_to_Delete_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Injury_Abuse_maltreatment_Allegation_0</name>
        <label>Assign Medical Injury Abuse maltreatment Allegation</label>
        <locationX>974</locationX>
        <locationY>4367</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MENTAL INJURY - ABUSE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Victim_Record_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Medical Injury - Abuse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Medical_Injury_Abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Injury_Abuse_maltreatment_Allegation_for_Delete</name>
        <label>Assign Medical Injury Abuse maltreatment Allegation for Delete</label>
        <locationX>1238</locationX>
        <locationY>4367</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MENTAL INJURY - ABUSE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Medical_Injury_Abuse_to_Delete_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Injury_Neglect_Abuse_maltreatment_Allegation_0</name>
        <label>Assign Medical Injury Neglect Abuse maltreatment Allegation</label>
        <locationX>974</locationX>
        <locationY>4823</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MENTAL INJURY - NEGLECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Medical Injury - Neglect Abuse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Medical_Injury_Neglect_Abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Injury_Neglect_Abuse_maltreatment_Allegation_for_Delete</name>
        <label>Assign Medical Injury Neglect Abuse maltreatment Allegation for Delete</label>
        <locationX>1238</locationX>
        <locationY>4823</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MENTAL INJURY - NEGLECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Medical_Injury_Neglect_Abuse_to_Delete_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Neglect_Abuse_to_Delete_list</name>
        <label>Assign Medical Neglect Abuse to Delete list</label>
        <locationX>1238</locationX>
        <locationY>4031</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Medical_Injury_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Neglect_Abuse_to_list_0</name>
        <label>Assign Medical Neglect Abuse to list</label>
        <locationX>974</locationX>
        <locationY>4031</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Medical_Injury_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Neglect_maltreatment_Allegation_0</name>
        <label>Assign Medical Neglect maltreatment Allegation</label>
        <locationX>974</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEDICAL NEGLECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Medical Neglect Abuse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Victim_Record_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Medical_Neglect_Abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Neglect_maltreatment_Allegation_for_Delete</name>
        <label>Assign Medical Neglect maltreatment Allegation for Delete</label>
        <locationX>1238</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEDICAL NEGLECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Medical_Neglect_Abuse_to_Delete_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Neglect_Abuse_0</name>
        <label>Assign Neglect Abuse</label>
        <locationX>974</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEGLECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Victim_Record_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Neglect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Neglect_abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Neglect_Abuse_for_Delete</name>
        <label>Assign Neglect Abuse for Delete</label>
        <locationX>1238</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEGLECT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Neglect_abuse_to_Delete_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Physical_Abuse_0</name>
        <label>Assign Physical Abuse</label>
        <locationX>974</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Physical Abuse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PHYSICAL ABUSE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Victim_Record_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_physical_abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Physical_Abuse_for_Delete</name>
        <label>Assign Physical Abuse for Delete</label>
        <locationX>1238</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PHYSICAL ABUSE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Physical_Abuse_to_Delete_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Physical_Abuse_to_Delete_list</name>
        <label>Assign Physical Abuse to Delete  list</label>
        <locationX>1238</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sexual_Abuse_value_check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Risk_of_Harm_Abuse_maltreatment_Allegation_0</name>
        <label>Assign Risk of Harm Abuse maltreatment Allegation</label>
        <locationX>974</locationX>
        <locationY>5279</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RISK OF HARM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Victim_Record_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Risk Of Harm Abuse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Risk_Of_Harm_Abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Risk_of_Harm_Abuse_maltreatment_Allegation_for_Delete</name>
        <label>Assign Risk of Harm Abuse maltreatment Allegation for Delete</label>
        <locationX>1238</locationX>
        <locationY>5279</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RISK OF HARM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Risk_Of_Harm_Abuse_to_list_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sexual_abuse_0</name>
        <label>Assign sexual abuse</label>
        <locationX>974</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEXUAL ABUSE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Victim_Record_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Sexual Abuse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_sexual_Abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sexual_abuse_for_delete</name>
        <label>Assign sexual abuse for Delete</label>
        <locationX>1238</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEXUAL ABUSE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_sexual_Abuse_to_delete_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unattended_Abuse_to_Delete_list</name>
        <label>Assign Unattended Abuse to Delete list</label>
        <locationX>1238</locationX>
        <locationY>3575</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationListForDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecordforDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Medical_Neglect_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unattended_Abuse_to_list_0</name>
        <label>Assign Unattended Abuse to list</label>
        <locationX>974</locationX>
        <locationY>3575</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Medical_Neglect_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unattended_maltreatment_Allegation_0</name>
        <label>Assign Unattended maltreatment Allegation</label>
        <locationX>974</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UNATTENDED CHILD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Alleged_Maltreator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Maltreator_records_for_Update.Alleged_Maltreator_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Alleged_Victim_Record_for_Update.Alleged_Victim_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maltreatment Allegation - Unattended Abuse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Unattended_Abuse_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unattended_maltreatment_Allegation_for_Delete</name>
        <label>Assign Unattended maltreatment Allegation for Delete</label>
        <locationX>1238</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Abuse_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UNATTENDED CHILD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationRecordforDelete.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Unattended_Abuse_to_Delete_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asssign_Abandonment_Abuse_to_list_0</name>
        <label>Asssign Abandonment Abuse to list</label>
        <locationX>974</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>MaltreatmentAllegationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaltreatmentAllegationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Unattended_Abuse_Value_Check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Alleged_Maltreator_count</name>
        <label>Increase Alleged Maltreator count</label>
        <locationX>1238</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AllegedMaltreatorloopcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Physical_Abuse_value_check_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_alleged_victim_count</name>
        <label>Increase alleged victim count</label>
        <locationX>886</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Allegedvictimloopcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Alleged_Maltreator_records_for_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Abandonment_Abuse_Value_Check_0</name>
        <label>Check Abandonment Abuse Value Check</label>
        <locationX>1238</locationX>
        <locationY>2879</locationY>
        <defaultConnector>
            <targetReference>Check_Unattended_Abuse_Value_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Abndonment_value_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.A_child_of_any_age_has_been_abandoned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.A_child_of_any_age_has_been_abandoned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.A_child_of_any_age_has_been_abandoned__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Abandonment_maltreatment_Allegation_0</targetReference>
            </connector>
            <label>Check Abandonment value are checked</label>
        </rules>
        <rules>
            <name>Check_Abandonment_value_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.A_child_of_any_age_has_been_abandoned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.A_child_of_any_age_has_been_abandoned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.A_child_of_any_age_has_been_abandoned__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Abandonment_maltreatment_Allegation_for_Delete</targetReference>
            </connector>
            <label>Check Abandonment value are unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Failure_To_Protect_Abuse_Value_Check_0</name>
        <label>Check Failure To Protect Abuse Value Check</label>
        <locationX>1238</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Check_Abandonment_Abuse_Value_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Failure_To_Protect_value_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_caregiver_does_not_intervene_despite__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.The_caregiver_does_not_intervene_despite__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.The_caregiver_does_not_intervene_despite__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Failure_To_Protect_maltreatment_Allegation_0</targetReference>
            </connector>
            <label>Check Failure To Protect value are checked</label>
        </rules>
        <rules>
            <name>Check_Failure_To_Protect_value_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_caregiver_does_not_intervene_despite__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.The_caregiver_does_not_intervene_despite__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.The_caregiver_does_not_intervene_despite__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Failure_To_Protect_maltreatment_Allegation_for_Delete</targetReference>
            </connector>
            <label>Check Failure To Protect value are unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Delete_record</name>
        <label>Check for Delete record</label>
        <locationX>182</locationX>
        <locationY>5927</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_size_of_list</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaltreatmentAllegationRecordforDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Maltreatment_Allegation_Records</targetReference>
            </connector>
            <label>Check size of list</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Medical_Injury_Abuse_Value_Check_0</name>
        <label>Check Medical Injury Abuse Value Check</label>
        <locationX>1238</locationX>
        <locationY>4247</locationY>
        <defaultConnector>
            <targetReference>Check_Medical_Injury_Neglect_Abuse_Value_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Medical_Injury_Abuse_value_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Abuse_child_has_an_observable_identifi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Abuse_child_has_an_observable_identifi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Abuse_child_has_an_observable_identifi__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical_Injury_Abuse_maltreatment_Allegation_0</targetReference>
            </connector>
            <label>Check Medical Injury Abuse value are checked</label>
        </rules>
        <rules>
            <name>Check_Medical_Injury_Abuse_value_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Abuse_child_has_an_observable_identifi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Abuse_child_has_an_observable_identifi__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Abuse_child_has_an_observable_identifi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical_Injury_Abuse_maltreatment_Allegation_for_Delete</targetReference>
            </connector>
            <label>Check Medical Injury Abuse value are unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Medical_Injury_Neglect_Abuse_Value_Check_0</name>
        <label>Check Medical Injury Neglect Abuse Value Check</label>
        <locationX>1238</locationX>
        <locationY>4703</locationY>
        <defaultConnector>
            <targetReference>Check_Risk_Of_Harm_Abuse_Value_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Medical_Injury_Neglect_Abuse_value_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Neglect_child_has_an_observable_identif__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Neglect_child_has_an_observable_identif__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Neglect_child_has_an_observable_identif__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical_Injury_Neglect_Abuse_maltreatment_Allegation_0</targetReference>
            </connector>
            <label>Check Medical Injury Neglect  Abuse value are checked</label>
        </rules>
        <rules>
            <name>Check_Medical_Injury_Neglect_Abuse_value_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Neglect_child_has_an_observable_identif__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Neglect_child_has_an_observable_identif__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Neglect_child_has_an_observable_identif__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical_Injury_Neglect_Abuse_maltreatment_Allegation_for_Delete</targetReference>
            </connector>
            <label>Check Medical Injury Neglect  Abuse value are unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Medical_Neglect_Abuse_Value_Check_0</name>
        <label>Check Medical Neglect Abuse Value Check</label>
        <locationX>1238</locationX>
        <locationY>3791</locationY>
        <defaultConnector>
            <targetReference>Check_Medical_Injury_Abuse_Value_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Medical_Neglect_value_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_unreasonable_delay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.The_unreasonable_delay__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.The_unreasonable_delay__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical_Neglect_maltreatment_Allegation_0</targetReference>
            </connector>
            <label>Check Medical Neglect value are checked</label>
        </rules>
        <rules>
            <name>Check_Medical_Neglect_value_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.The_unreasonable_delay__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.The_unreasonable_delay__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.The_unreasonable_delay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical_Neglect_maltreatment_Allegation_for_Delete</targetReference>
            </connector>
            <label>Check Medical Neglect value are unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Negelect_Abuse_Value_Check_0</name>
        <label>Check Negelect Abuse Value Check</label>
        <locationX>1238</locationX>
        <locationY>1967</locationY>
        <defaultConnector>
            <targetReference>Check_Failure_To_Protect_Abuse_Value_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_neglect_values_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckNeglectAbuseFormula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckNeglectAbuseFormulaprior</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckNeglectAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Neglect_Abuse_0</targetReference>
            </connector>
            <label>Check neglect values are checked</label>
        </rules>
        <rules>
            <name>Check_neglect_values_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckNeglectAbuseFormulaprior</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckNeglectAbuseFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckNeglectAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Neglect_Abuse_for_Delete</targetReference>
            </connector>
            <label>Check neglect values are unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Physical_Abuse_value_check_0</name>
        <label>Check Physical Abuse value check</label>
        <locationX>1238</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Check_Sexual_Abuse_value_check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_physical_values_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckPhysicalAbuseFormula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckPhysicalAbuseFormulaprior</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckPhysicalAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Physical_Abuse_0</targetReference>
            </connector>
            <label>Check physical values are checked</label>
        </rules>
        <rules>
            <name>Check_physical_values_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckPhysicalAbuseFormulaprior</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckPhysicalAbuseFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckPhysicalAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Physical_Abuse_for_Delete</targetReference>
            </connector>
            <label>Check physical values are unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Risk_Of_Harm_Abuse_Value_Check_0</name>
        <label>Check Risk Of Harm Abuse Value Check</label>
        <locationX>1238</locationX>
        <locationY>5159</locationY>
        <defaultConnector>
            <targetReference>Iterate_Alleged_Maltreator_records_for_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Risk_Of_Harm_Abuse_value_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckRiskofHarmAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckRiskofHarmAbuseFormula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckRiskofHarmAbuseFormulaprior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Risk_of_Harm_Abuse_maltreatment_Allegation_0</targetReference>
            </connector>
            <label>Check Risk Of Harm Abuse value are checked</label>
        </rules>
        <rules>
            <name>Check_Risk_Of_Harm_Abuse_value_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckRiskofHarmAbuseFormulaprior</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckRiskofHarmAbuseFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckRiskofHarmAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Risk_of_Harm_Abuse_maltreatment_Allegation_for_Delete</targetReference>
            </connector>
            <label>Check Risk Of Harm Abuse value are unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sexual_Abuse_value_check_0</name>
        <label>Check Sexual Abuse value check</label>
        <locationX>1238</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Check_Negelect_Abuse_Value_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Sexual_Abuse_values_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckSexualAbuseFormula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckSexualAbuseFormulaprior</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckSexualAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sexual_abuse_0</targetReference>
            </connector>
            <label>Check Sexual Abuse values are checked</label>
        </rules>
        <rules>
            <name>Check_Sexual_Abuse_values_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckSexualAbuseFormula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckSexualAbuseFormulaprior</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckSexualAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sexual_abuse_for_delete</targetReference>
            </connector>
            <label>Check Sexual Abuse values are unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Unattended_Abuse_Value_Check_0</name>
        <label>Check Unattended Abuse Value Check</label>
        <locationX>1238</locationX>
        <locationY>3335</locationY>
        <defaultConnector>
            <targetReference>Check_Medical_Neglect_Abuse_Value_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Unattended_value_are_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckUnattendedAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckUnattendedAbuseFormula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckUnattendedAbuseFormulaprior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unattended_maltreatment_Allegation_0</targetReference>
            </connector>
            <label>Check Unattended value are checked</label>
        </rules>
        <rules>
            <name>Check_Unattended_value_are_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckUnattendedAbuseFormulaprior</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckUnattendedAbuseFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckUnattendedAbuseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllegedMaltreatorloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allegedvictimloopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unattended_maltreatment_Allegation_for_Delete</targetReference>
            </connector>
            <label>Check Unattended value are unchecked</label>
        </rules>
    </decisions>
    <formulas>
        <name>CheckNeglectAbuseFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record.Suspicious_death_of_child_due_to_neglect__c}, {!$Record.signs_or_diagnosis_of_non_organic__c}, {!$Record.Inadequate_of_food_nutrition__c}, {!$Record.A_child_discharged_from_a_facility__c}, {!$Record.Exposure_to_unsafe__c}, {!$Record.Inadequate_clothing_or_hygiene__c}, {!$Record.Inadequate_supervision__c}, {!$Record.Physical_treatment_of_the_child_poses__c})</expression>
    </formulas>
    <formulas>
        <name>CheckNeglectAbuseFormulaprior</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.Suspicious_death_of_child_due_to_neglect__c}, {!$Record__Prior.signs_or_diagnosis_of_non_organic__c}, {!$Record__Prior.Inadequate_of_food_nutrition__c}, {!$Record__Prior.A_child_discharged_from_a_facility__c}, {!$Record__Prior.Exposure_to_unsafe__c}, {!$Record__Prior.Inadequate_clothing_or_hygiene__c}, {!$Record__Prior.Inadequate_supervision__c}, {!$Record__Prior.Physical_treatment_of_the_child_poses__c})</expression>
    </formulas>
    <formulas>
        <name>CheckPhysicalAbuseFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record.Suspicious_death_of_a_child_due_to_abuse__c}, {!$Record.Non_accidental_physical_injury__c}, {!$Record.Injury_inconsistent_with_explanation__c}, {!$Record.Injury_that_appears_suspicious__c}, {!$Record.Giving_child_toxic_chemicals_alcohol__c}, {!$Record.Caregiver_action_that_caused_injury__c})</expression>
    </formulas>
    <formulas>
        <name>CheckPhysicalAbuseFormulaprior</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.Suspicious_death_of_a_child_due_to_abuse__c}, {!$Record__Prior.Non_accidental_physical_injury__c}, {!$Record__Prior.Injury_inconsistent_with_explanation__c}, {!$Record__Prior.Injury_that_appears_suspicious__c}, {!$Record__Prior.Giving_child_toxic_chemicals_alcohol__c}, {!$Record__Prior.Caregiver_action_that_caused_injury__c})</expression>
    </formulas>
    <formulas>
        <name>CheckRiskofHarmAbuseFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record.Prior_child_fatality_and_a_new_child__c}, {!$Record.Substance_Exposed_Newborn__c}, {!$Record.Child_s_basic_need_to_be_unmet__c}, {!$Record.Risk_of_sex_Abuse__c}, {!$Record.Risk_of_Domestic_Violence__c}, {!$Record.Harm_Risk_of_Sex_Trafficking__c}, {!$Record.Previous_Fatality_or_Serious_Injury__c}, {!$Record.Prior_Indicated_or_Unsub_Finding__c}, {!$Record.Adult_Survivor_of_child_Maltreatment__c}, {!$Record.Birth_Match__c}, {!$Record.Allegations_that_the_maltreatment__c})</expression>
    </formulas>
    <formulas>
        <name>CheckRiskofHarmAbuseFormulaprior</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.Prior_child_fatality_and_a_new_child__c}, {!$Record__Prior.Substance_Exposed_Newborn__c}, {!$Record__Prior.Child_s_basic_need_to_be_unmet__c}, {!$Record__Prior.Risk_of_sex_Abuse__c}, {!$Record__Prior.Risk_of_Domestic_Violence__c}, {!$Record__Prior.Harm_Risk_of_Sex_Trafficking__c}, {!$Record__Prior.Previous_Fatality_or_Serious_Injury__c}, {!$Record__Prior.Prior_Indicated_or_Unsub_Finding__c}, {!$Record__Prior.Adult_Survivor_of_child_Maltreatment__c}, {!$Record__Prior.Birth_Match__c}, {!$Record__Prior.Allegations_that_the_maltreatment__c})</expression>
    </formulas>
    <formulas>
        <name>CheckSexualAbuseFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record.Sexual_molestation_of_a_child__c}, {!$Record.Sexual_act_s_among_siblings_or_other__c}, {!$Record.Sexual_exploitation_of_a_child__c}, {!$Record.Physical_behavioral_or_suspicious__c}, {!$Record.Risk_of_Sex_Trafficking__c})</expression>
    </formulas>
    <formulas>
        <name>CheckSexualAbuseFormulaprior</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.Sexual_molestation_of_a_child__c}, {!$Record__Prior.Sexual_act_s_among_siblings_or_other__c}, {!$Record__Prior.Sexual_exploitation_of_a_child__c}, {!$Record__Prior.Physical_behavioral_or_suspicious__c}, {!$Record__Prior.Risk_of_Sex_Trafficking__c})</expression>
    </formulas>
    <formulas>
        <name>CheckUnattendedAbuseFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record.A_child_of_any_age_who_is_physically__c}, {!$Record.A_child_under_8_has_been_left_alone__c}, {!$Record.A_child_over_the_age_of_8_has_been_left__c})</expression>
    </formulas>
    <formulas>
        <name>CheckUnattendedAbuseFormulaprior</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.A_child_of_any_age_who_is_physically__c}, {!$Record__Prior.A_child_under_8_has_been_left_alone__c}, {!$Record__Prior.A_child_over_the_age_of_8_has_been_left__c})</expression>
    </formulas>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SDM Abuse Type Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDM Abuse Type Update Flow</label>
    <loops>
        <name>Iterate_Alleged_Maltreator_records_for_Update</name>
        <label>Iterate Alleged Maltreator records for Update</label>
        <locationX>886</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Alleged_Maltreator_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Alleged_Maltreator_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Alleged_Victim_Record_for_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Alleged_Victim_Record_for_Update</name>
        <label>Iterate Alleged Victim Record for Update</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Alleged_Victim_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_alleged_victim_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Maltreatment_Allegation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Maltreatment_Allegation</name>
        <label>Create Maltreatment Allegation</label>
        <locationX>182</locationX>
        <locationY>5807</locationY>
        <connector>
            <targetReference>Check_for_Delete_record</targetReference>
        </connector>
        <inputReference>MaltreatmentAllegationList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Alleged_Maltreator_Record</name>
        <label>Get Alleged Maltreator Record</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Alleged_Victim_Record_for_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Alleged_Maltreator_s__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Alleged_Victim_s__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM_Alleged_Victim_and_Maltreator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Alleged_Victim_Records</name>
        <label>Get Alleged Victim  Records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Alleged_Maltreator_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Alleged_Victim_s__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Alleged_Maltreator_s__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM_Alleged_Victim_and_Maltreator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Alleged_Victim_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SDM__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Delete_Maltreatment_Allegation_Records</name>
        <label>Delete Maltreatment Allegation Records</label>
        <locationX>50</locationX>
        <locationY>6047</locationY>
        <flowName>Delete_Maltreatment_Allegation_Flow</flowName>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>MaltreatmentAllegationListForDelete</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllegedMaltreatorloopcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Allegedvictimloopcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Alleged_Victim_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>MaltreatmentAllegationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maltreatment_Allegation__c</objectType>
    </variables>
    <variables>
        <name>MaltreatmentAllegationListForDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maltreatment_Allegation__c</objectType>
    </variables>
    <variables>
        <name>MaltreatmentAllegationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maltreatment_Allegation__c</objectType>
    </variables>
    <variables>
        <name>MaltreatmentAllegationRecordforDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maltreatment_Allegation__c</objectType>
    </variables>
    <variables>
        <name>MaltreatmentAllegationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maltreatment_Allegation__c</objectType>
    </variables>
</Flow>
