force-app/main/default/flows/SDM_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_CPS_Response_Type</name>
        <label>Assign CPS Response Type</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Investigation_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Investigation_Record.CPS_Response_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CPS_Response_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Investigation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_CPS_Response_Type</name>
        <label>Check CPS Response Type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Delete_Maltreatment_Allegation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Response_Type_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPS_Response_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Investigation__r.CPS_Response_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CPS_Response_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CPS_Response_Type</targetReference>
            </connector>
            <label>If Response Type Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SDM flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDM flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Investigation</name>
        <label>Update Investigation</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Program_Assignment</targetReference>
        </connector>
        <inputReference>Investigation_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Assignment</name>
        <label>Update Program Assignment</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_Delete_Maltreatment_Allegation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Program_Area__c</field>
            <value>
                <elementReference>$Record.CPS_Response_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Assignment__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_CPS_Response_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SDM__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Delete_Maltreatment_Allegation</name>
        <label>Create/Delete Maltreatment Allegation</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <flowName>SDM_Maltreatment_Allegation</flowName>
        <inputAssignments>
            <name>sdmRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sdmRecord_Prior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Investigation_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
</Flow>
