force-app/main/default/flows/SDM_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_maltreator_list</name>
        <label>Add to maltreator list</label>
        <locationX>534</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>Selected_Alleged_Maltreators_From_Screen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Alleged_victims_and_maltreators</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Alleged_victims_and_maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_victim_list</name>
        <label>Add to victim list</label>
        <locationX>534</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>Selected_Alleged_Victim_From_Screen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Alleged_victims_and_maltreators</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_selected_maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContactIDs</name>
        <label>Assign ContactIDs</label>
        <locationX>798</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Contact_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_junction_object_records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_junction_object_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intake_Value_to_SDM</name>
        <label>Assign Intake Value to SDM</label>
        <locationX>50</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SDM_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Investigation_value_to_SDM</name>
        <label>Assign Investigation value to SDM</label>
        <locationX>314</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SDM_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maltreator_IDs</name>
        <label>Assign Maltreator IDs</label>
        <locationX>798</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Maltreator_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_junction_object_records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ContactIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maltreator_Records</name>
        <label>Assign Maltreator Records</label>
        <locationX>798</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Alleged_Maltreator_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Persons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SDM_Record</name>
        <label>Assign SDM Record</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SDM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_New_SDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SDM_values</name>
        <label>Assign SDM values</label>
        <locationX>446</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record.Suspicious_death_of_a_child_due_to_abuse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suspicious_death_of_a_child_due_to_abuse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Non_accidental_physical_injury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_accidental_physical_injury</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Injury_inconsistent_with_explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Injury_inconsistent_with_explanation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Injury_that_appears_suspicious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Injury_that_appears_suspicious</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Giving_child_toxic_chemicals_alcohol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Giving_child_toxic_chemicals_alcohol_or_drugs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Caregiver_action_that_caused_injury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caregiver_action_that_caused_injury</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Sexual_molestation_of_a_child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sexual_molestation_of_a_child</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Sexual_act_s_among_siblings_or_other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sexual_act_s_among_siblings_or_other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Sexual_exploitation_of_a_child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sexual_exploitation_of_a_child</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Physical_behavioral_or_suspicious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Physical_behavioral_or_suspicious</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Risk_of_Sex_Trafficking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk_of_Sex_Trafficking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Suspicious_death_of_child_due_to_neglect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suspicious_death_of_child_due_to_neglect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.signs_or_diagnosis_of_non_organic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Signs_or_Diagnosis_of_non_organic_failure_to_thrive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Inadequate_of_food_nutrition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inadequate_of_food_nutrition_or_signs_of_malnutrition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_discharged_from_a_facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A_child_being_discharged_from_a_facility_and_parents_refuse_to_participate_in_pl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Exposure_to_unsafe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exposure_to_unsafe_conditions_in_the_home</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Inadequate_clothing_or_hygiene__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inadequate_clothing_or_hygiene</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Inadequate_supervision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inadequate_supervision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Physical_treatment_of_the_child_poses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Physical_treatment_of_the_child_poses_a_significant_risk_to_child_health_or_welf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.The_caregiver_does_not_intervene_despite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_caregiver_does_not_intervene_despite_knowledge_or_reasonable_expectation_tha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_of_any_age_has_been_abandoned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A_child_of_any_age_has_been_abandoned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_of_any_age_who_is_physically__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A_child_of_any_age_who_is_physically_intellectually_or_cognitively_disabled_is_l</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_under_8_has_been_left_alone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A_child_under_the_age_of_8_has_been_left_alone_or_in_the_care_of_an_inappropriat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_over_the_age_of_8_has_been_left__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A_child_over_the_age_of_8_has_been_left_alone_without_support_systems_for_long_p</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.The_unreasonable_delay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_unreasonable_delay_refusal_or_failure_on_the_part_of_the_caregiver_to_seek_o</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Abuse_child_has_an_observable_identifi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A_child_has_an_observable_identifiable_and_substantial_impairment_of_his_her_men</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Neglect_child_has_an_observable_identif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Neglect_child_has_an_observable_identif</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Prior_child_fatality_and_a_new_child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prior_child_fatality_and_a_new_child_in_the_home</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Substance_Exposed_Newborn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substance_Exposed_Newborn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Child_s_basic_need_to_be_unmet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_s_basic_needs_are_likely_to_be_unmet_due_to_caregiver_impairment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Risk_of_sex_Abuse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk_of_Sex_Abuse_by_Registered_Sex_Offender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Risk_of_Domestic_Violence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk_of_Domestic_Violence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Harm_Risk_of_Sex_Trafficking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Harm_Risk_of_Sex_Trafficking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Previous_Fatality_or_Serious_Injury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Previous_Fatality_or_Serious_Injury_of_a_Child_due_to_Child_Abuse_or_Neglect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Prior_Indicated_or_Unsub_Finding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prior_Indicated_or_Unsub_Finding_and_Child_under_age_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Adult_Survivor_of_child_Maltreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adult_Survivor_of_child_Maltreatment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Birth_Match__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Birth_Match</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Allegations_that_the_maltreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Allegations_that_the_maltreatment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Alleged_victims_and_maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Case_to_SDM</name>
        <label>Assign Service Case to SDM</label>
        <locationX>578</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SDM_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_SDM_Alleged_Maltreators</name>
        <label>Assign values to SDM Alleged Maltreators</label>
        <locationX>534</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Maltreator_Record.Alleged_Maltreator_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Selected_Alleged_Maltreators.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Maltreator_Record.SDM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDM_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Victim_Maltreator_Record_Lists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SDM_Alleged_Maltreator_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Selected_Alleged_Maltreators</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_SDM_Alleged_Victim</name>
        <label>Assign values to SDM Alleged Victim</label>
        <locationX>534</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Victim_Record.Alleged_Victim_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Selected_Alleged_Victims.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Victim_Record.SDM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDM_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Alleged_Victim_Maltreator_Record_Lists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SDM_Alleged_Victim_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Selected_Alleged_Victims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Victim_IDs</name>
        <label>Assign Victim IDs</label>
        <locationX>534</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Victim_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_junction_object_records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_ContactIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Victim_Records</name>
        <label>Assign Victim Records</label>
        <locationX>534</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Alleged_Victim_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Persons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_SDM_values</name>
        <label>Copy 1 of Assign SDM values</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SDM_Record.Suspicious_death_of_a_child_due_to_abuse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Suspicious_death_of_a_child_due_to_abuse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Non_accidental_physical_injury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Non_accidental_physical_injury</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Injury_inconsistent_with_explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Injury_inconsistent_with_explanation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Injury_that_appears_suspicious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Injury_that_appears_suspicious</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Giving_child_toxic_chemicals_alcohol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Giving_child_toxic_chemicals_alcohol_or_drugs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Caregiver_action_that_caused_injury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Caregiver_action_that_caused_injury</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Sexual_molestation_of_a_child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Sexual_molestation_of_a_child</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Sexual_act_s_among_siblings_or_other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Sexual_act_s_among_siblings_or_other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Sexual_exploitation_of_a_child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Sexual_exploitation_of_a_child</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Physical_behavioral_or_suspicious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Physical_behavioral_or_suspicious</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Risk_of_Sex_Trafficking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Risk_of_Sex_Trafficking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Suspicious_death_of_child_due_to_neglect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Suspicious_death_of_child_due_to_neglect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.signs_or_diagnosis_of_non_organic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Signs_or_Diagnosis_of_non_organic_failure_to_thrive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Inadequate_of_food_nutrition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Inadequate_of_food_nutrition_or_signs_of_malnutrition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_discharged_from_a_facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_A_child_being_discharged_from_a_facility_and_parents_refuse_to_partici</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Exposure_to_unsafe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Exposure_to_unsafe_conditions_in_the_home</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Inadequate_clothing_or_hygiene__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Inadequate_clothing_or_hygiene</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Inadequate_supervision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Inadequate_supervision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Physical_treatment_of_the_child_poses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Physical_treatment_of_the_child_poses_a_significant_risk_to_child_heal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.The_caregiver_does_not_intervene_despite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_The_caregiver_does_not_intervene_despite_knowledge_or_reasonable_expec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_of_any_age_has_been_abandoned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_A_child_of_any_age_has_been_abandoned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_of_any_age_who_is_physically__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_A_child_of_any_age_who_is_physically_intellectually_or_cognitively_dis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_under_8_has_been_left_alone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_A_child_under_the_age_of_8_has_been_left_alone_or_in_the_care_of_an_in</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.A_child_over_the_age_of_8_has_been_left__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_A_child_over_the_age_of_8_has_been_left_alone_without_support_systems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.The_unreasonable_delay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_The_unreasonable_delay_refusal_or_failure_on_the_part_of_the_caregiver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Abuse_child_has_an_observable_identifi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_A_child_has_an_observable_identifiable_and_substantial_impairment_of_h</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Neglect_child_has_an_observable_identif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Neglect_child_has_an_observable_identif</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Prior_child_fatality_and_a_new_child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Prior_child_fatality_and_a_new_child_in_the_home</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Substance_Exposed_Newborn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Substance_Exposed_Newborn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Child_s_basic_need_to_be_unmet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Child_s_basic_needs_are_likely_to_be_unmet_due_to_caregiver_impairment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Risk_of_sex_Abuse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Risk_of_Sex_Abuse_by_Registered_Sex_Offender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Risk_of_Domestic_Violence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Risk_of_Domestic_Violence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Harm_Risk_of_Sex_Trafficking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Harm_Risk_of_Sex_Trafficking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Previous_Fatality_or_Serious_Injury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Previous_Fatality_or_Serious_Injury_of_a_Child_due_to_Child_Abuse_or_N</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Prior_Indicated_or_Unsub_Finding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Prior_Indicated_or_Unsub_Finding_and_Child_under_age_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Adult_Survivor_of_child_Maltreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Adult_Survivor_of_child_Maltreatment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Birth_Match__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Birth_Match</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDM_Record.Allegations_that_the_maltreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Allegations_that_the_maltreatment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SDM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_selected_maltreators</name>
        <label>Check for selected maltreators</label>
        <locationX>666</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Alleged_victims_and_maltreators</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_selected_maltreators</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Maltreator_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Alleged_victims_and_maltreators.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_maltreator_list</targetReference>
            </connector>
            <label>If selected maltreators</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_selected_victims</name>
        <label>Check for selected victims</label>
        <locationX>666</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Check_for_selected_maltreators</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_selected_victims</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alleged_Victim_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Alleged_victims_and_maltreators.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_victim_list</targetReference>
            </connector>
            <label>If selected victims</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Intake_Investigation_ServiceCase</name>
        <label>Check Intake Investigation ServiceCase</label>
        <locationX>446</locationX>
        <locationY>3110</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Investigation_ServiceCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Intake_Value_to_SDM</targetReference>
            </connector>
            <label>If intake</label>
        </rules>
        <rules>
            <name>If_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Investigation_ServiceCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Investigation_value_to_SDM</targetReference>
            </connector>
            <label>If Investigation</label>
        </rules>
        <rules>
            <name>If_ServiceCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake_Investigation_ServiceCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Case_to_SDM</targetReference>
            </connector>
            <label>If ServiceCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role</name>
        <label>Check Role</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_junction_object_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Victim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_junction_object_records.Person_Role_Formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_junction_object_records.Person__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Persons_Involved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Victim_IDs</targetReference>
            </connector>
            <label>If Victim</label>
        </rules>
        <rules>
            <name>If_Maltreator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_junction_object_records.Person_Role_Formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_junction_object_records.Person__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Persons_Involved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Maltreator_IDs</targetReference>
            </connector>
            <label>If Maltreator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Victim_Maltreator</name>
        <label>Check Victim/Maltreator</label>
        <locationX>798</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Persons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Victim_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Victim_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Persons.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Victim_Records</targetReference>
            </connector>
            <label>If Victim</label>
        </rules>
        <rules>
            <name>If_Maltreator_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maltreator_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Persons.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Maltreator_Records</targetReference>
            </connector>
            <label>If Maltreator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_New_SDM_button_or_not</name>
        <label>Show New SDM button or not</label>
        <locationX>908</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_SDM_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_new_button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SDM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_ID</targetReference>
            </connector>
            <label>Show new button</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Alleged_Maltreators_Choice</name>
        <collectionReference>Alleged_Maltreator_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Alleged_Victims_Choice</name>
        <collectionReference>Alleged_Victim_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SDM Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDM Create Flow</label>
    <loops>
        <name>Iterate_through_Alleged_victims_and_maltreators</name>
        <label>Iterate through Alleged_victims_and_maltreators</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <collectionReference>Alleged_victims_and_maltreators</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_selected_victims</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Intake_Investigation_ServiceCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_junction_object_records</name>
        <label>Iterate through junction object records</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Junction_Object_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alleged_victims_and_maltreators</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Persons</name>
        <label>Iterate through Persons</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <collectionReference>Alleged_victims_and_maltreators</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Victim_Maltreator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_SDM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Selected_Alleged_Maltreators</name>
        <label>Iterate through Selected Alleged Maltreators</label>
        <locationX>446</locationX>
        <locationY>3902</locationY>
        <collectionReference>Selected_Alleged_Maltreators_From_Screen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_SDM_Alleged_Maltreators</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SDM_Alleged_Victims_Maltreators</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Selected_Alleged_Victims</name>
        <label>Iterate through Selected Alleged Victims</label>
        <locationX>446</locationX>
        <locationY>3566</locationY>
        <collectionReference>Selected_Alleged_Victim_From_Screen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_SDM_Alleged_Victim</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_through_Selected_Alleged_Maltreators</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SDM_Alleged_Victims_Maltreators</name>
        <label>Create SDM Alleged Victims Maltreators</label>
        <locationX>446</locationX>
        <locationY>4238</locationY>
        <inputReference>SDM_Alleged_Victim_Maltreator_Record_Lists</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SDM_record</name>
        <label>Create SDM record</label>
        <locationX>446</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Iterate_through_Selected_Alleged_Victims</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_SDM_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>SDM_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Alleged_victims_and_maltreators</name>
        <label>Alleged victims and maltreators</label>
        <locationX>446</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Persons</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Victim_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Maltreator_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Record</name>
        <label>Get Junction Object Record</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_junction_object_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Junction_Object_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Persons Involved</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM</name>
        <label>Get SDM</label>
        <locationX>908</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_New_SDM_button_or_not</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SDM</name>
        <label>Update SDM</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Edit_SDM_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>SDM_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_New_SDM</name>
        <label>Copy 1 of New SDM</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Copy_1_of_Assign_SDM_values</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_New_SDM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Child_Fatality__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Provider_Involved_Maltreatment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_PHYSICAL_ABUSE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;PHYSICAL ABUSE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Suspicious_death_of_a_child_due_to_abuse</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Suspicious_death_of_a_child_due_to_abuse__c</elementReference>
                    </defaultValue>
                    <fieldText>Suspicious death of a child due to abuse</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Injury_inconsistent_with_explanation</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Injury_inconsistent_with_explanation__c</elementReference>
                    </defaultValue>
                    <fieldText>Injury inconsistent with explanation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Giving_child_toxic_chemicals_alcohol_or_drugs</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Giving_child_toxic_chemicals_alcohol__c</elementReference>
                    </defaultValue>
                    <fieldText>Giving child toxic chemicals,alcohol or drugs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Non_accidental_physical_injury</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Non_accidental_physical_injury__c</elementReference>
                    </defaultValue>
                    <fieldText>Non-accidental physical injury</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Injury_that_appears_suspicious</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Injury_that_appears_suspicious__c</elementReference>
                    </defaultValue>
                    <fieldText>Injury that appears suspicious</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Caregiver_action_that_caused_injury</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Caregiver_action_that_caused_injury__c</elementReference>
                    </defaultValue>
                    <fieldText>Caregiver action that caused injury</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_SEXUAL_ABUSE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;SEXUAL ABUSE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Sexual_molestation_of_a_child</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Sexual_molestation_of_a_child__c</elementReference>
                    </defaultValue>
                    <fieldText>Sexual molestation of a child by an adult caregiver, family member, or household member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Sexual_exploitation_of_a_child</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Sexual_exploitation_of_a_child__c</elementReference>
                    </defaultValue>
                    <fieldText>Sexual exploitation of a child by an adult caregiver, family member, or household member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Risk_of_Sex_Trafficking</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Risk_of_Sex_Trafficking__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk of sex trafficking</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Sexual_act_s_among_siblings_or_other</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Sexual_act_s_among_siblings_or_other__c</elementReference>
                    </defaultValue>
                    <fieldText>Sexual act(s) among siblings or other children living in the home that is outside of normal exploration</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Physical_behavioral_or_suspicious</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Physical_behavioral_or_suspicious__c</elementReference>
                    </defaultValue>
                    <fieldText>Physical behavioral, or suspicious indicators consistent with sexual abuse</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_NEGLECT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;NEGLECT&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Suspicious_death_of_child_due_to_neglect</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Suspicious_death_of_child_due_to_neglect__c</elementReference>
                    </defaultValue>
                    <fieldText>Suspicious death of child due to neglect</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Inadequate_of_food_nutrition_or_signs_of_malnutrition</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Inadequate_of_food_nutrition__c</elementReference>
                    </defaultValue>
                    <fieldText>Inadequate of food/nutrition , or signs of malnutrition</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Exposure_to_unsafe_conditions_in_the_home</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Exposure_to_unsafe__c</elementReference>
                    </defaultValue>
                    <fieldText>Exposure to unsafe conditions in the home</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Inadequate_supervision</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Inadequate_supervision__c</elementReference>
                    </defaultValue>
                    <fieldText>Inadequate supervision</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Signs_or_Diagnosis_of_non_organic_failure_to_thrive</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.signs_or_diagnosis_of_non_organic__c</elementReference>
                    </defaultValue>
                    <fieldText>Signs or diagnosis of non-organic failure to thrive</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_A_child_being_discharged_from_a_facility_and_parents_refuse_to_partici</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_discharged_from_a_facility__c</elementReference>
                    </defaultValue>
                    <fieldText>A child being discharged from a facility and parents refuse to participate in planning for the child</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Inadequate_clothing_or_hygiene</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Inadequate_clothing_or_hygiene__c</elementReference>
                    </defaultValue>
                    <fieldText>Inadequate clothing or hygiene</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Physical_treatment_of_the_child_poses_a_significant_risk_to_child_heal</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Physical_treatment_of_the_child_poses__c</elementReference>
                    </defaultValue>
                    <fieldText>Physical treatment of the child poses a significant risk to child health or welfare</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Failure_to_Protect</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Failure to Protect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_The_caregiver_does_not_intervene_despite_knowledge_or_reasonable_expec</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.The_caregiver_does_not_intervene_despite__c</elementReference>
                    </defaultValue>
                    <fieldText>The caregiver does not intervene despite knowledge (or reasonable expectation that the caregiver should have knowledge) that the child is being harmed (includes physical or sexual abuse, neglect or mental injury) by another person</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Abandonment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Abandonment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_A_child_of_any_age_has_been_abandoned</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_of_any_age_has_been_abandoned__c</elementReference>
                    </defaultValue>
                    <fieldText>A child of any age has been abandoned</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Unattended_child</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unattended Child&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_A_child_of_any_age_who_is_physically_intellectually_or_cognitively_dis</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_of_any_age_who_is_physically__c</elementReference>
                    </defaultValue>
                    <fieldText>A child of any age who is physically,intellectually,or cognitively disabled is left unsupervised or with responsibilities beyond his or her capabilities</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_A_child_over_the_age_of_8_has_been_left_alone_without_support_systems</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_over_the_age_of_8_has_been_left__c</elementReference>
                    </defaultValue>
                    <fieldText>A child over the age of 8 has been left alone without support systems for long periods of time or with responsibilities beyond his or her capabilities</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_A_child_under_the_age_of_8_has_been_left_alone_or_in_the_care_of_an_in</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_under_8_has_been_left_alone__c</elementReference>
                    </defaultValue>
                    <fieldText>A child under the age of 8 has been left alone or in the care of an inappropriate caregiver</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Medical_Neglect</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Medical Neglect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_The_unreasonable_delay_refusal_or_failure_on_the_part_of_the_caregiver</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.The_unreasonable_delay__c</elementReference>
                    </defaultValue>
                    <fieldText>The unreasonable delay, refusal, or failure on the part of the caregiver to seek , obtain, and/or maintain necessary medical, dental, or mental health care</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_MENTAL_INJURY_ABUSE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;MENTAL INJURY - Abuse&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_A_child_has_an_observable_identifiable_and_substantial_impairment_of_h</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Abuse_child_has_an_observable_identifi__c</elementReference>
                    </defaultValue>
                    <fieldText>A child has an observable ,identifiable, and substantial impairment of his/her mental or psychological ability to function as a result of an act of a parent, permanent or temporary caregiver, or household or family member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_MENTAL_INJURY_NEGLECT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;MENTAL INJURY - Neglect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Neglect_child_has_an_observable_identif</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Neglect_child_has_an_observable_identif__c</elementReference>
                    </defaultValue>
                    <fieldText>A child has an observable, identifiable, and substantial impairment of his/her mental or psychological ability to function as a result of an act of a parent, permanent or temporary caregiver, or household or family member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_RISK_OF_HARM</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Risk of Harm&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Prior_child_fatality_and_a_new_child_in_the_home</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Prior_child_fatality_and_a_new_child__c</elementReference>
                    </defaultValue>
                    <fieldText>Prior child fatality and a new child in the home</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Child_s_basic_needs_are_likely_to_be_unmet_due_to_caregiver_impairment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Child_s_basic_need_to_be_unmet__c</elementReference>
                    </defaultValue>
                    <fieldText>Child&apos;s basic needs are likely to be unmet due to caregiver impairment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Risk_of_Domestic_Violence</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Risk_of_Domestic_Violence__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk of domestic violence</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Previous_Fatality_or_Serious_Injury_of_a_Child_due_to_Child_Abuse_or_N</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Previous_Fatality_or_Serious_Injury__c</elementReference>
                    </defaultValue>
                    <fieldText>Previous fatality or serious injury of a child due to child abuse or neglect</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Adult_Survivor_of_child_Maltreatment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Adult_Survivor_of_child_Maltreatment__c</elementReference>
                    </defaultValue>
                    <fieldText>Adult survivor of child maltreatment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Substance_Exposed_Newborn</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Substance_Exposed_Newborn__c</elementReference>
                    </defaultValue>
                    <fieldText>Substance exposed newborn</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Risk_of_Sex_Abuse_by_Registered_Sex_Offender</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Risk_of_sex_Abuse__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk of sex abuse by registered sex offender</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Harm_Risk_of_Sex_Trafficking</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Harm_Risk_of_Sex_Trafficking__c</elementReference>
                    </defaultValue>
                    <fieldText>Harm risk of sex trafficking</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Prior_Indicated_or_Unsub_Finding_and_Child_under_age_5</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Prior_Indicated_or_Unsub_Finding__c</elementReference>
                    </defaultValue>
                    <fieldText>Prior indicated or unsub finding and child under age 5</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Birth_Match</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Birth_Match__c</elementReference>
                    </defaultValue>
                    <fieldText>Birth match</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_New_SDM_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_New_SDM_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Allegations_that_the_maltreatment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Allegations_that_the_maltreatment__c</elementReference>
                    </defaultValue>
                    <fieldText>Allegations that the maltreatment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_New_SDM_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save and Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_SDM_Error_Screen</name>
        <label>Create SDM Error Screen</label>
        <locationX>1106</locationX>
        <locationY>3566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>Create_SDM_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_SDM_Error_Screen</name>
        <label>Edit SDM Error Screen</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>Edit_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_SDM</name>
        <label>New SDM</label>
        <locationX>446</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_SDM_values</targetReference>
        </connector>
        <fields>
            <name>New_SDM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Alleged_Victim_s</name>
                    <choiceReferences>Alleged_Victims_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Alleged Victim(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Child_Fatality__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Alleged_Maltreator_s</name>
                    <choiceReferences>Alleged_Maltreators_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Alleged Maltreator(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SDM_Record.Provider_Involved_Maltreatment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PHYSICAL_ABUSE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;PHYSICAL ABUSE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Suspicious_death_of_a_child_due_to_abuse</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Suspicious_death_of_a_child_due_to_abuse__c</elementReference>
                    </defaultValue>
                    <fieldText>Suspicious death of a child due to abuse</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Injury_inconsistent_with_explanation</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Injury_inconsistent_with_explanation__c</elementReference>
                    </defaultValue>
                    <fieldText>Injury inconsistent with explanation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Giving_child_toxic_chemicals_alcohol_or_drugs</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Giving_child_toxic_chemicals_alcohol__c</elementReference>
                    </defaultValue>
                    <fieldText>Giving child toxic chemicals,alcohol or drugs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Non_accidental_physical_injury</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Non_accidental_physical_injury__c</elementReference>
                    </defaultValue>
                    <fieldText>Non-accidental physical injury</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Injury_that_appears_suspicious</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Injury_that_appears_suspicious__c</elementReference>
                    </defaultValue>
                    <fieldText>Injury that appears suspicious</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Caregiver_action_that_caused_injury</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Caregiver_action_that_caused_injury__c</elementReference>
                    </defaultValue>
                    <fieldText>Caregiver action that caused injury</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SEXUAL_ABUSE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;SEXUAL ABUSE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sexual_molestation_of_a_child</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Sexual_molestation_of_a_child__c</elementReference>
                    </defaultValue>
                    <fieldText>Sexual molestation of a child by an adult caregiver, family member, or household member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sexual_exploitation_of_a_child</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Sexual_exploitation_of_a_child__c</elementReference>
                    </defaultValue>
                    <fieldText>Sexual exploitation of a child by an adult caregiver, family member, or household member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Risk_of_Sex_Trafficking</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Risk_of_Sex_Trafficking__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk of sex trafficking</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sexual_act_s_among_siblings_or_other</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Sexual_act_s_among_siblings_or_other__c</elementReference>
                    </defaultValue>
                    <fieldText>Sexual act(s) among siblings or other children living in the home that is outside of normal exploration</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Physical_behavioral_or_suspicious</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Physical_behavioral_or_suspicious__c</elementReference>
                    </defaultValue>
                    <fieldText>Physical behavioral, or suspicious indicators consistent with sexual abuse</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NEGLECT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;NEGLECT&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Suspicious_death_of_child_due_to_neglect</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Suspicious_death_of_child_due_to_neglect__c</elementReference>
                    </defaultValue>
                    <fieldText>Suspicious death of child due to neglect</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Inadequate_of_food_nutrition_or_signs_of_malnutrition</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Inadequate_of_food_nutrition__c</elementReference>
                    </defaultValue>
                    <fieldText>Inadequate of food/nutrition , or signs of malnutrition</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Exposure_to_unsafe_conditions_in_the_home</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Exposure_to_unsafe__c</elementReference>
                    </defaultValue>
                    <fieldText>Exposure to unsafe conditions in the home</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Inadequate_supervision</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Inadequate_supervision__c</elementReference>
                    </defaultValue>
                    <fieldText>Inadequate supervision</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Signs_or_Diagnosis_of_non_organic_failure_to_thrive</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.signs_or_diagnosis_of_non_organic__c</elementReference>
                    </defaultValue>
                    <fieldText>Signs or diagnosis of non-organic failure to thrive</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>A_child_being_discharged_from_a_facility_and_parents_refuse_to_participate_in_pl</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_discharged_from_a_facility__c</elementReference>
                    </defaultValue>
                    <fieldText>A child being discharged from a facility and parents refuse to participate in planning for the child</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Inadequate_clothing_or_hygiene</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Inadequate_clothing_or_hygiene__c</elementReference>
                    </defaultValue>
                    <fieldText>Inadequate clothing or hygiene</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Physical_treatment_of_the_child_poses_a_significant_risk_to_child_health_or_welf</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Physical_treatment_of_the_child_poses__c</elementReference>
                    </defaultValue>
                    <fieldText>Physical treatment of the child poses a significant risk to child health or welfare</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Failure_to_Protect</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Failure to Protect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>The_caregiver_does_not_intervene_despite_knowledge_or_reasonable_expectation_tha</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.The_caregiver_does_not_intervene_despite__c</elementReference>
                    </defaultValue>
                    <fieldText>The caregiver does not intervene despite knowledge (or reasonable expectation that the caregiver should have knowledge) that the child is being harmed (includes physical or sexual abuse, neglect or mental injury) by another person</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Abandonment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Abandonment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>A_child_of_any_age_has_been_abandoned</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_of_any_age_has_been_abandoned__c</elementReference>
                    </defaultValue>
                    <fieldText>A child of any age has been abandoned</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Unattended_child</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unattended Child&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>A_child_of_any_age_who_is_physically_intellectually_or_cognitively_disabled_is_l</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_of_any_age_who_is_physically__c</elementReference>
                    </defaultValue>
                    <fieldText>A child of any age who is physically,intellectually,or cognitively disabled is left unsupervised or with responsibilities beyond his or her capabilities</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>A_child_over_the_age_of_8_has_been_left_alone_without_support_systems_for_long_p</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_over_the_age_of_8_has_been_left__c</elementReference>
                    </defaultValue>
                    <fieldText>A child over the age of 8 has been left alone without support systems for long periods of time or with responsibilities beyond his or her capabilities</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>A_child_under_the_age_of_8_has_been_left_alone_or_in_the_care_of_an_inappropriat</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.A_child_under_8_has_been_left_alone__c</elementReference>
                    </defaultValue>
                    <fieldText>A child under the age of 8 has been left alone or in the care of an inappropriate caregiver</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Medical_Neglect</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Medical Neglect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>The_unreasonable_delay_refusal_or_failure_on_the_part_of_the_caregiver_to_seek_o</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.The_unreasonable_delay__c</elementReference>
                    </defaultValue>
                    <fieldText>The unreasonable delay, refusal, or failure on the part of the caregiver to seek , obtain, and/or maintain necessary medical, dental, or mental health care</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MENTAL_INJURY_ABUSE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;MENTAL INJURY - Abuse&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>A_child_has_an_observable_identifiable_and_substantial_impairment_of_his_her_men</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Abuse_child_has_an_observable_identifi__c</elementReference>
                    </defaultValue>
                    <fieldText>A child has an observable ,identifiable, and substantial impairment of his/her mental or psychological ability to function as a result of an act of a parent, permanent or temporary caregiver, or household or family member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MENTAL_INJURY_NEGLECT</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;MENTAL INJURY - Neglect&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Neglect_child_has_an_observable_identif</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Neglect_child_has_an_observable_identif__c</elementReference>
                    </defaultValue>
                    <fieldText>A child has an observable, identifiable, and substantial impairment of his/her mental or psychological ability to function as a result of an act of a parent, permanent or temporary caregiver, or household or family member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RISK_OF_HARM</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Risk of Harm&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prior_child_fatality_and_a_new_child_in_the_home</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Prior_child_fatality_and_a_new_child__c</elementReference>
                    </defaultValue>
                    <fieldText>Prior child fatality and a new child in the home</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Child_s_basic_needs_are_likely_to_be_unmet_due_to_caregiver_impairment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Child_s_basic_need_to_be_unmet__c</elementReference>
                    </defaultValue>
                    <fieldText>Child&apos;s basic needs are likely to be unmet due to caregiver impairment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Risk_of_Domestic_Violence</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Risk_of_Domestic_Violence__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk of domestic violence</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Previous_Fatality_or_Serious_Injury_of_a_Child_due_to_Child_Abuse_or_Neglect</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Previous_Fatality_or_Serious_Injury__c</elementReference>
                    </defaultValue>
                    <fieldText>Previous fatality or serious injury of a child due to child abuse or neglect</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Adult_Survivor_of_child_Maltreatment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Adult_Survivor_of_child_Maltreatment__c</elementReference>
                    </defaultValue>
                    <fieldText>Adult survivor of child maltreatment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Substance_Exposed_Newborn</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Substance_Exposed_Newborn__c</elementReference>
                    </defaultValue>
                    <fieldText>Substance exposed newborn</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Risk_of_Sex_Abuse_by_Registered_Sex_Offender</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Risk_of_sex_Abuse__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk of sex abuse by registered sex offender</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Harm_Risk_of_Sex_Trafficking</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Harm_Risk_of_Sex_Trafficking__c</elementReference>
                    </defaultValue>
                    <fieldText>Harm risk of sex trafficking</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Prior_Indicated_or_Unsub_Finding_and_Child_under_age_5</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Prior_Indicated_or_Unsub_Finding__c</elementReference>
                    </defaultValue>
                    <fieldText>Prior indicated or unsub finding and child under age 5</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Birth_Match</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Birth_Match__c</elementReference>
                    </defaultValue>
                    <fieldText>Birth match</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_SDM_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_SDM_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Allegations_that_the_maltreatment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SDM_Record.Allegations_that_the_maltreatment__c</elementReference>
                    </defaultValue>
                    <fieldText>Allegations that the maltreatment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_SDM_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save and Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SDM</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Alleged_Maltreator_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Alleged_Victim_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Alleged_Maltreators_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Alleged_victims</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Selected_Alleged_Maltreators</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Selected_Alleged_Victims</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Intake_Investigation_ServiceCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Maltreator_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDM_Alleged_Maltreator_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>SDM_Alleged_Victim_Maltreator_Record_Lists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>SDM_Alleged_Victim_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM_Alleged_Victim_and_Maltreator__c</objectType>
    </variables>
    <variables>
        <name>SDM_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>Selected_Alleged_Maltreators_From_Screen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Selected_Alleged_Victim_From_Screen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Victim_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
