force-app/main/default/flows/SDM_Recommendation_and_Overrides.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Intake_id</name>
        <label>Assign Intake id</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newSDMRecord.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_SDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Investigation_Id</name>
        <label>Assign Investigation Id</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newSDMRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_SDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Case_Id</name>
        <label>Assign Service Case Id</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newSDMRecord.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_SDM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_investigation_serviceCase_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Intake_id</targetReference>
            </connector>
            <label>If intake</label>
        </rules>
        <rules>
            <name>If_investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_investigation_serviceCase_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Investigation_Id</targetReference>
            </connector>
            <label>If investigation</label>
        </rules>
        <rules>
            <name>If_Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_investigation_serviceCase_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Case_Id</targetReference>
            </connector>
            <label>If Service Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SDM_records</name>
        <label>If SDM records</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Complete_S1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SDM_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommendation_and_Overrides</targetReference>
            </connector>
            <label>Check SDM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SDM - Recommendation and Overrides {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDM - Recommendation and Overrides</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_SDM</name>
        <label>New SDM</label>
        <locationX>974</locationX>
        <locationY>854</locationY>
        <faultConnector>
            <targetReference>New_SDM_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newSDMRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_SDM_records</name>
        <label>Get SDM records</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_SDM_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SDM</name>
        <label>Update SDM</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_SDM_records</inputReference>
    </recordUpdates>
    <screens>
        <name>Complete_S1</name>
        <label>Complete S1</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Object</targetReference>
        </connector>
        <fields>
            <name>H11</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommendation and Overrides&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.Initial_Screening_Recommendation__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.SDM_Overrides__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.Final_Screening_Decision__c</objectFieldReference>
        </fields>
        <fields>
            <name>H22</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Response Time Decision (complete for all screened in reports)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.Response_Time_Decision__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.Physical_abuse_response_within_24_hours__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.Sexual_abuse_response_within_24_hours__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.Neglect_response_within_5_days__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.Mental_injury_response_within_5_days__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.Screen_in_override__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.There_is_Risk_of_Harm_for_a_Substance__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.There_is_Risk_of_Harm_Response_within_5__c</objectFieldReference>
        </fields>
        <fields>
            <name>H33</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Dangered Influence&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newSDMRecord.Report_includes_allegation_of_abuse__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Save and Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_SDM_Error_Screen</name>
        <label>New SDM Error Screen</label>
        <locationX>1634</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>new_SDM_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Recommendation_and_Overrides</name>
        <label>Recommendation and Overrides</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_SDM</targetReference>
        </connector>
        <fields>
            <name>H1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommendation and Overrides&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.Initial_Screening_Recommendation__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.SDM_Overrides__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.Final_Screening_Decision__c</objectFieldReference>
        </fields>
        <fields>
            <name>H2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Response Time Decision (complete for all screened in reports)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.Response_Time_Decision__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.Physical_abuse_response_within_24_hours__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.Sexual_abuse_response_within_24_hours__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.Neglect_response_within_5_days__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.Mental_injury_response_within_5_days__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.Screen_in_override__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.There_is_Risk_of_Harm_for_a_Substance__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.There_is_Risk_of_Harm_Response_within_5__c</objectFieldReference>
        </fields>
        <fields>
            <name>H3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Dangered Influence&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SDM_records.Report_includes_allegation_of_abuse__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Save and Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SDM_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>intake_investigation_serviceCase_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intake_investigation_servicecaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newSDMRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
</Flow>
