force-app/main/default/flows/Service_Case_creation_from_Investigation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assigned_Junction_Object_Record</name>
        <label>Assigned Junction Object Record</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Person_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Person_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Head_of_House_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Head_of_House_Hold__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Danger_to_worker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Danger_to_worker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Danger_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Danger_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Current_or_Previous_Mental_Health_issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Current_or_Previous_Mental_Health_issue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Reported_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Reported_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Danger_to_self__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Danger_to_self__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Worker_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Worker_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Judiciary_Case_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Judiciary_Case_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.National_Sex_Offender_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.National_Sex_Offender_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Sex_Offender_registry_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Sex_Offender_registry_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Judiciary_case_search__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Judiciary_case_search__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Insert_JN_Object_Ins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Relationship</name>
        <label>Assigned Service Case in Relationship</label>
        <locationX>264</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Relationship_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Relationship_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_SDM</name>
        <label>Assigned Service Case in SDM</label>
        <locationX>264</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>UpdatingSDMRecordIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_SDM_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingSDMRecordIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SDM_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Relationship_add_to_List</name>
        <label>Update Relationship add to List</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingRelationshipIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SDM_add_to_List</name>
        <label>Update SDM add to List</label>
        <locationX>264</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>UpdatingSDMList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingSDMRecordIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SDM_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Service Case creation from Investigation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Case creation from Investigation</label>
    <loops>
        <name>Iterate_Persons_Records</name>
        <label>Iterate Persons Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Junction_Object_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Jn_Object_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Relationship_Records</name>
        <label>Iterate Relationship Records</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Relationship</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Relationship_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_SDM_Records</name>
        <label>Iterate SDM Records</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <collectionReference>Get_SDM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_SDM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SDM_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Case_Record</name>
        <label>Create Service Case Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>ServiceCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Head_of_Household__c</field>
            <value>
                <elementReference>Investigation_Rec.Head_of_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>Investigation_Rec.Intake__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Case__c</object>
    </recordCreates>
    <recordCreates>
        <name>Jn_Object_Insert</name>
        <label>Jn Object Insert</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Get_Relationship_Records</targetReference>
        </connector>
        <inputReference>Insert_JN_Object_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relationship_Records</name>
        <label>Get Relationship Records</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM_Records</name>
        <label>Get SDM Records</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_SDM_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assessment_Records</name>
        <label>Update Assessment Records</label>
        <locationX>176</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Update_Court_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collaterals_Records</name>
        <label>Update Collaterals Records</label>
        <locationX>176</locationX>
        <locationY>3086</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Collateral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Court_Records</name>
        <label>Update Court Records</label>
        <locationX>176</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Update_Legal_Custody_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Court__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Legal_Custody_Records</name>
        <label>Update Legal Custody Records</label>
        <locationX>176</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Update_Notes_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Custody__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meeting_Records</name>
        <label>Update Meeting Records</label>
        <locationX>176</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Update_Resource_Consult_Review_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notes_Records</name>
        <label>Update Notes Records</label>
        <locationX>176</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Update_Meeting_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Notes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Relationship_Records</name>
        <label>Update Relationship Records</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_SDM_Records</targetReference>
        </connector>
        <inputReference>UpdatingRelationshipList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resource_Consult_Review_Records</name>
        <label>Update Resource Consult Review Records</label>
        <locationX>176</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Update_Visitation_Log_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Resource_Consult_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDM_Records</name>
        <label>Update SDM Records</label>
        <locationX>176</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Update_Assessment_Records</targetReference>
        </connector>
        <inputReference>UpdatingSDMList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visitation_Log_Records</name>
        <label>Update Visitation Log Records</label>
        <locationX>176</locationX>
        <locationY>2966</locationY>
        <connector>
            <targetReference>Update_Collaterals_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Investigation_Rec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Visitation_Log__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Service_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Insert_JN_Object_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Insert_JN_Object_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Investigation_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>ServiceCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdatingRelationshipIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMRecordIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
</Flow>
