force-app/main/default/flows/Service_Create_Flow_From_Child_Removal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Created_service_case_in_Child_Removal_Ins</name>
        <label>Assign Created service case in Child Removal Ins</label>
        <locationX>50</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>ChildRemovalIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Child_Removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Created_service_case_in_Child_Removal_Ins_0</name>
        <label>Assign Created service case in Child Removal Ins</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ChildRemovalIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingServicecaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Child_Removal_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Placement_Record_0</name>
        <label>Assign Placement Record</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Placement_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlacementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Child_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRemovalIns.Child__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Updated_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.PlacementReimbursable__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingServicecaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TitleIVE_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Junction_Object_Record</name>
        <label>Assigned Junction Object Record</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Insert_JN_Object_Ins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Relationship</name>
        <label>Assigned Service Case in Relationship</label>
        <locationX>138</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Relationship_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Relationship_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_SDM</name>
        <label>Assigned Service Case in SDM</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>UpdatingSDMRecordIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_SDM_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingSDMRecordIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SDM_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Relationship_add_to_List</name>
        <label>Update Relationship add to List</label>
        <locationX>138</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingRelationshipIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SDM_add_to_List</name>
        <label>Update SDM add to List</label>
        <locationX>138</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>UpdatingSDMList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingSDMRecordIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SDM_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_ChildRemoval_has_Servicecase</name>
        <label>Check for ChildRemoval has Servicecase</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_Created_service_case_in_Child_Removal_Ins_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_ServiceCase_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingServicecaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Case_Record</targetReference>
            </connector>
            <label>ServiceCase Not  Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ServiceCaseNameFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Service Case - &apos;&amp;{!ChildRemovalIns.Investigation__r.Intake__r.CaseNumber}</expression>
    </formulas>
    <interviewLabel>Service Create Flow From Child Removal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Create Flow From Child Removal</label>
    <loops>
        <name>Iterate_Persons_Records</name>
        <label>Iterate Persons Records</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Junction_Object_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Jn_Object_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Relationship_Records</name>
        <label>Iterate Relationship Records</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Relationship</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Relationship_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_SDM_Records</name>
        <label>Iterate SDM Records</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <collectionReference>Get_SDM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_SDM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SDM_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Placement_Record_0</name>
        <label>Create Placement Record</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>PlacementId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Placement_Record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Removal__c</field>
            <value>
                <elementReference>ChildRemovalIns.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child__c</field>
            <value>
                <elementReference>ChildRemovalIns.Child__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ExistingServicecaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Record__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Placement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Case_Record</name>
        <label>Create Service Case Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>ServiceCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>ChildRemovalIns.Investigation__r.Intake__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Case__c</object>
    </recordCreates>
    <recordCreates>
        <name>Jn_Object_Insert</name>
        <label>Jn Object Insert</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Relationship_Records</targetReference>
        </connector>
        <inputReference>Insert_JN_Object_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ChildRemoval_Under_Investigation</name>
        <label>Get ChildRemoval Under Investigation</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_ChildRemoval_has_Servicecase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Child_Removal__c</object>
        <outputAssignments>
            <assignToReference>ExistingServicecaseId</assignToReference>
            <field>Service_Case__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relationship_Records</name>
        <label>Get Relationship Records</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM_Records</name>
        <label>Get SDM Records</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_SDM_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assessment_Records</name>
        <label>Update Assessment Records</label>
        <locationX>50</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Update_Court_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Removal</name>
        <label>Update Child Removal</label>
        <locationX>50</locationX>
        <locationY>3566</locationY>
        <connector>
            <targetReference>Create_Placement_Logic</targetReference>
        </connector>
        <inputReference>ChildRemovalIns</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Removal_0</name>
        <label>Update Child Removal</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Placement_Record_0</targetReference>
        </connector>
        <inputReference>ChildRemovalIns</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collaterals_Records</name>
        <label>Update Collaterals Records</label>
        <locationX>50</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>Assign_Created_service_case_in_Child_Removal_Ins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Collateral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Court_Records</name>
        <label>Update Court Records</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Update_Legal_Custody_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Court__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Legal_Custody_Records</name>
        <label>Update Legal Custody Records</label>
        <locationX>50</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Update_Notes_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Custody__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meeting_Records</name>
        <label>Update Meeting Records</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <connector>
            <targetReference>Update_Resource_Consult_Review_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notes_Records</name>
        <label>Update Notes Records</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Update_Meeting_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Notes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Relationship_Records</name>
        <label>Update Relationship Records</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Get_SDM_Records</targetReference>
        </connector>
        <inputReference>UpdatingRelationshipList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resource_Consult_Review_Records</name>
        <label>Update Resource Consult Review Records</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Update_Visitation_Log_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Resource_Consult_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDM_Records</name>
        <label>Update SDM Records</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Update_Assessment_Records</targetReference>
        </connector>
        <inputReference>UpdatingSDMList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visitation_Log_Records</name>
        <label>Update Visitation Log Records</label>
        <locationX>50</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>Update_Collaterals_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRemovalIns.Investigation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Visitation_Log__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ChildRemoval_Under_Investigation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Placement_Logic</name>
        <label>Create Placement Logic</label>
        <locationX>50</locationX>
        <locationY>3686</locationY>
        <flowName>Create_Placement_Record</flowName>
        <inputAssignments>
            <name>ChildRemovalIns</name>
            <value>
                <elementReference>ChildRemovalIns</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_TitleIVE_Record_0</name>
        <label>Create TitleIVE Record</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <flowName>Title_Iv_E_Creation_Flow</flowName>
        <inputAssignments>
            <name>placementRecordIns</name>
            <value>
                <elementReference>Placement_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ChildRemovalIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
    <variables>
        <name>ExistingServicecaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Insert_JN_Object_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Insert_JN_Object_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Person_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Placement_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>PlacementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Program_Assignment_Lst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>Program_Assignment_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ServiceCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatingContactIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMRecordIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
</Flow>
