force-app/main/default/flows/Service_Case_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Service_Case_Head_of_House_Hold</name>
        <label>Assign Service Case Head of House Hold</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>UpdatingServiceCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingServiceCase.Head_of_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IntakeIns.contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Collateral</name>
        <label>Assigned Service Case in Collateral</label>
        <locationX>264</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>UpdatingCollateralsIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Collaterals_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingCollateralsIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Collateral_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Contact</name>
        <label>Assigned Service Case in Contact</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Person_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Person_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Head_of_House_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Head_of_House_Hold__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Danger_to_worker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Danger_to_worker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Danger_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Danger_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Current_or_Previous_Mental_Health_issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Current_or_Previous_Mental_Health_issue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Reported_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Reported_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Danger_to_self__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Danger_to_self__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Worker_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Worker_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Judiciary_Case_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Judiciary_Case_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.National_Sex_Offender_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.National_Sex_Offender_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Sex_Offender_registry_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Sex_Offender_registry_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_Ins.Judiciary_case_search__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Records.Judiciary_case_search__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Notes</name>
        <label>Assigned Service Case in Notes</label>
        <locationX>264</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>UpdatingNotesIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Notes_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingNotesIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Notes_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Relationship</name>
        <label>Assigned Service Case in Relationship</label>
        <locationX>264</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Relationship_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Relationship_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_SDM</name>
        <label>Assigned Service Case in SDM</label>
        <locationX>264</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>UpdatingSDMRecordIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_SDM_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingSDMRecordIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SDM_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Service_Case_in_Visitation_Log</name>
        <label>Assigned Service Case in Visitation Log</label>
        <locationX>264</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>UpdatingVisitationLogIns.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_visitation_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatingVisitationLogIns.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visitation_Log_add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collateral_add_to_List</name>
        <label>Update Collateral add to List</label>
        <locationX>264</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>UpdateCollateralsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingCollateralsIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Collaterals_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_add_to_List</name>
        <label>Update Contact add to List</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Insert_JN_Object_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Insert_JN_Object_Ins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Notes_add_to_List</name>
        <label>Update Notes add to List</label>
        <locationX>264</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>UpdateNotesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingNotesIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Notes_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Relationship_add_to_List</name>
        <label>Update Relationship add to List</label>
        <locationX>264</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>UpdatingRelationshipList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingRelationshipIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SDM_add_to_List</name>
        <label>Update SDM add to List</label>
        <locationX>264</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>UpdatingSDMList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingSDMRecordIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SDM_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Visitation_Log_add_to_List</name>
        <label>Update Visitation Log add to List</label>
        <locationX>264</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>UpdateVisitationLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatingVisitationLogIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_visitation_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ServiceCaseNameFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Service Case - &apos;&amp;{!IntakeIns.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Service Case Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Case Create Flow</label>
    <loops>
        <name>Iterate_Collaterals_Records</name>
        <label>Iterate Collaterals Records</label>
        <locationX>176</locationX>
        <locationY>2726</locationY>
        <collectionReference>Get_Collaterals_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Collateral</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collateral_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Notes_Records</name>
        <label>Iterate Notes Records</label>
        <locationX>176</locationX>
        <locationY>4118</locationY>
        <collectionReference>Get_Notes_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Notes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Notes_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Persons_Records</name>
        <label>Iterate Persons Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Junction_Object_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Jn_Object_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Relationship_Records</name>
        <label>Iterate Relationship Records</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <collectionReference>Get_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Relationship</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Relationship_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_SDM_Records</name>
        <label>Iterate SDM Records</label>
        <locationX>176</locationX>
        <locationY>2030</locationY>
        <collectionReference>Get_SDM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_SDM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SDM_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_visitation_Records</name>
        <label>Iterate visitation Records</label>
        <locationX>176</locationX>
        <locationY>3422</locationY>
        <collectionReference>Get_visitation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Service_Case_in_Visitation_Log</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Visitation_Log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Case_Record</name>
        <label>Create Service Case Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>ServiceCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Junction_Object_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Head_of_Household__c</field>
            <value>
                <elementReference>IntakeIns.contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Case__c</object>
    </recordCreates>
    <recordCreates>
        <name>Jn_Object_Insert</name>
        <label>Jn Object Insert</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Assign_Service_Case_Head_of_House_Hold</targetReference>
        </connector>
        <inputReference>Insert_JN_Object_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Collaterals_Records</name>
        <label>Get Collaterals Records</label>
        <locationX>176</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Collaterals_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Collateral__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Record</name>
        <label>Get Junction Object Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Persons_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notes_Records</name>
        <label>Get Notes Records</label>
        <locationX>176</locationX>
        <locationY>3998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Notes_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notes__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relationship_Records</name>
        <label>Get Relationship Records</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Relationship_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Victim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDM_Records</name>
        <label>Get SDM Records</label>
        <locationX>176</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_SDM_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_visitation_Records</name>
        <label>Get visitation Records</label>
        <locationX>176</locationX>
        <locationY>3302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_visitation_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeIns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visitation_Log__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collateral_Records</name>
        <label>Update Collateral Records</label>
        <locationX>176</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Get_visitation_Records</targetReference>
        </connector>
        <inputReference>UpdateCollateralsList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notes_Records</name>
        <label>Update Notes Records</label>
        <locationX>176</locationX>
        <locationY>4574</locationY>
        <inputReference>UpdateNotesList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Relationship_Records</name>
        <label>Update Relationship Records</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Get_SDM_Records</targetReference>
        </connector>
        <inputReference>UpdatingRelationshipList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDM_Records</name>
        <label>Update SDM Records</label>
        <locationX>176</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Get_Collaterals_Records</targetReference>
        </connector>
        <inputReference>UpdatingSDMList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Service Case Because the Headof house hold value is changed after the person record updated</description>
        <name>Update_Service_Case</name>
        <label>Update Service Case</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Get_Relationship_Records</targetReference>
        </connector>
        <inputReference>UpdatingServiceCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visitation_Log</name>
        <label>Update Visitation Log</label>
        <locationX>176</locationX>
        <locationY>3878</locationY>
        <connector>
            <targetReference>Get_Notes_Records</targetReference>
        </connector>
        <inputReference>UpdateVisitationLogList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Service_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ServiceCaseName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Service Case - {!IntakeIns.CaseNumber}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Insert_JN_Object_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Insert_JN_Object_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>IntakeIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ProgramAssignmentLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ProgramAssignmentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ServiceCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdateCollateralsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collateral__c</objectType>
    </variables>
    <variables>
        <name>UpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdateNotesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes__c</objectType>
    </variables>
    <variables>
        <name>UpdateVisitationLogList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitation_Log__c</objectType>
    </variables>
    <variables>
        <name>UpdatingCollateralsIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collateral__c</objectType>
    </variables>
    <variables>
        <name>UpdatingContactIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatingNotesIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingRelationshipList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>UpdatingSDMRecordIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
    <variables>
        <name>UpdatingServiceCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
    <variables>
        <name>UpdatingVisitationLogIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitation_Log__c</objectType>
    </variables>
</Flow>
