force-app/main/default/flows/Service_Case_Decision_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Service_Case_Approval_Process</name>
        <label>Service Case Approval Process</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Approval_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ServiceCaseRecordIdCmp</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>710</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>LegalCustodyRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Legal_Custody_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildRemovalRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Child_Removal_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlacementRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Placement_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramAssignmentRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Program_Assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SafecandOHPRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_SAFE_C_and_SAFE_COHP_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MFRAorMFIRARecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_MFRA_s_or_MFIRA_s_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>serviceCaseCloureChecklist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_all_check_box_marked</name>
        <label>Check all check box marked</label>
        <locationX>710</locationX>
        <locationY>1718</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Checked_all_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckforOpenSAFECandSAFECOHP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckforOpenMFRAorMFIRA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PersonConfirmedCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckforOpenChildRemoval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckforOpenProgramAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Service_Case</targetReference>
            </connector>
            <label>Checked all value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Legal_Custody_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_Status_is_Submitted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Case_Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Status_Screen</targetReference>
            </connector>
            <label>Check Status is Submitted</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Service_Case__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>checkEndateNotEmpty</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!EndDate}), False, True)</expression>
    </formulas>
    <formulas>
        <name>CheckforOpenChildRemoval</name>
        <dataType>Boolean</dataType>
        <expression>IF({!ChildRemovalRecordCount} == 0,true,false)</expression>
    </formulas>
    <formulas>
        <name>CheckforOpenLegalCustody</name>
        <dataType>Boolean</dataType>
        <expression>IF({!LegalCustodyRecordCount}==0,true,false)</expression>
    </formulas>
    <formulas>
        <name>CheckforOpenMFRAorMFIRA</name>
        <dataType>Boolean</dataType>
        <expression>IF({!MFRAorMFIRARecordCount}==0,true,false)</expression>
    </formulas>
    <formulas>
        <name>CheckforOpenProgramAssignment</name>
        <dataType>Boolean</dataType>
        <expression>IF({!ProgramAssignmentRecordCount}==0,true,false)</expression>
    </formulas>
    <formulas>
        <name>CheckforOpenSAFECandSAFECOHP</name>
        <dataType>Boolean</dataType>
        <expression>IF({!SafecandOHPRecordCount}==0,true,false)</expression>
    </formulas>
    <interviewLabel>Service Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Case Decision Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Removal_Record</name>
        <label>Get Child Removal Record</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Placement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCaseRecordIdCmp</elementReference>
            </value>
        </filters>
        <filters>
            <field>Removal_End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exit_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child_Removal__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Custody_Record</name>
        <label>Get Legal Custody Record</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Removal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCaseRecordIdCmp</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Legal_Custody__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MFRA_s_or_MFIRA_s_Record</name>
        <label>Get MFRA&apos;s or MFIRA&apos;s Record</label>
        <locationX>710</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 4 AND 3</filterLogic>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Family risk Reassessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Family Initial Risk Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCaseRecordIdCmp</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Placement_Record</name>
        <label>Get Placement Record</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_Assignment</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCaseRecordIdCmp</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exit_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exit_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Placement__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Assignment</name>
        <label>Get Program Assignment</label>
        <locationX>710</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SAFE_C_and_SAFE_COHP_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCaseRecordIdCmp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAFE_C_and_SAFE_COHP_Record</name>
        <label>Get SAFE-C and SAFE-C-OHP Record</label>
        <locationX>710</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MFRA_s_or_MFIRA_s_Record</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAFE-C</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assessment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAFE-C-OHP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCaseRecordIdCmp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Case_Record</name>
        <label>Get Service Case Record</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCaseRecordIdCmp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Case__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approval_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Service_Case</name>
        <label>update Service Case</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Record_Update_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Record_Update_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCaseRecordIdCmp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments_Close_case__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <elementReference>Decison</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_Approver__c</field>
            <value>
                <elementReference>decisionsupervisorId</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Case__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Error_Screen</name>
        <label>Approval Error Screen</label>
        <locationX>578</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Something went wrong : &lt;/b&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approval_Status_Screen</name>
        <label>Approval Status Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SubmittedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;This Service Case was currently in the approval process to disclosure. A record can be in only one approval process at a time.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Success_Screen</name>
        <label>Approval Success Screen</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The disclosure sent to the supervisor for approval.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Update_Error_Screen</name>
        <label>Record Update Error Screen</label>
        <locationX>842</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Update_ErrogMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went Wrong:     &lt;/b&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Update_Success_Screen</name>
        <label>Record Update Success Screen</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Service_Case_Approval_Process</targetReference>
        </connector>
        <fields>
            <name>Update_SuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Service Case Update  Record Successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>serviceCaseCloureChecklist</name>
        <label>serviceCaseCloureChecklist</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_all_check_box_marked</targetReference>
        </connector>
        <fields>
            <name>HeaderMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;A Check mark indicates that the activity has been completed. All unchecked items must be completed for removal start date to be saved.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseClosureChecklist</name>
            <extensionName>c:ServiceCaseClosureCheckListCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LegalCustodyEndDateCheck</name>
                <value>
                    <elementReference>CheckforOpenLegalCustody</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PersonConfirmedCheck</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removalandplacementCheck</name>
                <value>
                    <elementReference>CheckforOpenChildRemoval</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programAssignmentCheck</name>
                <value>
                    <elementReference>CheckforOpenProgramAssignment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>MFRACheck</name>
                <value>
                    <elementReference>CheckforOpenMFRAorMFIRA</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SAFECheck</name>
                <value>
                    <elementReference>CheckforOpenSAFECandSAFECOHP</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SAFECheck</assignToReference>
                <name>SAFECheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LegalCustodyEndDateCheck</assignToReference>
                <name>LegalCustodyEndDateCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MFRACheck</assignToReference>
                <name>MFRACheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PersonConfirmedCheck</assignToReference>
                <name>PersonConfirmedCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>programAssignmentCheck</assignToReference>
                <name>programAssignmentCheck</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>removalandplacementCheck</assignToReference>
                <name>removalandplacementCheck</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Status_Decison</name>
        <label>Status/Decison</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Service_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Status_value</name>
            <choiceReferences>StatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Decison</name>
            <dataType>String</dataType>
            <fieldText>Decision</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>supervisor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>DecisionSupervisorApproverField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Supervisor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>ServiceCaseObjectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.ManagerId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>decisionsupervisorId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Object_Namespace</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_field_Namespace</name>
        <label>Check field Namespace</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Status_Decison</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Supervisor_Approver__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>DecisionSupervisorApproverField</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Object_Namespace</name>
        <label>Check Object Namespace</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Check_field_Namespace</targetReference>
        </connector>
        <flowName>Check_Namespace_Variable_Flow</flowName>
        <inputAssignments>
            <name>CheckHasNamespaceStr</name>
            <value>
                <stringValue>Service_Case__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ServiceCaseObjectName</assignToReference>
            <name>CheckHasNamespaceStr</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ChildRemovalRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DecisionSupervisorApproverField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>decisionsupervisorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalCustodyEndDateCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalCustodyRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MFRACheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MFRAorMFIRARecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PersonConfirmedCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlacementRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>programAssignmentCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramAssignmentEnddate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramAssignmentRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProgramAssignmentStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
    <variables>
        <name>removalandplacementCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemovalEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SafecandOHPRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SAFECheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceCaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legal_Custody__c</objectType>
    </variables>
    <variables>
        <name>ServiceCaseObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceCaseRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
    <variables>
        <name>ServiceCaseRecordIdCmp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supervisorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
