force-app/main/default/flows/Service_Case_Investigation_Create_Process_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Status is Approved and RFS</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Status is Approved and RFS</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request for services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Recommendations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screen In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Status is Approved and RFS</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Status is Approved and CPS</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>FALSE_Status is Approved and CPS</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child Protective Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Recommendations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screen In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_Status is Approved and CPS</label>
        </rules>
    </decisions>
    <description>Migrated from the Service Case &amp; Investigation Create Process process using multiple criteria.</description>
    <environments>Default</environments>
    <label>Service Case &amp; Investigation Create Process_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>myRule_1_A1</name>
        <label>Create Service Case Using Flow</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>Service_Case_Create_Flow</flowName>
        <inputAssignments>
            <name>IntakeIns</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_3_A1</name>
        <label>Create Investigation Flow</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <flowName>Investigation_Create_Flow</flowName>
        <inputAssignments>
            <name>IntakeIns</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
