force-app/main/default/flows/String_To_Collection_Converter_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>SelectedChoicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedChoices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingChoices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selectedchoices</name>
        <label>Assign selectedchoices</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>SelectedChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Empty</name>
        <label>Check for Empty</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedChoices</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_to_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstChoice</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!SelectedChoices},FIND(&apos;;&apos;,{!SelectedChoices}) -1))</expression>
    </formulas>
    <formulas>
        <name>RemainingChoices</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SelectedChoices},{!FirstChoice}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>String To Collection Converter Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>String To Collection Converter Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_selectedchoices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SelectedChoices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedChoicesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
