force-app/main/default/flows/TitleIVE_Creation_From_ChildRemoval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_for_new_Record</name>
        <label>Check for new Record</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Placement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Placement</defaultConnectorLabel>
        <rules>
            <name>Is_New_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TitleIVE_Record</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Placement_record</name>
        <label>Check for Placement record</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Placement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_you_want_to_proceed_with_placement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Placement</targetReference>
            </connector>
            <label>Is not Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Is_new</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>TitleIVE Creation From ChildRemoval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TitleIVE Creation From ChildRemoval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Placement</name>
        <label>Create Placement</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignRecordIdToReference>placementId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_TitleIVe_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Removal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child__c</field>
            <value>
                <elementReference>$Record.Child__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <object>Placement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Placement_Record</name>
        <label>Get Placement Record</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Placement_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Removal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TitleIVe_Record</name>
        <label>Get TitleIVe Record</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_TitleIve_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Removal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title_Iv_E__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Title_Iv_E__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TitleIve_Record</name>
        <label>Update TitleIve Record</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TitleIVe_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>placementId</elementReference>
            </value>
        </inputAssignments>
        <object>Title_Iv_E__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_new_Record</targetReference>
        </connector>
        <object>Child_Removal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_TitleIVE_Record</name>
        <label>Create TitleIVE Record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Program_Assignment</targetReference>
        </connector>
        <flowName>Title_Iv_E_Creation_Flow</flowName>
        <inputAssignments>
            <name>childRemovalRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Program_Assignment</name>
        <label>Program Assignment</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <flowName>Program_Assignment_OOH_Child_Removal</flowName>
        <inputAssignments>
            <name>ChildRemovalIns</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>placementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
