force-app/main/default/flows/Title_Iv_E_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Adding_RemovalDate_to_PeriodEndDate</name>
        <label>Adding RemovalDate to PeriodEndDate</label>
        <locationX>1040</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Review_Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemovalDatePlusOneYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Title_Iv_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TitleIvEId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Condition_for_Creating_Redetermination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_id_into_income_summary</name>
        <label>Assign Child id into income summary</label>
        <locationX>1634</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>creatingIncSummary.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Person_Records.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creatingIncSummary.Title_Iv_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_TitleIVe_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_income_summary_into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Redetermination_Record</name>
        <label>Assign First Redetermination Record</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childRemovalRecord.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Title_Iv_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TitleIvEId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Redetermination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Review_Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Removal_Date_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Review_Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkforLeapyearinRemovalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Child_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childRemovalRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TitleIvE_Child_Record_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_income_summary_into_List</name>
        <label>Assign income summary into List</label>
        <locationX>1634</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>CreatingIncSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creatingIncSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Person_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_income_summary_object_to_List</name>
        <label>Assign income summary object to List</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>CreatingIncSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creatingIncSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Person_for_Redeteremination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TitleIVE_Id_to_Income_Summary_Object</name>
        <label>Assign TitleIVE Id to Income Summary Object</label>
        <locationX>270</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>creatingIncSummary.Title_Iv_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TitleIvEId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creatingIncSummary.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Person_for_Redeteremination.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_income_summary_object_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TitleIvE_Child_Record_List</name>
        <label>TitleIvE Child Record List</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>TitleIVEChildRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTitleIVERecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Condition_for_Creating_Redetermination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TitleIve_Record</name>
        <label>TitleIve Record</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childRemovalRecord.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Child_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childRemovalRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Review_Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewPeriodEndDatePlusOneDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Review_Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewPeriodEndDatePlusOneYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Redetermination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTitleIVERecord.Title_Iv_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TitleIvEId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TitleIvE_Child_Record_List</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Ordering_the_ChildRecord_List</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordering the ChildRecord List</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>TitleIVEChildRecordList</collectionReference>
        <connector>
            <targetReference>Create_TitleIveChild_Record</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Review_Period_End_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Review_Period_Start_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_for_First_Redetermination</name>
        <label>Check for First Redetermination</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>TitleIve_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_redetermination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemovalDatePlusOneYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentTitleIVERecord.Review_Period_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentTitleIVERecord.Period__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Redetermination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Redetermination_Record</targetReference>
            </connector>
            <label>First redetermination</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Record</name>
        <label>Check for Record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Redetermination_Record_For_Placement_Change_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Redetermination_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TitleIVE_Record</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_Create_Redetermination</name>
        <label>Check to Create Redetermination</label>
        <locationX>908</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Redetermination_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>placementRecordIns</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Redetermination_Record</targetReference>
            </connector>
            <label>Create Redetermination Record</label>
        </rules>
        <rules>
            <name>Create_TitleIve_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>placementRecordIns</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>childRemovalRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Title_Iv_E_Record</targetReference>
            </connector>
            <label>Create TitleIve Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_for_Creating_Redetermination</name>
        <label>Condition for Creating Redetermination</label>
        <locationX>1040</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Ordering_the_ChildRecord_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Create_Redetermination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentTitleIVERecord.Review_Period_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReviewPeriodEndDatePlusOneYear</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_First_Redetermination</targetReference>
            </connector>
            <label>Create Redetermination</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Checkforleapyear</name>
        <dataType>Date</dataType>
        <expression>{!CurrentTitleIVERecord.Review_Period_End_Date__c} + 366</expression>
    </formulas>
    <formulas>
        <name>checkforLeapyearinRemovalDate</name>
        <dataType>Date</dataType>
        <expression>IF (OR (MOD (YEAR({!RemovalDatePlusOneYear}),400)==0, AND (MOD (YEAR({!RemovalDatePlusOneYear}),4)==0, MOD(YEAR({!RemovalDatePlusOneYear}),100)&lt;&gt;0)), {!RemovalDatePlusOneYear}+1 , {!RemovalDatePlusOneYear})</expression>
    </formulas>
    <formulas>
        <name>PlacementChangeRedeterminationStartDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Redetermination_Record.Review_Period_End_Date__c}+1</expression>
    </formulas>
    <formulas>
        <name>redeterminationStartDate</name>
        <dataType>Date</dataType>
        <expression>IF((({!Get_Redetermination_Record.Review_Period_End_Date__c}+1)  &gt;= TODAY()),TODAY(),{!Get_Redetermination_Record.Review_Period_End_Date__c}+1)</expression>
    </formulas>
    <formulas>
        <name>Removal_Date_Formula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!childRemovalRecord.Removal_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>Removal_Date_from_TitleIVEs_Child_Removal</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_TitleIVE_Record.Child_Removal__r.Removal_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>RemovalDatePlusOneYear</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!childRemovalRecord.Removal_Date_Time__c}) + 364</expression>
    </formulas>
    <formulas>
        <name>ReviewPeriodEndDatePlusOneDay</name>
        <dataType>Date</dataType>
        <expression>{!CurrentTitleIVERecord.Review_Period_End_Date__c}+1</expression>
    </formulas>
    <formulas>
        <name>ReviewPeriodEndDatePlusOneYear</name>
        <dataType>Date</dataType>
        <expression>IF (OR (MOD (YEAR({!Checkforleapyear}),400)==0, AND (MOD (YEAR({!Checkforleapyear}),4)==0, MOD(YEAR({!Checkforleapyear}),100)&lt;&gt;0)), {!CurrentTitleIVERecord.Review_Period_End_Date__c} + 366, {!CurrentTitleIVERecord.Review_Period_End_Date__c} + 365)</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Title Iv-E Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Title Iv-E Creation Flow</label>
    <loops>
        <name>Iterate_Person_for_Redeteremination</name>
        <label>Iterate Person for Redeteremination</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Junction_Object_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_TitleIVE_Id_to_Income_Summary_Object</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Income_Summary_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Person_Records</name>
        <label>Iterate Person Records</label>
        <locationX>1546</locationX>
        <locationY>1238</locationY>
        <collectionReference>Get_Junction_Object_Record_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Child_id_into_income_summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_TitleIVe_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_TitleIVe_Id</name>
        <label>Iterate TitleIVe Id</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <collectionReference>Get_TitleIve_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterate_Person_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Income_Summary_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Income_Summary_Record</name>
        <label>Create Income Summary Record</label>
        <locationX>908</locationX>
        <locationY>1982</locationY>
        <inputReference>CreatingIncSummaryList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Redetermination_Record_For_Placement_Change</name>
        <label>Create Redetermination Record For Placement Change</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>TitleIvEId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Junction_Object_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Removal__c</field>
            <value>
                <elementReference>placementRecordIns.Child_Removal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Placement_Reimbursible__c</field>
            <value>
                <elementReference>placementRecordIns.PlacementReimbursable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Period__c</field>
            <value>
                <stringValue>Redetermination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>placementRecordIns.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Period_End_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Period_Start_Date__c</field>
            <value>
                <elementReference>Removal_Date_from_TitleIVEs_Child_Removal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>Get_TitleIVE_Record.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Iv_E__c</field>
            <value>
                <elementReference>placementRecordIns.TitleIveRecId_Temporary__c</elementReference>
            </value>
        </inputAssignments>
        <object>Title_Iv_E__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Redetermination_Record_For_Placement_Change_0</name>
        <label>Create Redetermination Record For Placement Change</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>TitleIvEId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Junction_Object_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Removal__c</field>
            <value>
                <elementReference>placementRecordIns.Child_Removal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Placement_Reimbursible__c</field>
            <value>
                <elementReference>placementRecordIns.PlacementReimbursable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Period__c</field>
            <value>
                <stringValue>Redetermination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>placementRecordIns.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Period_End_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Period_Start_Date__c</field>
            <value>
                <elementReference>redeterminationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>Get_Redetermination_Record.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Iv_E__c</field>
            <value>
                <elementReference>Get_Redetermination_Record.Title_Iv_E__c</elementReference>
            </value>
        </inputAssignments>
        <object>Title_Iv_E__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Title_Iv_E_Record</name>
        <label>Create Title Iv -E Record</label>
        <locationX>1040</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>TitleIvEId</assignRecordIdToReference>
        <connector>
            <targetReference>Adding_RemovalDate_to_PeriodEndDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Removal__c</field>
            <value>
                <elementReference>childRemovalRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Time_Redetermination__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Period_Start_Date__c</field>
            <value>
                <elementReference>Removal_Date_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>childRemovalRecord.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <object>Title_Iv_E__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_TitleIveChild_Record</name>
        <label>Create TitleIveChild Record</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Junction_Object_Record_1</targetReference>
        </connector>
        <inputReference>TitleIVEChildRecordList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Junction_Object_Record</name>
        <label>Get Junction Object Record</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Person_for_Redeteremination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementRecordIns.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Record_1</name>
        <label>Get Junction Object Record</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TitleIve_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>childRemovalRecord.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Redetermination_Record</name>
        <label>Get Redetermination Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title_Iv_E__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementRecordIns.TitleIveRecId_Temporary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Title_Iv_E__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Review_Period_Start_Date__c</queriedFields>
        <queriedFields>Service_Case__c</queriedFields>
        <queriedFields>Child_Removal__c</queriedFields>
        <queriedFields>Title_Iv_E__c</queriedFields>
        <queriedFields>Review_Period_End_Date__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TitleIve_Id</name>
        <label>Get TitleIve Id</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_TitleIVe_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Removal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>childRemovalRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Title_Iv_E__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TitleIVE_Record</name>
        <label>Get TitleIVE Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Redetermination_Record_For_Placement_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementRecordIns.TitleIveRecId_Temporary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Title_Iv_E__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_to_Create_Redetermination</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>childRemovalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
    <variables>
        <name>ChildTitleIVEId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title_Iv_E__c</objectType>
    </variables>
    <variables>
        <name>creatingIncSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Income_Summary__c</objectType>
    </variables>
    <variables>
        <name>CreatingIncSummaryList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Income_Summary__c</objectType>
    </variables>
    <variables>
        <name>CurrentTitleIVERecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title_Iv_E__c</objectType>
    </variables>
    <variables>
        <name>placementRecordIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>TitleIveChildRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TitleIVEChildRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title_Iv_E__c</objectType>
    </variables>
    <variables>
        <name>TitleIvEId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
