force-app/main/default/flows/Update_HomeApproval_From_Assessment_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_HomeApprovalList</name>
        <label>Assign HomeApprovalList</label>
        <locationX>636</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>HomeApprovalRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>homeApprovalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Home_Approval_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HomeApprovalRecord</name>
        <label>Assign HomeApprovalRecord</label>
        <locationX>716</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>homeApprovalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Home_Approval_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>homeApprovalRecord.Signed_and_dated_application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_HomeApprovalList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_list_for_type_changes</name>
        <label>Assign list for type changes</label>
        <locationX>487</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>HomeApprovalRecordListfortypechanges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>homeApprovalRecordfortypechnages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_type_changes_home_approval_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_for_Type_Changes</name>
        <label>Assign Record for Type Changes</label>
        <locationX>574</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>homeApprovalRecordfortypechnages.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_type_changes_home_approval_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>homeApprovalRecordfortypechnages.Signed_and_dated_application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_list_for_type_changes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Activity_Type</name>
        <label>Check Activity Type</label>
        <locationX>168</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_equals_Application_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Approval_Records</targetReference>
            </connector>
            <label>Type equals Application Signed</label>
        </rules>
        <rules>
            <name>Type_changes_from_Application_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Activity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Activity_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>homeApprovalRecords_for_type_changes</targetReference>
            </connector>
            <label>Type changes from Application Signed</label>
        </rules>
    </decisions>
    <interviewLabel>Updat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update HomeApproval From Assessment Visit</label>
    <loops>
        <name>Loop_through_Home_Approval_Records</name>
        <label>Loop through Home Approval Records</label>
        <locationX>569</locationX>
        <locationY>341</locationY>
        <collectionReference>Home_Approval_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_HomeApprovalRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_HomeApprovalList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_type_changes_home_approval_records</name>
        <label>Loop through type changes home approval records</label>
        <locationX>336</locationX>
        <locationY>599</locationY>
        <collectionReference>homeApprovalRecords_for_type_changes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_for_Type_Changes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Home_Approval_record_for_type_changes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Home_Approval_Records</name>
        <label>Home Approval Records</label>
        <locationX>418</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Home_Approval_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Home_Approval__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Home_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>homeApprovalRecords_for_type_changes</name>
        <label>homeApprovalRecords for type changes</label>
        <locationX>174</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_type_changes_home_approval_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Home_Approval__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Home_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Home_Approval_record_for_type_changes</name>
        <label>Update Home Approval record for type changes</label>
        <locationX>328</locationX>
        <locationY>829</locationY>
        <inputReference>HomeApprovalRecordListfortypechanges</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HomeApprovalList</name>
        <label>Update HomeApprovalList</label>
        <locationX>693</locationX>
        <locationY>209</locationY>
        <inputReference>HomeApprovalRecordList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Activity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Home_Approval__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Activity_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Assessment_Visit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>homeApprovalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Home_Approval__c</objectType>
    </variables>
    <variables>
        <name>homeApprovalRecordfortypechnages</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Home_Approval__c</objectType>
    </variables>
    <variables>
        <name>HomeApprovalRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Home_Approval__c</objectType>
    </variables>
    <variables>
        <name>HomeApprovalRecordListfortypechanges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Home_Approval__c</objectType>
    </variables>
</Flow>
