force-app/main/default/flows/Update_New_Record_Address_in_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assigning_Created_record_address_to_contact</name>
        <label>Assigning Created record address to contact</label>
        <locationX>899</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>Address.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_Line_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.Address_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.Address_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.Address_ZipCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ZipCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.County_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Record_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Current_Address</name>
        <label>Check for Current Address</label>
        <locationX>895</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Current_Address_equals_true</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_new_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_current_address_for_old_records</targetReference>
            </connector>
            <label>Check Current Address equals true</label>
        </rules>
        <rules>
            <name>Check_Current_Address_changed_to_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_address_in_contact</targetReference>
            </connector>
            <label>Check Current Address changed to unchecked</label>
        </rules>
        <rules>
            <name>Check_Address_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address_Line_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Address_Line_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.County__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ZipCode__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Created_record_address_to_contact</targetReference>
            </connector>
            <label>Check Address changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>Check_for_new_record</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update New Record Address in Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Address Field in Contact Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Uncheck_current_address_for_old_records</name>
        <label>Uncheck current address for old records</label>
        <locationX>407</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Assigning_Created_record_address_to_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Address__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Address__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_address_in_contact</name>
        <label>Update address in contact</label>
        <locationX>1099</locationX>
        <locationY>393</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_City__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Address_State__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Address_ZipCode__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>County_Address__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Record_Address</name>
        <label>Update Old Record Address</label>
        <locationX>899</locationX>
        <locationY>640</locationY>
        <inputReference>Address</inputReference>
    </recordUpdates>
    <start>
        <locationX>211</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Check_for_Current_Address</targetReference>
        </connector>
        <object>Contact_Address__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
