force-app/main/default/flows/Upload_files_in_Person.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Content_Document_ID</name>
        <label>Assign Content Document ID</label>
        <locationX>798</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Content_Document_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_content_documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_content_documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_Version_ID</name>
        <label>Assign Content Version ID</label>
        <locationX>798</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Content_Version_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Content_Versions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Content_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_count</name>
        <label>Assign count</label>
        <locationX>1172</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Content_Document_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Content_Document_IDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Content_Document_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Title_in_Content_Version</name>
        <label>Assign Title in Content Version</label>
        <locationX>710</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>Get_Content_Version_Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Version_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Content_Version_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fileType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Content_Version</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Birth_Certificate</name>
        <choiceText>Birth Certificate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Birth Certificate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Photo</name>
        <choiceText>Client Photo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Photo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Death_Certificate</name>
        <choiceText>Death Certificate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Death Certificate</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Content_Document_ID</name>
        <label>Check Content Document ID</label>
        <locationX>1172</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Upload_new_photo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_file_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Content_Document_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_content_documents</targetReference>
            </connector>
            <label>If file uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Document_Type</name>
        <label>Check Document Type</label>
        <locationX>710</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>If_Client_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Photo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File_Extension_Type_from_Content_Document</targetReference>
            </connector>
            <label>If Client Photo</label>
        </rules>
        <rules>
            <name>If_Birth_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Birth Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Birth_Certificate_Document_ID</targetReference>
            </connector>
            <label>If Birth Certificate</label>
        </rules>
        <rules>
            <name>If_Death_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Death Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Death_Certificate_Document_ID</targetReference>
            </connector>
            <label>If Death Certificate</label>
        </rules>
        <rules>
            <name>If_SSN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SSN_Document_ID</targetReference>
            </connector>
            <label>If SSN</label>
        </rules>
        <rules>
            <name>If_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_License_Document_ID</targetReference>
            </connector>
            <label>If License</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Content_Version_Title</name>
        <dataType>String</dataType>
        <expression>{!fileType}+&apos; - &apos;+{!Get_Content_Version_Record.Title}</expression>
    </formulas>
    <formulas>
        <name>File_Format</name>
        <dataType>String</dataType>
        <expression>INITCAP({!Get_File_Extension_Type_from_Content_Document.FileExtension})</expression>
    </formulas>
    <formulas>
        <name>Person_Image_URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))+
&apos;sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_&apos;+{!File_Format}+&apos;&amp;versionId=&apos;+{!Content_Version_ID}+&apos;&amp;operationContext=CHATTER&amp;contentId=&apos;+{!Content_Document_ID}</expression>
    </formulas>
    <interviewLabel>Upload files in Person {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Files &amp; Documents</label>
    <loops>
        <name>Iterate_through_content_documents</name>
        <label>Iterate through content documents</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <collectionReference>Content_Document_IDS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Document_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_through_Content_Versions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Content_Versions</name>
        <label>Iterate through Content Versions</label>
        <locationX>710</locationX>
        <locationY>854</locationY>
        <collectionReference>Content_Version_IDS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Version_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Version_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Version_Record</name>
        <label>Get Content Version Record</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Title_in_Content_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Content_Version_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Description</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Extension_Type_from_Content_Document</name>
        <label>Get File Extension Type from Content Document</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Person_Image_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Content_Document_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FileExtension</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Birth_Certificate_Document_ID</name>
        <label>Update Birth Certificate Document ID</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birth_Certificate_Document_ID__c</field>
            <value>
                <elementReference>Content_Document_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Content_Version</name>
        <label>Update Content Version</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Check_Document_Type</targetReference>
        </connector>
        <inputReference>Get_Content_Version_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Death_Certificate_Document_ID</name>
        <label>Update Death Certificate Document ID</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Death_Certificate_Document_ID__c</field>
            <value>
                <elementReference>Content_Document_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_License_Document_ID</name>
        <label>Update License Document ID</label>
        <locationX>1106</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>License_Document_Id__c</field>
            <value>
                <elementReference>Content_Document_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Image_URL</name>
        <label>Update Person Image URL</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Person_Image_URL__c</field>
            <value>
                <elementReference>Person_Image_URL</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SSN_Document_ID</name>
        <label>Update SSN Document ID</label>
        <locationX>842</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SSN_Document_ID__c</field>
            <value>
                <elementReference>Content_Document_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;File uploaded successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_new_photo</name>
        <label>Upload photo</label>
        <locationX>1172</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_count</targetReference>
        </connector>
        <fields>
            <name>Upload_Certificates</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Content_Document_IDS</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Content_Version_IDS</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Upload</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Upload_new_photo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Content_Document_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Content_Document_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Content_Document_IDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Content_Version_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Content_Version_IDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
