force-app/main/default/flows/Youth_Transition_Plan_Health.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approved_Toast</name>
        <label>Approved Toast</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>1018</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submitted_toast</name>
        <label>Submitted toast</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already submitted for approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Record saved successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_contact_name_and_id_in_list</name>
        <label>Add contact name and id in list</label>
        <locationX>468</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ListOfContactNameId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactNameId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_values_in_goal_record</name>
        <label>Assign default values in goal record</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>goalRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Health</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>goalRecord.Youth_Transition_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_contact_name_and_id</name>
        <label>Get contact name and id</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contacts.Person__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contacts.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_name_and_id_in_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_goal_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_as_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Health_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Toast</targetReference>
            </connector>
            <label>If Status as Approved</label>
        </rules>
        <rules>
            <name>If_status_as_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Health_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_toast</targetReference>
            </connector>
            <label>If status as submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_goal_delete_lists</name>
        <label>Check goal delete lists</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Save_Health</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteGoalLists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_goal_records</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Regular_exams_and_annual_physicals_are_i</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Regular_exams_and_annual_physicals_are_i__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>The_purpose_of_each_medication_you_ve</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>The_purpose_of_each_medication_you_ve__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Your_caseworker_will_provide_you_with</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Your_caseworker_will_provide_you_with__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>contactNameId</name>
        <dataType>String</dataType>
        <expression>{!contactName}+{!contactId}</expression>
    </formulas>
    <interviewLabel>Youth Transition Plan Health {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youth Transition Plan Health</label>
    <loops>
        <name>Loop_through_contacts</name>
        <label>Loop through contacts</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_contact_name_and_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Health</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_goal_records</name>
        <label>Create goal records</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_goal_records</targetReference>
        </connector>
        <inputReference>createGoalLists</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_goal_records</name>
        <label>Delete goal records</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Save_Health</targetReference>
        </connector>
        <inputReference>deleteGoalLists</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_goal_records</name>
        <label>Get goal records</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_values_in_goal_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Health</stringValue>
            </value>
        </filters>
        <filters>
            <field>Youth_Transition_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Short_term_goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Health_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Health_Record</name>
        <label>Health Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_goal_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Youth_Transition_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Health</name>
        <label>Save Health</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Health_Status__c</field>
            <value>
                <elementReference>Current_Health_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Regular_exams_and_annual__c</field>
            <value>
                <elementReference>DescriptionRegularExams</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_The_purpose_of_each__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goals_to_obtain_or_maintain_good_health__c</field>
            <value>
                <elementReference>Goals_to_obtain_or_maintain_good_health</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_you_are_unable_to_make_a_decision__c</field>
            <value>
                <elementReference>f_you_are_unable_to_make_a_decision_about_your_health_or_treatment_is_there_anyo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plans_for_Medical_Coverage_after_Foster__c</field>
            <value>
                <elementReference>Plans_for_Medical_Coverage_after_Foster_Care_Insurance_How_will_you_access_healt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regular_exams_and_annual_physicals_are_i__c</field>
            <value>
                <elementReference>Regular_exams_and_annual_physicals_are_important_to_maintain_good_health</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_purpose_of_each_medication_you_ve__c</field>
            <value>
                <elementReference>The_purpose_of_each_medication_you_ve_been_prescribed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_caseworker_will_provide_you_with__c</field>
            <value>
                <elementReference>Your_caseworker_will_provide_you_with_a_copy_of_the_Advance_Directive_for_Select</elementReference>
            </value>
        </inputAssignments>
        <object>Youth_Transition_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_goal_records</name>
        <label>Update goal records</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Check_goal_delete_lists</targetReference>
        </connector>
        <inputReference>updateGoalLists</inputReference>
    </recordUpdates>
    <screens>
        <name>Health</name>
        <label>Health</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Current_Health_Status</name>
            <defaultValue>
                <stringValue>{!Health_Record.Current_Health_Status__c}</stringValue>
            </defaultValue>
            <fieldText>Current Health Status</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Goals_to_obtain_or_maintain_good_health</name>
            <defaultValue>
                <stringValue>{!Health_Record.Goals_to_obtain_or_maintain_good_health__c}</stringValue>
            </defaultValue>
            <fieldText>Goals to obtain or maintain good health</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Plans_for_Medical_Coverage_after_Foster_Care_Insurance_How_will_you_access_healt</name>
            <defaultValue>
                <stringValue>{!Health_Record.Plans_for_Medical_Coverage_after_Foster__c}</stringValue>
            </defaultValue>
            <fieldText>Plans for Medical Coverage after Foster Care(Insurance ? How will you access healthcare - doctors,visits,medicines?)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>healthText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Cambo; color: rgb(17, 48, 81);&quot;&gt;It is important that you take time to think about and plan whom you would like to make major health care decisions for you if you were incapacitated. In the State of Maryland, this individual would be referred to as a Health Care Agent. Health Care Agents aren&apos;t chosen for you. It is your decision to appoint someone you trust to make these major decisions should you become unable. The key question in selecting a Health Care Agent is:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>f_you_are_unable_to_make_a_decision_about_your_health_or_treatment_is_there_anyo</name>
            <defaultValue>
                <stringValue>{!Health_Record.If_you_are_unable_to_make_a_decision__c}</stringValue>
            </defaultValue>
            <fieldText>f you are unable to make a decision about your health or treatment, is there anyone you would like to make those decisions for you?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Your_caseworker_will_provide_you_with_a_copy_of_the_Advance_Directive_for_Select</name>
            <choiceReferences>Your_caseworker_will_provide_you_with</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Health_Record.Your_caseworker_will_provide_you_with__c</elementReference>
            </defaultValue>
            <fieldText>Your caseworker will provide you with a copy of the Advance Directive for Selecting a Health Care Agent, to help you in the process of appointing a Health Care Agent should you choose to do so</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>shortTermgoalsHeading</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SHORT TERM GOALS/NEXT STEPS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shortTermgoals</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Short_term_goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:youthTransitionPlanShortTermGoal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>ListOfContactNameId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalRec</name>
                <value>
                    <elementReference>goalRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalList</name>
                <value>
                    <elementReference>Get_goal_records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>createGoalLists</assignToReference>
                <name>createLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleteGoalLists</assignToReference>
                <name>deleteLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updateGoalLists</assignToReference>
                <name>updateLists</name>
            </outputParameters>
        </fields>
        <fields>
            <name>doYouKnow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;??DO YOU KNOW...??&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Health_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Health_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Regular_exams_and_annual_physicals_are_important_to_maintain_good_health</name>
                    <choiceReferences>Regular_exams_and_annual_physicals_are_i</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Health_Record.Regular_exams_and_annual_physicals_are_i__c</elementReference>
                    </defaultValue>
                    <fieldText>Regular exams and annual physicals are important to maintain good health</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Health_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionRegularExams</name>
                    <defaultValue>
                        <stringValue>{!Health_Record.Description_Regular_exams_and_annual__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Health_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Health_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>The_purpose_of_each_medication_you_ve_been_prescribed</name>
                    <choiceReferences>The_purpose_of_each_medication_you_ve</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Health_Record.The_purpose_of_each_medication_you_ve__c</elementReference>
                    </defaultValue>
                    <fieldText>The purpose of each medication you&apos;ve been prescribed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Health_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <defaultValue>
                        <stringValue>{!Health_Record.Description_The_purpose_of_each__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Health_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>deleteGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>goalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>ListOfContactNameId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
</Flow>
