force-app/main/default/flows/Youth_Transition_Plan_Housing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approved_toast</name>
        <label>Approved toast</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1018</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submitted_toast</name>
        <label>Submitted toast</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already submitted for approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Record saved successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_contact_name_id_in_list</name>
        <label>Add contact name,id in list</label>
        <locationX>468</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ListOfContactNameId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactNameid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_value_to_goal_record</name>
        <label>Assign default value to goal record</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>goalRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Housing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>goalRecord.Youth_Transition_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_contact_name_and_Id</name>
        <label>Get contact name and Id</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_contacts.Person__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_contacts.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_name_id_in_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_goal_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Housing_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Approved_toast</targetReference>
            </connector>
            <label>If approved</label>
        </rules>
        <rules>
            <name>If_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Housing_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_toast</targetReference>
            </connector>
            <label>If submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_delete_goal_lists</name>
        <label>Check delete goal lists</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Save_Housing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteGoalLists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_goal_lists</targetReference>
            </connector>
            <label>If null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>About_SILA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_SILA__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>About_the_Family_Reunification_Program</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_the_Family_Reunification_Program__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>All_your_housing_options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>All_your_housing_options__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>hat_s_needed_to_get_housing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_s_needed_to_get_housing__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>How_to_apply_for_section_8_housing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_to_apply_for_section_8_housing__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>How_to_get_on_the_HUD_lis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_to_get_on_the_HUD_list__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>How_to_secure_funding_for_housing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_to_secure_funding_for_housing__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Or_how_to_find_information_for_low</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Or_how_to_find_information_for_low__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>contactNameid</name>
        <dataType>String</dataType>
        <expression>{!contactName}+{!contactId}</expression>
    </formulas>
    <interviewLabel>Youth Transition Plan Housing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youth Transition Plan Housing</label>
    <loops>
        <name>Iterate_through_contacts</name>
        <label>Iterate through contacts</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_contact_name_and_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Housing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_goal_records</name>
        <label>Create goal records</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_goal_records</targetReference>
        </connector>
        <inputReference>creategoalLists</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_goal_lists</name>
        <label>Delete goal lists</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Save_Housing</targetReference>
        </connector>
        <inputReference>deleteGoalLists</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Goal_records</name>
        <label>Get Goal records</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_value_to_goal_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Housing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Youth_Transition_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Short_term_goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Housing_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Housing_Record</name>
        <label>Housing Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Goal_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Youth_Transition_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Housing</name>
        <label>Save Housing</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>About_SILA__c</field>
            <value>
                <elementReference>About_SILA_Semi_independent_living_program</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_the_Family_Reunification_Program__c</field>
            <value>
                <elementReference>About_the_Family_Reunification_Program_FUP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>All_your_housing_options__c</field>
            <value>
                <elementReference>Allyourhousingoptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Living_Situation__c</field>
            <value>
                <elementReference>Current_Living_Situation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_About_SILA__c</field>
            <value>
                <elementReference>DescriptionAboutSILA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_About_the_Family__c</field>
            <value>
                <elementReference>DescriptionFUP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_All_your_housing_options__c</field>
            <value>
                <elementReference>DescriptionAllYourHousing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_How_to_apply_for_section_8__c</field>
            <value>
                <elementReference>DescriptionHowToApplyForSection8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_How_to_get_on_the_HUD_list__c</field>
            <value>
                <elementReference>DescriptionHUD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_How_to_secure_funding_for__c</field>
            <value>
                <elementReference>DescriptionHowToSecure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Or_how_to_find_informatio__c</field>
            <value>
                <elementReference>DescriptionHowToFind</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_What_s_needed_to_get__c</field>
            <value>
                <elementReference>DescriptionWhatsneededtogetHousing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Plans_Goals_for_Housing__c</field>
            <value>
                <elementReference>Future_Plans_Goals_for_Housing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_to_apply_for_section_8_housing__c</field>
            <value>
                <elementReference>Howtoapplyforsection8housing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_to_get_on_the_HUD_list__c</field>
            <value>
                <elementReference>How_to_get_on_the_HUD_list</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_to_secure_funding_for_housing__c</field>
            <value>
                <elementReference>Howtosecurefundingforhousing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Or_how_to_find_information_for_low__c</field>
            <value>
                <elementReference>Or_how_to_find_information_for_low_income_housing_in_the_area_if_needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_for_housing_upon_discharge__c</field>
            <value>
                <elementReference>Plan_for_housing_upon_discharge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_s_needed_to_get_housing__c</field>
            <value>
                <elementReference>What_s_needed_to_get_housing_i_e_criminal_background_teasing_agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Youth_Transition_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_goal_records</name>
        <label>Update goal records</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Check_delete_goal_lists</targetReference>
        </connector>
        <inputReference>updateGoalLists</inputReference>
    </recordUpdates>
    <screens>
        <name>Housing</name>
        <label>Housing</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Current_Living_Situation</name>
            <defaultValue>
                <stringValue>{!Housing_Record.Current_Living_Situation__c}</stringValue>
            </defaultValue>
            <fieldText>Current Living Situation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Future_Plans_Goals_for_Housing</name>
            <defaultValue>
                <stringValue>{!Housing_Record.Future_Plans_Goals_for_Housing__c}</stringValue>
            </defaultValue>
            <fieldText>Future Plans/Goals for Housing</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Plan_for_housing_upon_discharge</name>
            <defaultValue>
                <stringValue>{!Housing_Record.Plan_for_housing_upon_discharge__c}</stringValue>
            </defaultValue>
            <fieldText>Plan for housing upon discharge</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>shortTermgoalsHeading</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SHORT TERM GOALS/NEXT STEPS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shortTermgoals</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Short_term_goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:youthTransitionPlanShortTermGoal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>ListOfContactNameId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalRec</name>
                <value>
                    <elementReference>goalRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalList</name>
                <value>
                    <elementReference>Get_Goal_records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>creategoalLists</assignToReference>
                <name>createLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleteGoalLists</assignToReference>
                <name>deleteLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updateGoalLists</assignToReference>
                <name>updateLists</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Doyouknow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;??DO YOU KNOW...??&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Housing_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Allyourhousingoptions</name>
                    <choiceReferences>All_your_housing_options</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Housing_Record.All_your_housing_options__c</elementReference>
                    </defaultValue>
                    <fieldText>All your housing options?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionAllYourHousing</name>
                    <defaultValue>
                        <stringValue>{!Housing_Record.Description_All_your_housing_options__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Howtosecurefundingforhousing</name>
                    <choiceReferences>How_to_secure_funding_for_housing</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Housing_Record.How_to_secure_funding_for_housing__c</elementReference>
                    </defaultValue>
                    <fieldText>How to secure funding for housing?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionHowToSecure</name>
                    <defaultValue>
                        <stringValue>{!Housing_Record.Description_How_to_secure_funding_for__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Howtoapplyforsection8housing</name>
                    <choiceReferences>How_to_apply_for_section_8_housing</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Housing_Record.How_to_apply_for_section_8_housing__c</elementReference>
                    </defaultValue>
                    <fieldText>How to apply for section 8 housing?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionHowToApplyForSection8</name>
                    <defaultValue>
                        <stringValue>{!Housing_Record.Description_How_to_apply_for_section_8__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Or_how_to_find_information_for_low_income_housing_in_the_area_if_needed</name>
                    <choiceReferences>Or_how_to_find_information_for_low</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Housing_Record.Or_how_to_find_information_for_low__c</elementReference>
                    </defaultValue>
                    <fieldText>Or, how to find information for low income housing in the area, if needed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionHowToFind</name>
                    <defaultValue>
                        <stringValue>{!Housing_Record.Description_Or_how_to_find_informatio__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>About_SILA_Semi_independent_living_program</name>
                    <choiceReferences>About_SILA</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Housing_Record.About_SILA__c</elementReference>
                    </defaultValue>
                    <fieldText>About SILA(Semi - independent living program)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionAboutSILA</name>
                    <defaultValue>
                        <stringValue>{!Housing_Record.Description_About_SILA__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_to_get_on_the_HUD_list</name>
                    <choiceReferences>How_to_get_on_the_HUD_lis</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Housing_Record.How_to_get_on_the_HUD_list__c</elementReference>
                    </defaultValue>
                    <fieldText>How to get on the HUD list?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionHUD</name>
                    <defaultValue>
                        <stringValue>{!Housing_Record.Description_How_to_get_on_the_HUD_list__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_s_needed_to_get_housing_i_e_criminal_background_teasing_agreement</name>
                    <choiceReferences>hat_s_needed_to_get_housing</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Housing_Record.What_s_needed_to_get_housing__c</elementReference>
                    </defaultValue>
                    <fieldText>What&apos;s needed to get housing(i.e. criminal background, teasing agreement)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionWhatsneededtogetHousing</name>
                    <defaultValue>
                        <stringValue>{!Housing_Record.Description_What_s_needed_to_get__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>About_the_Family_Reunification_Program_FUP</name>
                    <choiceReferences>About_the_Family_Reunification_Program</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Housing_Record.About_the_Family_Reunification_Program__c</elementReference>
                    </defaultValue>
                    <fieldText>About the Family Reunification Program(FUP)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionFUP</name>
                    <defaultValue>
                        <stringValue>{!Housing_Record.Description_About_the_Family__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Housing_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creategoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>deleteGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>goalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>ListOfContactNameId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
</Flow>
