force-app/main/default/flows/Youth_Transition_Plan_Documentation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approved_toast</name>
        <label>Approved toast</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1018</locationX>
        <locationY>2150</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submitted_toast</name>
        <label>Submitted toast</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already submitted for approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>710</locationX>
        <locationY>2150</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Record saved successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_contact_Name_Id_to_List</name>
        <label>Add contact Name Id to List</label>
        <locationX>468</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ListOfContactsNameId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactNameId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_value_in_goal_record</name>
        <label>Assign default value in goal record</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>goalrecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>goalrecord.Youth_Transition_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.Comments_What_additional_document_does__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsAdditionalDoc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.Copies_of_this_transition_plan_have_been__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copies_of_this_transition_plan_have_been_made_for_the_following</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.Family_Member_Sign_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Family_Member_Signature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.Has_the_youth_received_the_following_doc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_youth_received_the_following_documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.LDSS_Representative_Sign_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LDSS_Representative_Signature_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.Youth_Sign_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Youth_Signature_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.LDSS_Representative_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LDSSSign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.Family_Member_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>familyMemberSign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateYTPRecord.Youth_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>youthSign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Documentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Contacts_name_Id</name>
        <label>Get Contacts name Id</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contacts.Person__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contacts.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_Name_Id_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_goal_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Approved_toast</targetReference>
            </connector>
            <label>If approved</label>
        </rules>
        <rules>
            <name>If_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_toast</targetReference>
            </connector>
            <label>If submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_delete_goal_lists</name>
        <label>Check delete goal lists</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Assign_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteGoalLists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_goal_records</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Copies_of_this_transition_plan_have_beenpick</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Copies_of_this_transition_plan_have_been__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Has_the_youth_received_the_following_docpick</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Has_the_youth_received_the_following_doc__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>contactNameId</name>
        <dataType>String</dataType>
        <expression>{!contactName}+{!contactId}</expression>
    </formulas>
    <interviewLabel>Youth Transition Plan Documentation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youth Transition Plan Documentation</label>
    <loops>
        <name>Loop_through_contacts</name>
        <label>Loop through contacts</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contacts_name_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Document_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_goal_records</name>
        <label>Create goal records</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_goal_records</targetReference>
        </connector>
        <inputReference>createGoalLists</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_goal_records</name>
        <label>Delete goal records</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <inputReference>deleteGoalLists</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Document_Record</name>
        <label>Document Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_goal_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Youth_Transition_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_goal_records</name>
        <label>Get goal records</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_value_in_goal_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Documentation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Youth_Transition_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Short_term_goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Document_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Documentation</name>
        <label>Save Documentation</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>UpdateYTPRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_goal_records</name>
        <label>Update goal records</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Check_delete_goal_lists</targetReference>
        </connector>
        <inputReference>updateGoalLists</inputReference>
    </recordUpdates>
    <screens>
        <name>Document_Screen</name>
        <label>Document Screen</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Has_the_youth_received_the_following_documents</name>
            <choiceReferences>Has_the_youth_received_the_following_docpick</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Document_Record.Has_the_youth_received_the_following_doc__c</elementReference>
            </defaultValue>
            <fieldText>Has the youth received the following documents?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TheseDoc</name>
            <fieldText>&lt;p&gt;*These documents should be official Maryland State Documents (complaint with Real ID Act) as applicable&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WhatAdditionalDoc</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;What additional documents does the youth need/want?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommentsAdditionalDoc</name>
                    <defaultValue>
                        <stringValue>{!Document_Record.Comments_What_additional_document_does__c}</stringValue>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>shortTermgoalsHeading</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SHORT TERM GOALS/NEXT STEPS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shortTermgoals</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Short_term_goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:youthTransitionPlanShortTermGoal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>ListOfContactsNameId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalRec</name>
                <value>
                    <elementReference>goalrecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalList</name>
                <value>
                    <elementReference>Get_goal_records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>createGoalLists</assignToReference>
                <name>createLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleteGoalLists</assignToReference>
                <name>deleteLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updateGoalLists</assignToReference>
                <name>updateLists</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Copies_of_this_transition_plan_have_been_made_for_the_following</name>
            <choiceReferences>Copies_of_this_transition_plan_have_beenpick</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Document_Record.Copies_of_this_transition_plan_have_been__c</elementReference>
            </defaultValue>
            <fieldText>Copies of this transition plan have been made for the following:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Document_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>thefollowing</name>
                    <fieldText>&lt;p&gt;The following signature indicates a commitment to&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Document_Record.Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>reachhisher</name>
                    <fieldText>&lt;p&gt;reach his/her transition plan goals help&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>signature</name>
            <extensionName>c:youthTransitionPlanSignatureLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>familyMemberSign</name>
                <value>
                    <elementReference>familyMemberSign</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LDSSSign</name>
                <value>
                    <elementReference>LDSSSign</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>youthSign</name>
                <value>
                    <elementReference>youthSign</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>familyMemberSign</assignToReference>
                <name>familyMemberSign</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LDSSSign</assignToReference>
                <name>LDSSSign</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>youthSign</assignToReference>
                <name>youthSign</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Document_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Youth_Signature_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Document_Record.Youth_Sign_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Youth Signature Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LDSS_Representative_Signature_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Document_Record.LDSS_Representative_Sign_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>LDSS Representative Signature Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Family_Member_Signature</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Document_Record.Family_Member_Sign_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Family Member Signature</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Document_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>deleteGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>familyMemberSign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Document_Record.Family_Member_Signature__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>goalrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>LDSSSign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Document_Record.LDSS_Representative_Signature__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ListOfContactsNameId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>UpdateYTPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Youth_Transition_Plan__c</objectType>
    </variables>
    <variables>
        <name>youthSign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Document_Record.Youth_Signature__c</elementReference>
        </value>
    </variables>
</Flow>
