force-app/main/default/flows/Youth_Education_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approved_Toast</name>
        <label>Approved Toast</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1018</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submitted_toast</name>
        <label>Submitted toast</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already submitted for approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Record saved Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>468</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ContactIdName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NameId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contactName</name>
        <label>Assign contactName</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Contact.Person__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Contact.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_goal_record</name>
        <label>Assign goal record</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>goalRecord.Youth_Transition_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>goalRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Education</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_goal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Education_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Toast</targetReference>
            </connector>
            <label>If approved</label>
        </rules>
        <rules>
            <name>If_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Education_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_toast</targetReference>
            </connector>
            <label>If submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_delete_list</name>
        <label>Check delete list</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Save_Education</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteGoalLists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_goalLists</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>About_D_O_R_S</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_D_O_R_S_Division_Rehabilitation__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>About_your_High_School_Assessment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_your_High_School_Assessment__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Are_you_exploring_other_financial_resour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_you_exploring_other_financial_resour__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Are_you_familiar_education_training</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_you_familiar_education_training__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Have_you_already_registeredpick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_you_already_registered__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>If_your_worker_is_aware_of_funding_and</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_your_worker_is_aware_of_funding_and__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Is_your_worker_aware_of_what_you</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_your_worker_aware_of_what_you_need_to__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>our_educational_requirements_to_graduat</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Your_educational_requirements_to_graduat__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>The_education_requirements_needed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>The_education_requirements_needed_to__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>When_you_need_to_take_the_SATs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>When_you_need_to_take_the_SATs__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Where_to_find_assistance_in_applying</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Where_to_find_assistance_in_applying__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whether_transportation_is_in_place</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Whether_transportation_is_in_place__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NameId</name>
        <dataType>String</dataType>
        <expression>{!contactName}+{!contactId}</expression>
    </formulas>
    <interviewLabel>Youth Education flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youth Education flow</label>
    <loops>
        <name>Iterate_through_Contact</name>
        <label>Iterate through Contact</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_contactName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Education</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_goal</name>
        <label>Create goal</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_goalLists</targetReference>
        </connector>
        <inputReference>createGoalList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_goalLists</name>
        <label>Delete goalLists</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Save_Education</targetReference>
        </connector>
        <inputReference>deleteGoalLists</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Education_Record</name>
        <label>Education Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Goal_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Youth_Transition_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Education_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Goal_records</name>
        <label>Goal records</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_goal_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Education</stringValue>
            </value>
        </filters>
        <filters>
            <field>Youth_Transition_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Short_term_goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Education</name>
        <label>Save Education</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>About_D_O_R_S_Division_Rehabilitation__c</field>
            <value>
                <elementReference>About_D_O_R_S_Division_of_Rehabilitation_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_your_High_School_Assessment__c</field>
            <value>
                <elementReference>AboutYourHighSchool</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_you_exploring_other_financial_resour__c</field>
            <value>
                <elementReference>Are_you_exploring_other_financial_resources_e_g_scholarships_grants_to_support_y</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_you_familiar_education_training__c</field>
            <value>
                <elementReference>Are_you_familiar_with_the_education_training_voucher</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Are_you_exploring_other_finan__c</field>
            <value>
                <elementReference>CommentsAreyouexploringotherfinancialresources</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Are_you_familiar_education__c</field>
            <value>
                <elementReference>CommentAreyoufamiliareducationtraining</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Education_Status__c</field>
            <value>
                <elementReference>Current_Education_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_About_D_O_R_S__c</field>
            <value>
                <elementReference>DescriptionDORS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_About_your_High_School__c</field>
            <value>
                <elementReference>DescriptionHighSchoolAssessment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Have_you_already_register__c</field>
            <value>
                <elementReference>DescriptionAlreadyRegistered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_If_your_worker_is_aware__c</field>
            <value>
                <elementReference>DescriptionWorkerisAwareOf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Is_your_worker_aware__c</field>
            <value>
                <elementReference>DescriptionIsYourWorker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_The_education_requirements__c</field>
            <value>
                <elementReference>DescriptionEducationRequirements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_When_you_need_to_take_SAT__c</field>
            <value>
                <elementReference>DescriptionWhenYouNeedSAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Where_to_find_assistance__c</field>
            <value>
                <elementReference>DescriptionWhereToFindAssistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Whether_transportation_is_i__c</field>
            <value>
                <elementReference>DescriptionWhetherTransportation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Your_educational_requireme__c</field>
            <value>
                <elementReference>DescriptionEducationalRequirements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Goals_or_Plans_for_Education__c</field>
            <value>
                <elementReference>Future_Goals_or_Plans_for_Education</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_already_registered__c</field>
            <value>
                <elementReference>Have_you_already_registered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_your_worker_is_aware_of_funding_and__c</field>
            <value>
                <elementReference>If_your_worker_is_aware_of_funding_and_resources_for_higher_education_college_an</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_your_worker_aware_of_what_you_need_to__c</field>
            <value>
                <elementReference>Is_your_worker_aware_of_what_you_need_to_graduate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_education_requirements_needed_to__c</field>
            <value>
                <elementReference>The_education_requirements_needed_to_obtain_a_Drivers_License</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_you_need_to_take_the_SATs__c</field>
            <value>
                <elementReference>When_you_need_to_take</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_to_find_assistance_in_applying__c</field>
            <value>
                <elementReference>Where_to_find_assistance_in_applying_for_college_and_working_through_the_admissi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whether_transportation_is_in_place__c</field>
            <value>
                <elementReference>Whether_transportation_is_in_place_to_remain_in_your_same_school_if_you_change_p</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_educational_requirements_to_graduat__c</field>
            <value>
                <elementReference>Your_educational_requirements_to_graduate</elementReference>
            </value>
        </inputAssignments>
        <object>Youth_Transition_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_goalLists</name>
        <label>Update goalLists</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Check_delete_list</targetReference>
        </connector>
        <inputReference>updateGoalLists</inputReference>
    </recordUpdates>
    <screens>
        <name>Education</name>
        <label>Education</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Current_Education_Status</name>
            <defaultValue>
                <stringValue>{!Education_Record.Current_Education_Status__c}</stringValue>
            </defaultValue>
            <fieldText>Current Education Status :(In School ? Grade ? How are grades? IEP ? Graduation Date ? GED ? Other programs ?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Future_Goals_or_Plans_for_Education</name>
            <defaultValue>
                <stringValue>{!Education_Record.Future_Goals_or_Plans_for_Education__c}</stringValue>
            </defaultValue>
            <fieldText>Future Goals or Plans for Education/Vocational Training : (Attend college?Type of program?Vocational Training?Military?)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>shortTermGoalHeading</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SHORT TERM GOAL/NEXT STEPS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shortTermGoal</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Short_term_goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:youthTransitionPlanShortTermGoal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>ContactIdName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalList</name>
                <value>
                    <elementReference>Goal_records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalRec</name>
                <value>
                    <elementReference>goalRecord</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>createGoalList</assignToReference>
                <name>createLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleteGoalLists</assignToReference>
                <name>deleteLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updateGoalLists</assignToReference>
                <name>updateLists</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Education_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_familiar_with_the_education_training_voucher</name>
                    <choiceReferences>Are_you_familiar_education_training</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.Are_you_familiar_education_training__c</elementReference>
                    </defaultValue>
                    <fieldText>Are you familiar with the education training voucher?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommentAreyoufamiliareducationtraining</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Comments_Are_you_familiar_education__c}</stringValue>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_exploring_other_financial_resources_e_g_scholarships_grants_to_support_y</name>
                    <choiceReferences>Are_you_exploring_other_financial_resour</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.Are_you_exploring_other_financial_resour__c</elementReference>
                    </defaultValue>
                    <fieldText>Are you exploring other financial resources (e.g scholarships &amp; grants) to support your future educational and/or vocation programs?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommentsAreyouexploringotherfinancialresources</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Comments_Are_you_exploring_other_finan__c}</stringValue>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DoYouKnow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;??DO YOU KNOW...??&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Education_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AboutYourHighSchool</name>
                    <choiceReferences>About_your_High_School_Assessment</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.About_your_High_School_Assessment__c</elementReference>
                    </defaultValue>
                    <fieldText>About your High School Assessment?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionHighSchoolAssessment</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_About_your_High_School__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Your_educational_requirements_to_graduate</name>
                    <choiceReferences>our_educational_requirements_to_graduat</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.Your_educational_requirements_to_graduat__c</elementReference>
                    </defaultValue>
                    <fieldText>Your educational requirements to graduate?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionEducationalRequirements</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_Your_educational_requireme__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_your_worker_aware_of_what_you_need_to_graduate</name>
                    <choiceReferences>Is_your_worker_aware_of_what_you</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.Is_your_worker_aware_of_what_you_need_to__c</elementReference>
                    </defaultValue>
                    <fieldText>Is your worker aware of what you need to graduate?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionIsYourWorker</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_Is_your_worker_aware__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Whether_transportation_is_in_place_to_remain_in_your_same_school_if_you_change_p</name>
                    <choiceReferences>Whether_transportation_is_in_place</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.Whether_transportation_is_in_place__c</elementReference>
                    </defaultValue>
                    <fieldText>Whether transportation is in place to remain in your same school if you change placements?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionWhetherTransportation</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_Whether_transportation_is_i__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>When_you_need_to_take</name>
                    <choiceReferences>When_you_need_to_take_the_SATs</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.When_you_need_to_take_the_SATs__c</elementReference>
                    </defaultValue>
                    <fieldText>When you need to take the SATs?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionWhenYouNeedSAT</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_When_you_need_to_take_SAT__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_you_already_registered</name>
                    <choiceReferences>Have_you_already_registeredpick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.Have_you_already_registered__c</elementReference>
                    </defaultValue>
                    <fieldText>Have you already registered?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionAlreadyRegistered</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_Have_you_already_register__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>If_your_worker_is_aware_of_funding_and_resources_for_higher_education_college_an</name>
                    <choiceReferences>If_your_worker_is_aware_of_funding_and</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.If_your_worker_is_aware_of_funding_and__c</elementReference>
                    </defaultValue>
                    <fieldText>If your worker is aware of funding and resources for higher education (college and vocational)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionWorkerisAwareOf</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_If_your_worker_is_aware__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Where_to_find_assistance_in_applying_for_college_and_working_through_the_admissi</name>
                    <choiceReferences>Where_to_find_assistance_in_applying</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.Where_to_find_assistance_in_applying__c</elementReference>
                    </defaultValue>
                    <fieldText>Where to find assistance in applying for college and working through the admission process</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionWhereToFindAssistance</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_Where_to_find_assistance__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>About_D_O_R_S_Division_of_Rehabilitation_Services</name>
                    <choiceReferences>About_D_O_R_S</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.About_D_O_R_S_Division_Rehabilitation__c</elementReference>
                    </defaultValue>
                    <fieldText>About D.O.R.S (Division of Rehabilitation Services)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionDORS</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_About_D_O_R_S__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>The_education_requirements_needed_to_obtain_a_Drivers_License</name>
                    <choiceReferences>The_education_requirements_needed</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Education_Record.The_education_requirements_needed_to__c</elementReference>
                    </defaultValue>
                    <fieldText>The education requirements needed to obtain a Drivers License?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionEducationRequirements</name>
                    <defaultValue>
                        <stringValue>{!Education_Record.Description_The_education_requirements__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Education_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIdName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createGoalList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>deleteGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>goalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
</Flow>
