force-app/main/default/flows/Youth_Transition_Plan_Summary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Plan_Id</name>
        <label>Assign Plan Id</label>
        <locationX>795</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>YouthAssessmentRecord.Youth_Transition_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Create_Assessment_Record_Lists</name>
        <label>Create Assessment Record Lists</label>
        <locationX>901</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>assignObject.Youth_Transition_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_lists_from_LWC.Youth_Transition_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignObject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_lists_from_LWC.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignObject.Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_lists_from_LWC.Completion_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateYouthAssessmentRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_lists_from_LWC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assessment_Record_Lists</name>
        <label>Update Assessment Record Lists</label>
        <locationX>1544</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>UpdateYouthAssessmentRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_lists_from_LWC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_lists_from_LWC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Delete_List_is_not_Empty</name>
        <label>Check Delete List is not Empty</label>
        <locationX>1259</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Delete_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteYouthAssessment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Youth_Assessment</targetReference>
            </connector>
            <label>Check Delete List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Id</name>
        <label>Check Id</label>
        <locationX>1234</locationX>
        <locationY>591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Create_Assessment_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_lists_from_LWC.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assessment_Record_Lists</targetReference>
            </connector>
            <label>Check Create Assessment Record</label>
        </rules>
        <rules>
            <name>Check_Update_Assessment_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_lists_from_LWC.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assessment_Record_Lists</targetReference>
            </connector>
            <label>Check Update Assessment Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateEnteredFosterCare</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Child_Removal_Record.Removal_Date_of_DT_F__c}),&quot;&quot;,TEXT(MONTH({!Child_Removal_Record.Removal_Date_of_DT_F__c}))+&quot;/&quot;+TEXT(DAY({!Child_Removal_Record.Removal_Date_of_DT_F__c}))+&quot;/&quot;+TEXT(YEAR({!Child_Removal_Record.Removal_Date_of_DT_F__c})))</expression>
    </formulas>
    <formulas>
        <name>dateOfBirth</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Summary_Records.Contact__r.Date_of_Birth__c}),&quot;&quot;,TEXT(MONTH({!Summary_Records.Contact__r.Date_of_Birth__c}))+&quot;/&quot;+TEXT(DAY({!Summary_Records.Contact__r.Date_of_Birth__c}))+&quot;/&quot;+TEXT(YEAR({!Summary_Records.Contact__r.Date_of_Birth__c})))</expression>
    </formulas>
    <formulas>
        <name>dateTransitionPlanCompleted</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Summary_Records.Transition_Plan_Completed_Date__c}),&apos; &apos;,TEXT(MONTH({!Summary_Records.Transition_Plan_Completed_Date__c}))+&quot;/&quot;+TEXT(DAY({!Summary_Records.Transition_Plan_Completed_Date__c}))+&quot;/&quot;+TEXT(YEAR({!Summary_Records.Transition_Plan_Completed_Date__c})))</expression>
    </formulas>
    <formulas>
        <name>twelveMonthTransitionPlanDate</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Summary_Records.Transition_Plan_Completed_Date__c}),&apos; &apos;,TEXT(MONTH({!Summary_Records.Transition_Plan_Completed_Date__c}))+&quot;/&quot;+TEXT(DAY({!Summary_Records.Transition_Plan_Completed_Date__c}))+&quot;/&quot;+TEXT(YEAR({!Summary_Records.Transition_Plan_Completed_Date__c})+1))</expression>
    </formulas>
    <formulas>
        <name>TwelveMonthTransitionPlanFollwUpDate</name>
        <dataType>Date</dataType>
        <expression>DATE( 
YEAR({!Summary_Records.Transition_Plan_Completed_Date__c}) + 1, 
MONTH({!Summary_Records.Transition_Plan_Completed_Date__c}), 
DAY({!Summary_Records.Transition_Plan_Completed_Date__c})
 )</expression>
    </formulas>
    <interviewLabel>Youth Transition  Plan Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youth Transition  Plan Summary Flow</label>
    <loops>
        <name>Iterate_through_lists_from_LWC</name>
        <label>Iterate through lists from LWC</label>
        <locationX>1229</locationX>
        <locationY>410</locationY>
        <collectionReference>ListsFromFlow</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Youth_Assessment</name>
        <label>Create Youth Assessment</label>
        <locationX>981</locationX>
        <locationY>201</locationY>
        <connector>
            <targetReference>Update_Youth_Assessment</targetReference>
        </connector>
        <inputReference>CreateYouthAssessmentRecord</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Youth_Assessment</name>
        <label>Delete Youth Assessment</label>
        <locationX>1353</locationX>
        <locationY>169</locationY>
        <inputReference>DeleteYouthAssessment</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Child_Removal_Record</name>
        <label>Child Removal Record</label>
        <locationX>457</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permanency_Plan_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Summary_Records.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Child_Removal__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contact_Record</name>
        <label>Contact Record</label>
        <locationX>318</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Removal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Summary_Records.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_User</name>
        <label>Get Created User</label>
        <locationX>590</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Summary_Records.CreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>createdUsername</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Permanency_Plan_Record</name>
        <label>Get Permanency Plan Record</label>
        <locationX>586</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Created_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Summary_Records.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Permanency_Plan__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Summary_Records</name>
        <label>Summary Records</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Youth_Transition_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Youth_Assessments</name>
        <label>Youth Assessments</label>
        <locationX>642</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Plan_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Youth_Transition_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Youth_Assessment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Youth_Assessment</name>
        <label>Update Youth Assessment</label>
        <locationX>1155</locationX>
        <locationY>201</locationY>
        <connector>
            <targetReference>Check_Delete_List_is_not_Empty</targetReference>
        </connector>
        <inputReference>UpdateYouthAssessmentRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>738</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Summary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Child_Name</name>
                    <fieldText>&lt;p&gt;Child Name:    {!Contact_Record.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth</name>
                    <fieldText>&lt;p&gt;Date of Birth: {!dateOfBirth}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Summary_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Entered_Foster_Care</name>
                    <fieldText>&lt;p&gt;Date Entered Foster Care: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!dateEnteredFosterCare}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case</name>
                    <fieldText>&lt;p&gt;Case #:{!Summary_Records.Service_Case__r.Intake__r.CaseNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Permanency_Plan_Goal</name>
                    <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Permanency Plan Goal:  {!Get_Permanency_Plan_Record.Primary_Permanency_Plan__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Worker_Name</name>
                    <fieldText>&lt;p&gt;Case Worker Name:  {!createdUsername}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Summary_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Transition_Plan_Completed</name>
                    <fieldText>&lt;p&gt;Date Transition Plan Completed: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!dateTransitionPlanCompleted}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Twelve_Month</name>
                    <fieldText>&lt;p&gt;Twelve Month Transition Plan Follow Up Date: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!twelveMonthTransitionPlanDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EmptySpace</name>
            <fieldText>&lt;p&gt;         &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Summary_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Youth_Assessment__c</objectType>
    </variables>
    <variables>
        <name>createdUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateYouthAssessmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Youth_Assessment__c</objectType>
    </variables>
    <variables>
        <name>DeleteYouthAssessment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Youth_Assessment__c</objectType>
    </variables>
    <variables>
        <name>ListsFromFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Youth_Assessment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateYouthAssessmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Youth_Assessment__c</objectType>
    </variables>
    <variables>
        <name>YouthAssessmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Youth_Assessment__c</objectType>
    </variables>
</Flow>
