force-app/main/default/flows/Youth_Transition_Plan_Money_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approved_Toast</name>
        <label>Approved Toast</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submitted_toast</name>
        <label>Submitted toast</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already submitted for approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Record saved successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_contact_name_and_Id_to_list</name>
        <label>Assign contact name and Id to list</label>
        <locationX>468</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ListofContactsNameId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactNameId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_value_to_goal_record</name>
        <label>Assign default value to goal record</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>goalRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Money Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>goalRecord.Youth_Transition_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_junction_object_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_contact_name_and_Id</name>
        <label>Get contact name and Id</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contacts.Person__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contacts.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_contact_name_and_Id_to_list</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Do_you_currently_have_a</name>
        <choiceText>{!Get_Youth_Transition_Money_Management_Record.Do_you_currently_have_a__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Youth_Transition_Money_Management_Record.Do_you_currently_have_a__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_Goal_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Youth_Transition_Money_Management_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Toast</targetReference>
            </connector>
            <label>If approved</label>
        </rules>
        <rules>
            <name>If_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Youth_Transition_Money_Management_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_toast</targetReference>
            </connector>
            <label>If submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_delete_goal_lists</name>
        <label>Check delete goal lists</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Save_Money_Management</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteGoalLists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_goal_records</targetReference>
            </connector>
            <label>If null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Are_you_saving_money_to_support_yourself</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_you_saving_money_to_support_yourself__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Do_you_currently_keep_a_monthly_budget</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_currently_keep_a_monthly_budget__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoyouCurrently</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_currently_have_a__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoYouCurrentlyHaveA</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_currently_have_a__c</picklistField>
        <picklistObject>Youth_Transition_Plan__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Have_you_received_a_free_copy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_you_received_a_free_copy__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>he_importance_of_having_a_bank_accountpick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>The_importance_of_having_a_bank_account__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>If_there_any_inaccuracies_in_your_credit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_there_any_inaccuracies_in_your_credit__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Why_credit_history_is_so_importantpick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_credit_history_is_so_important__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Your_credit_scorepick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Your_credit_score__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>contactNameId</name>
        <dataType>String</dataType>
        <expression>{!contactName}+{!contactId}</expression>
    </formulas>
    <interviewLabel>Youth Transition Plan Money Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youth Transition Plan Money Management</label>
    <loops>
        <name>Loop_through_contacts</name>
        <label>Loop through contacts</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_junction_object_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_contact_name_and_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Money_Management_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Goal_records</name>
        <label>Create Goal records</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_goal_records</targetReference>
        </connector>
        <inputReference>createGoalLists</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_goal_records</name>
        <label>Delete goal records</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <inputReference>deleteGoalLists</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Goal_Records</name>
        <label>Get Goal Records</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_value_to_goal_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Money Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Youth_Transition_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Short_term_goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_junction_object_records</name>
        <label>Get junction object records</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Youth_Transition_Money_Management_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Youth_Transition_Money_Management_Record</name>
        <label>Get Youth Transition Money Management Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Goal_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Youth_Transition_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Money_Management</name>
        <label>Save Money Management</label>
        <locationX>842</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_you_saving_money_to_support_yourself__c</field>
            <value>
                <elementReference>Are_you_saving_money_to_support_yourself_after_you_leave_foster_care</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_amount_saved__c</field>
            <value>
                <elementReference>Current_amount_saved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_The_importance_of_having__c</field>
            <value>
                <elementReference>DescriptionImportance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Why_credit_history_is_so__c</field>
            <value>
                <elementReference>DescriptionCreditHistory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Your_credit_score__c</field>
            <value>
                <elementReference>DescriptionCreditScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_currently_have_a__c</field>
            <value>
                <elementReference>Do_you_currently_have</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_currently_keep_a_monthly_budget__c</field>
            <value>
                <elementReference>Do_you_currently_keep_a_monthly_budget_of_your_expenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal__c</field>
            <value>
                <elementReference>Goal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_received_a_free_copy__c</field>
            <value>
                <elementReference>Have_you_received_a_free_copy_of_your_annual_credit_reports_from_the_3_credit_re</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_there_any_inaccuracies_in_your_credit__c</field>
            <value>
                <elementReference>If_there_any_inaccuracies_in_your_credit_report_were_you_given_any_assistance_in</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Amount__c</field>
            <value>
                <elementReference>Monthly_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_importance_of_having_a_bank_account__c</field>
            <value>
                <elementReference>The_importance_of_having_a_bank_account_i_e_savings_checking_and_budgeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_current_source_of_income__c</field>
            <value>
                <elementReference>What_is_your_current_source_of_income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_credit_history_is_so_important__c</field>
            <value>
                <elementReference>Why_credit_history_is_so_important</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_credit_score__c</field>
            <value>
                <elementReference>Your_credit_score</elementReference>
            </value>
        </inputAssignments>
        <object>Youth_Transition_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_goal_records</name>
        <label>Update goal records</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Check_delete_goal_lists</targetReference>
        </connector>
        <inputReference>updateGoalLists</inputReference>
    </recordUpdates>
    <screens>
        <name>Money_Management_Screen</name>
        <label>Money Management Screen</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Money_Management_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Money_Management_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_currently_have</name>
                    <choiceReferences>DoyouCurrently</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Youth_Transition_Money_Management_Record.Do_you_currently_have_a__c</elementReference>
                    </defaultValue>
                    <fieldText>Do you currently have a</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Have_you_received_a_free_copy_of_your_annual_credit_reports_from_the_3_credit_re</name>
            <choiceReferences>Have_you_received_a_free_copy</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Youth_Transition_Money_Management_Record.Have_you_received_a_free_copy__c</elementReference>
            </defaultValue>
            <fieldText>Have you received a free copy of your annual credit reports from the 3 credit reporting agencies?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_there_any_inaccuracies_in_your_credit_report_were_you_given_any_assistance_in</name>
            <choiceReferences>If_there_any_inaccuracies_in_your_credit</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Youth_Transition_Money_Management_Record.If_there_any_inaccuracies_in_your_credit__c</elementReference>
            </defaultValue>
            <fieldText>If there any inaccuracies in your credit report, were you given any assistance in how to correct it?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Money_Management_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Money_Management_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_your_current_source_of_income</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Youth_Transition_Money_Management_Record.What_is_your_current_source_of_income__c</elementReference>
                    </defaultValue>
                    <fieldText>What is your current source of income?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Money_Management_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monthly_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Youth_Transition_Money_Management_Record.Monthly_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Monthly Amount?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_currently_keep_a_monthly_budget_of_your_expenses</name>
            <choiceReferences>Do_you_currently_keep_a_monthly_budget</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Youth_Transition_Money_Management_Record.Do_you_currently_keep_a_monthly_budget__c</elementReference>
            </defaultValue>
            <fieldText>Do you currently keep a monthly budget of your expenses?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_you_saving_money_to_support_yourself_after_you_leave_foster_care</name>
            <choiceReferences>Are_you_saving_money_to_support_yourself</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Youth_Transition_Money_Management_Record.Are_you_saving_money_to_support_yourself__c</elementReference>
            </defaultValue>
            <fieldText>Are you saving money to support yourself after you leave foster care?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Money_Management_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Money_Management_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_amount_saved</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Youth_Transition_Money_Management_Record.Current_amount_saved__c</elementReference>
                    </defaultValue>
                    <fieldText>Current amount saved</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Money_Management_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Goal</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Youth_Transition_Money_Management_Record.Goal__c</elementReference>
                    </defaultValue>
                    <fieldText>Goal $</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ShortTermGoalHeading</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SHORT TERM GOALS/NEXT STEPS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shortTermgoals</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Short_term_goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:youthTransitionPlanShortTermGoal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>ListofContactsNameId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalRec</name>
                <value>
                    <elementReference>goalRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalList</name>
                <value>
                    <elementReference>Get_Goal_Records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>createGoalLists</assignToReference>
                <name>createLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleteGoalLists</assignToReference>
                <name>deleteLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updateGoalLists</assignToReference>
                <name>updateLists</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Doyouknow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;??DO YOU KNOW...??&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Money_Management_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Money_Management_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Your_credit_score</name>
                    <choiceReferences>Your_credit_scorepick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Youth_Transition_Money_Management_Record.Your_credit_score__c</elementReference>
                    </defaultValue>
                    <fieldText>Your credit score?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Money_Management_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionCreditScore</name>
                    <defaultValue>
                        <stringValue>{!Get_Youth_Transition_Money_Management_Record.Description_Your_credit_score__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Money_Management_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Money_Management_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Why_credit_history_is_so_important</name>
                    <choiceReferences>Why_credit_history_is_so_importantpick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Youth_Transition_Money_Management_Record.Why_credit_history_is_so_important__c</elementReference>
                    </defaultValue>
                    <fieldText>Why credit history is so important?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Money_Management_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionCreditHistory</name>
                    <defaultValue>
                        <stringValue>{!Get_Youth_Transition_Money_Management_Record.Description_Why_credit_history_is_so__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Money_Management_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Money_Management_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>The_importance_of_having_a_bank_account_i_e_savings_checking_and_budgeting</name>
                    <choiceReferences>he_importance_of_having_a_bank_accountpick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Youth_Transition_Money_Management_Record.The_importance_of_having_a_bank_account__c</elementReference>
                    </defaultValue>
                    <fieldText>The importance of having a bank account (i.e. savings/checking) and budgeting?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Money_Management_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionImportance</name>
                    <defaultValue>
                        <stringValue>{!Get_Youth_Transition_Money_Management_Record.Description_The_importance_of_having__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Youth_Transition_Money_Management_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>deleteGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>goalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>ListofContactsNameId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
</Flow>
