force-app/main/default/flows/Youth_Transition_Plan_Employment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approved_toast</name>
        <label>Approved toast</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1018</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submitted_toast</name>
        <label>Submitted toast</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already submitted for approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Record saved successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_contact_name_and_Id_to_list</name>
        <label>Add contact name and Id to list</label>
        <locationX>468</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ListOfContactsNameId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NameId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_values_to_goal_record</name>
        <label>Assign default values to goal record</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>goalRecord.Youth_Transition_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>goalRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Contact_name_and_Id</name>
        <label>Get Contact name and Id</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Person__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_name_and_Id_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_goal_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Employement_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_toast</targetReference>
            </connector>
            <label>If approved</label>
        </rules>
        <rules>
            <name>If_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Employement_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_toast</targetReference>
            </connector>
            <label>If submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_delete_goal_lists</name>
        <label>Check delete goal lists</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Save_Employment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteGoalList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_goal_records</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>About_Maryland_RISE_workforce_developmen</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Maryland_RISE_workforce_developmen__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>About_the_career_assessment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_the_career_assessment__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Have_you_developed_a_career_development</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_you_developed_a_career_development__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>How_to_find_assistance_with_applying</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_to_find_assistance_with_applying__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Where_to_find_help_with_interviewing_ski</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Where_to_find_help_with_interviewing_ski__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NameId</name>
        <dataType>String</dataType>
        <expression>{!contactName}+{!contactId}</expression>
    </formulas>
    <interviewLabel>Youth Transition Plan Employment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youth Transition Plan Employment</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_name_and_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Employment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_goal_records</name>
        <label>Create goal records</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_goal_records</targetReference>
        </connector>
        <inputReference>createGoalLists</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_goal_records</name>
        <label>Delete goal records</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Save_Employment</targetReference>
        </connector>
        <inputReference>deleteGoalList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Employement_Record</name>
        <label>Employement Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Goal_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Youth_Transition_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employement_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Goal_records</name>
        <label>Goal records</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_values_to_goal_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Youth_Transition_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Short_term_goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Employment</name>
        <label>Save Employment</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>About_Maryland_RISE_workforce_developmen__c</field>
            <value>
                <elementReference>About_Maryland_RISE_workforce_development_program</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_the_career_assessment__c</field>
            <value>
                <elementReference>About_the_career_assessment_at_your_school</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Employment_Status__c</field>
            <value>
                <elementReference>Current_Employment_Status_Job_search_Skills_needed_If_employed_how_do_you_mainta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_About_Maryland_RISE__c</field>
            <value>
                <elementReference>DescriptionAboutMaryland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_About_the_career_assessmen__c</field>
            <value>
                <elementReference>DescriptionAboutTheCareerAssessment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Have_you_developed_a_caree__c</field>
            <value>
                <elementReference>DescriptionHaveYouDevelopedCareer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_How_to_find_assistance__c</field>
            <value>
                <elementReference>DescriptionHowtoFindAssistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Where_to_find_help__c</field>
            <value>
                <elementReference>DescriptionWhereToFindHelp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_goals_or_plans_for_employment__c</field>
            <value>
                <elementReference>Future_goals_or_plans_for_employment_career_What_career_field_do_you_want_to_pur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_developed_a_career_development__c</field>
            <value>
                <elementReference>Have_you_developed_a_career_development_framework_Be_sure_to_share_this_informat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_to_find_assistance_with_applying__c</field>
            <value>
                <elementReference>How_to_find_assistance_with_applying_for_summer_youth_employment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_to_find_help_with_interviewing_ski__c</field>
            <value>
                <elementReference>Where_to_find_help_with_interviewing_skills_resume_building_appropriate_dressing</elementReference>
            </value>
        </inputAssignments>
        <object>Youth_Transition_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_goal_records</name>
        <label>Update goal records</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Check_delete_goal_lists</targetReference>
        </connector>
        <inputReference>updateGoalList</inputReference>
    </recordUpdates>
    <screens>
        <name>Employment</name>
        <label>Employment</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Current_Employment_Status_Job_search_Skills_needed_If_employed_how_do_you_mainta</name>
            <defaultValue>
                <stringValue>{!Employement_Record.Current_Employment_Status__c}</stringValue>
            </defaultValue>
            <fieldText>Current Employment Status:(Job search?Skills needed ? If employed,how do you maintain employment?If unemployed, how will you maintain employment?)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Future_goals_or_plans_for_employment_career_What_career_field_do_you_want_to_pur</name>
            <defaultValue>
                <stringValue>{!Employement_Record.Future_goals_or_plans_for_employment__c}</stringValue>
            </defaultValue>
            <fieldText>Future goals or plans for employment/career : (What career field do you want to pursue? How will you gain the skills necessary for your career goals? Who can help you obtain experience in this career area?Any plans for job shadowing or internship?)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShorttermgoalHeading</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SHORT TERM GOALS/NEXT STEPS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shortTermgoals</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Short_term_goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:youthTransitionPlanShortTermGoal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>ListOfContactsNameId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalRec</name>
                <value>
                    <elementReference>goalRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalList</name>
                <value>
                    <elementReference>Goal_records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>createGoalLists</assignToReference>
                <name>createLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleteGoalList</assignToReference>
                <name>deleteLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updateGoalList</assignToReference>
                <name>updateLists</name>
            </outputParameters>
        </fields>
        <fields>
            <name>doYouKnow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;??DO YOU KNOW...??&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_to_find_assistance_with_applying_for_summer_youth_employment</name>
                    <choiceReferences>How_to_find_assistance_with_applying</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Employement_Record.How_to_find_assistance_with_applying__c</elementReference>
                    </defaultValue>
                    <fieldText>How to find assistance with applying for summer youth employment?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionHowtoFindAssistance</name>
                    <defaultValue>
                        <stringValue>{!Employement_Record.Description_How_to_find_assistance__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Employment_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employment_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>About_Maryland_RISE_workforce_development_program</name>
                    <choiceReferences>About_Maryland_RISE_workforce_developmen</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Employement_Record.About_Maryland_RISE_workforce_developmen__c</elementReference>
                    </defaultValue>
                    <fieldText>About Maryland RISE workforce development program?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employment_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionAboutMaryland</name>
                    <defaultValue>
                        <stringValue>{!Employement_Record.Description_About_Maryland_RISE__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Employment_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employment_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>About_the_career_assessment_at_your_school</name>
                    <choiceReferences>About_the_career_assessment</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Employement_Record.About_the_career_assessment__c</elementReference>
                    </defaultValue>
                    <fieldText>About the career assessment at your school?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employment_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionAboutTheCareerAssessment</name>
                    <defaultValue>
                        <stringValue>{!Employement_Record.Description_About_the_career_assessmen__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Employment_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employment_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_you_developed_a_career_development_framework_Be_sure_to_share_this_informat</name>
                    <choiceReferences>Have_you_developed_a_career_development</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Employement_Record.Have_you_developed_a_career_development__c</elementReference>
                    </defaultValue>
                    <fieldText>Have you developed a career development framework?Be sure to share this information with your worker</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employment_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionHaveYouDevelopedCareer</name>
                    <defaultValue>
                        <stringValue>{!Employement_Record.Description_Have_you_developed_a_caree__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Employment_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employment_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Where_to_find_help_with_interviewing_skills_resume_building_appropriate_dressing</name>
                    <choiceReferences>Where_to_find_help_with_interviewing_ski</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Employement_Record.Where_to_find_help_with_interviewing_ski__c</elementReference>
                    </defaultValue>
                    <fieldText>Where to find help with interviewing skills,resume building, appropriate dressing, and proper behavior in the workplace?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employment_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionWhereToFindHelp</name>
                    <defaultValue>
                        <stringValue>{!Employement_Record.Description_Where_to_find_help__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Employement_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>deleteGoalList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>goalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>ListOfContactsNameId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateGoalList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
</Flow>
