force-app/main/default/flows/Youth_Transition_youth_thoughts_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approved_Toast</name>
        <label>Approved Toast</label>
        <locationX>557</locationX>
        <locationY>416</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>error_toast</name>
        <label>error toast</label>
        <locationX>746</locationX>
        <locationY>412</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submitted_toast</name>
        <label>Submitted toast</label>
        <locationX>555</locationX>
        <locationY>41</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already submitted for approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>996</locationX>
        <locationY>207</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Record Saved Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>547</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Save_youth_thoughts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_as_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Youth_Thought_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Toast</targetReference>
            </connector>
            <label>If Status as Approved</label>
        </rules>
        <rules>
            <name>If_status_as_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Youth_Thought_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_toast</targetReference>
            </connector>
            <label>If status as submitted</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>The_State_of_Maryland_benchmark_policy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>The_State_of_Maryland_benchmark_policy__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>What_information_is_needed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_information_is_needed__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Which_clinics_doctor_offices_access</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Which_clinics_doctor_offices_access__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>You_must_inform_your_caseworker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>You_must_inform_your_caseworker__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Youth Transition youth thoughts flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youth Transition youth thoughts flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Youth_Thought_Record</name>
        <label>Youth Thought Record</label>
        <locationX>176</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Youth_thought</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Youth_Transition_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_youth_thoughts</name>
        <label>Save youth thoughts</label>
        <locationX>743</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_toast</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description_The_State_of_Maryland__c</field>
            <value>
                <elementReference>Description_The_State_of_Maryland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_What_information_is_needed__c</field>
            <value>
                <elementReference>Description_What_s_needed_to_get</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Which_clinics_doctor__c</field>
            <value>
                <elementReference>Description_Which_clinics_doctor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_You_must_inform_caseworker__c</field>
            <value>
                <elementReference>Description_You_must_inform_caseworker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issues_Concerns__c</field>
            <value>
                <elementReference>ISSUES_CONCERNS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Delivery_Needs__c</field>
            <value>
                <elementReference>SERVICE_DEVELIVERY_AND_NEEDS_Please_list_services_youth_currently_uses_and_or_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_State_of_Maryland_benchmark_policy__c</field>
            <value>
                <elementReference>The_State_of_Maryland_has_a_benchmark_policy_that_outlines_all_the_information_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_information_is_needed__c</field>
            <value>
                <elementReference>What_information_needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_clinics_doctor_offices_access__c</field>
            <value>
                <elementReference>Which_clinics_doctor_offices_you_can_access_with_your_insurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>You_must_inform_your_caseworker__c</field>
            <value>
                <elementReference>You_must_inform_your_caseworker_of_any_address_changes_to_receive_health_coverag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Youth_s_Strength__c</field>
            <value>
                <elementReference>YOUTH_S_STRENTHS</elementReference>
            </value>
        </inputAssignments>
        <object>Youth_Transition_Plan__c</object>
    </recordUpdates>
    <screens>
        <name>Youth_thought</name>
        <label>Youth thought</label>
        <locationX>389</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>YOUTH_S_STRENTHS</name>
            <defaultValue>
                <stringValue>{!Youth_Thought_Record.Youth_s_Strength__c}</stringValue>
            </defaultValue>
            <fieldText>YOUTH&apos;S STRENGTHS</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ISSUES_CONCERNS</name>
            <defaultValue>
                <stringValue>{!Youth_Thought_Record.Issues_Concerns__c}</stringValue>
            </defaultValue>
            <fieldText>ISSUES/CONCERNS</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SERVICE_DEVELIVERY_AND_NEEDS_Please_list_services_youth_currently_uses_and_or_id</name>
            <defaultValue>
                <stringValue>{!Youth_Thought_Record.Service_Delivery_Needs__c}</stringValue>
            </defaultValue>
            <fieldText>SERVICE DEVELIVERY AND NEEDS(Please list services youth currently uses and/or identifies immediate needs)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Youth_thought_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Youth_thought_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Youth_thought_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DOYOUKNOW</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;                 ??DO YOU KNOW...??&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Youth_thought_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DoyouknowText</name>
            <fieldText>&lt;p&gt;On the following pages, key questions and facts are listed in the &quot;Do You Know section to give a heads up on things you should know should seek out from your local department. For example, read the questions below, if you check &quot;No&quot; to any of the following, we encourage you to gather more information from your social worker. The following questions are particularly important as you think about maintaining your health as a an adult: Do you know..?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Youth_thought_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Youth_thought_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_information_needed</name>
                    <choiceReferences>What_information_is_needed</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Youth_Thought_Record.What_information_is_needed__c</elementReference>
                    </defaultValue>
                    <fieldText>What Information is needed for medical coverage after foster care? (Coverage plans, etc.)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Youth_thought_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_What_s_needed_to_get</name>
                    <defaultValue>
                        <stringValue>{!Youth_Thought_Record.Description_What_information_is_needed__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Youth_thought_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Youth_thought_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Which_clinics_doctor_offices_you_can_access_with_your_insurance</name>
                    <choiceReferences>Which_clinics_doctor_offices_access</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Youth_Thought_Record.Which_clinics_doctor_offices_access__c</elementReference>
                    </defaultValue>
                    <fieldText>Which clinics/doctor offices you can access with your insurance?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Youth_thought_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_Which_clinics_doctor</name>
                    <defaultValue>
                        <stringValue>{!Youth_Thought_Record.Description_Which_clinics_doctor__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Youth_thought_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Youth_thought_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>You_must_inform_your_caseworker_of_any_address_changes_to_receive_health_coverag</name>
                    <choiceReferences>You_must_inform_your_caseworker</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Youth_Thought_Record.You_must_inform_your_caseworker__c</elementReference>
                    </defaultValue>
                    <fieldText>You must inform your caseworker of any address changes to receive health coverage after care.</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Youth_thought_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_You_must_inform_caseworker</name>
                    <defaultValue>
                        <stringValue>{!Youth_Thought_Record.Description_You_must_inform_caseworker__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Youth_thought_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Youth_thought_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>The_State_of_Maryland_has_a_benchmark_policy_that_outlines_all_the_information_a</name>
                    <choiceReferences>The_State_of_Maryland_benchmark_policy</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Youth_Thought_Record.The_State_of_Maryland_benchmark_policy__c</elementReference>
                    </defaultValue>
                    <fieldText>The State of Maryland has a benchmark policy that outlines all the information and tools you should receive by age 14, 15, 16, 17 and 18? (Ask your social worker for a copy of Benchmark Policy)2</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Youth_thought_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_The_State_of_Maryland</name>
                    <defaultValue>
                        <stringValue>{!Youth_Thought_Record.Description_The_State_of_Maryland__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Youth_Thought_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
