force-app/main/default/flows/Youth_Transition_Plan_Supportive_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approved_toast</name>
        <label>Approved toast</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>1018</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submitted_toast</name>
        <label>Submitted toast</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Youth Transition Plan record is already submitted for approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <actionName>c:FlowToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Record saved successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_contact_name_and_id_in_list</name>
        <label>Add contact name and id in list</label>
        <locationX>468</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ListOfContactsNameId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactNameId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_values_in_goal_record</name>
        <label>Assign default values in goal record</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>goalrecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Supportive Relationships</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>goalrecord.Youth_Transition_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Junction_Object_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_contacts_name_and_id</name>
        <label>Get contacts name and id</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contacts.Person__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contacts.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_name_and_id_in_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_goal_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_toast</targetReference>
            </connector>
            <label>If approved</label>
        </rules>
        <rules>
            <name>If_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_toast</targetReference>
            </connector>
            <label>If submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_delete_goal_lists</name>
        <label>Check delete goal lists</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Save_Supportive_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteGoallists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_goal_lists</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Are_you_currently_involved_in_community</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_you_currently_involved_in_community__c</picklistField>
        <picklistObject>Youth_Transition_Plan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>contactNameId</name>
        <dataType>String</dataType>
        <expression>{!contactName}+{!contactId}</expression>
    </formulas>
    <interviewLabel>Youth Transition Plan Supportive Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Youth Transition Plan Supportive Relationship</label>
    <loops>
        <name>Loop_through_contacts</name>
        <label>Loop through contacts</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Junction_Object_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_contacts_name_and_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Supportive_Relationship</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_goal_records</name>
        <label>Create goal records</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_goal_records</targetReference>
        </connector>
        <inputReference>createGoalLists</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_goal_lists</name>
        <label>Delete goal lists</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Save_Supportive_Relationship</targetReference>
        </connector>
        <inputReference>deleteGoallists</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_goal_records</name>
        <label>Get goal records</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_values_in_goal_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supportive Relationships</stringValue>
            </value>
        </filters>
        <filters>
            <field>Youth_Transition_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Short_term_goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Object_Records</name>
        <label>Get Junction Object Records</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Relationship_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Relationship_Record</name>
        <label>Relationship Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_goal_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Youth_Transition_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Supportive_Relationship</name>
        <label>Save Supportive Relationship</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_you_currently_involved_in_community__c</field>
            <value>
                <elementReference>Are_you_currently_involved_in_your_community</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_spiritual_support_church__c</field>
            <value>
                <elementReference>Do_you_have_a_spiritual_support_church_organization_Name_Contact_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Efforts_to_identify_additional_adult__c</field>
            <value>
                <elementReference>Efforts_to_identify_additional_adult_supports_and_mentors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_long_term_goal_to_build_or_maintain__c</field>
            <value>
                <elementReference>My_long_term_goal_to_build_or_maintain_strong_relationships_with_supportive_adul</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_is_currently_your_support_system__c</field>
            <value>
                <elementReference>Who_is_currently_your_support_system_Why_do_you_feel_closely_connected_to_How_ar</elementReference>
            </value>
        </inputAssignments>
        <object>Youth_Transition_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_goal_records</name>
        <label>Update goal records</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Check_delete_goal_lists</targetReference>
        </connector>
        <inputReference>updateGoallists</inputReference>
    </recordUpdates>
    <screens>
        <name>Supportive_Relationship</name>
        <label>Supportive Relationship</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Heading</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SUPPORTIVE RELATIONSHIPS AND COMMUNITY CONNECTIONS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_is_currently_your_support_system_Why_do_you_feel_closely_connected_to_How_ar</name>
            <defaultValue>
                <stringValue>{!Relationship_Record.Who_is_currently_your_support_system__c}</stringValue>
            </defaultValue>
            <fieldText>Who is currently your support system? Why do you feel closely connected to ? How are they support?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Efforts_to_identify_additional_adult_supports_and_mentors</name>
            <defaultValue>
                <stringValue>{!Relationship_Record.Efforts_to_identify_additional_adult__c}</stringValue>
            </defaultValue>
            <fieldText>Efforts to identify additional adult supports and mentors</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_you_currently_involved_in_your_community</name>
            <choiceReferences>Are_you_currently_involved_in_community</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Relationship_Record.Are_you_currently_involved_in_community__c</elementReference>
            </defaultValue>
            <fieldText>Are you currently involved in your community?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_a_spiritual_support_church_organization_Name_Contact_Information</name>
            <defaultValue>
                <stringValue>{!Relationship_Record.Do_you_have_a_spiritual_support_church__c}</stringValue>
            </defaultValue>
            <fieldText>Do you have a spiritual support/church organization?(Name,Contact Information)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>shortTermgoalsHeading</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SHORT TERM GOALS/NEXT STEPS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shortTermgoals</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Short_term_goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:youthTransitionPlanShortTermGoal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>ListOfContactsNameId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalRec</name>
                <value>
                    <elementReference>goalrecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>goalList</name>
                <value>
                    <elementReference>Get_goal_records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>createGoalLists</assignToReference>
                <name>createLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleteGoallists</assignToReference>
                <name>deleteLists</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updateGoallists</assignToReference>
                <name>updateLists</name>
            </outputParameters>
        </fields>
        <fields>
            <name>My_long_term_goal_to_build_or_maintain_strong_relationships_with_supportive_adul</name>
            <defaultValue>
                <stringValue>{!Relationship_Record.My_long_term_goal_to_build_or_maintain__c}</stringValue>
            </defaultValue>
            <fieldText>My long term goal to build or maintain strong relationships with supportive adults is.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Relationship_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createGoalLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>deleteGoallists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>goalrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
    <variables>
        <name>ListOfContactsNameId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateGoallists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Short_term_goal__c</objectType>
    </variables>
</Flow>
